<div id="settings-view" class="container marge">

	<div class="content">
		<div class="page-header">
			<a class="ur-sm-avatar" href="#profile" rel="tip" data-placement="right" data-original-title="Mister Fabulous (You)"><img class="thumbnail" src="./assets/img/ruso.png" style="width:36px; height:36px;" alt=""></a>
			<h1>Settings <small>Protect your privacy..</small></h1>
		</div>

		<div class="row">
			<!-- <h3>Other stuff</h3> -->
			<div class="span3 sidebar tabs-left">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#settings-account" data-toggle="tab">Account</a></li>
					<li class=""><a href="#settings-privacy" data-toggle="tab">Privacy</a></li>
				</ul>
			</div>

			<div class="tab-content span9">

				<div class="tab-pane active" id="settings-account">
					<!-- <h4>Account</h4> -->
					<form class="form-horizontal">
						<fieldset>
							<legend>account settings</legend>
							<div class="control-group">
								<label class="control-label">Public profile</label>
								<div class="controls">
									<select class="medium chzn-select" multiple data-placeholder="Display only.." name="ps-profile" id="ps-profile">
										<option>Public</option>
										<option>Friends</option>
										<option>Me</option>
									</select>
									<p class="help-block">Who gets to see the information in your profile?</p>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">My Closet</label>
								<div class="controls">
									<select class="medium chzn-select" multiple data-placeholder="Display only to.." name="ps-closet" id="ps-closet">
										<option>Public</option>
										<option>Friends</option>
										<option>Me</option>
									</select>
									<p class="help-block">Who gets to see your closet?</p>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">My Buzz</label>
								<div class="controls">
									<select class="medium chzn-select" multiple data-placeholder="Show only to.." name="ps-buzz" id="ps-buzz">
										<option>Public</option>
										<option>Friends</option>
										<option>Me</option>
									</select>
									<p class="help-block">Who gets to see your buzz?</p>
								</div>
							</div>

							<div class="alert alert-block">
								<h4 class="alert-heading">Notice!</h4>
								<p>We take your privacy super seriously, Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
							</div>

							<div class="control-group">
								<label class="control-label" for="optionsCheckbox">Deactivate</label>
								<div class="controls">
									<label class="checkbox">
										<input type="checkbox" id="optionsCheckbox" value="option1">
										Check this box to "Deactivate" your profile.  (You'll still be able to log-in and modify your settings.)
									</label>
								</div>
							</div>
						</fieldset>
					</form>
				</div>

				<div class="tab-pane" id="settings-privacy">
					<!-- <h4>Privacy</h4> -->
					<form class="form-horizontal">
						<fieldset>
							<legend>privacy settings</legend>

							<div class="control-group">
								<label class="control-label" for="prependedInput">Groups</label>
								<div class="controls">
									<button class="btn btn-primary large">Manage groups</button>
									<p class="help-block">Groups are a collection of friends. By default, your groups and their members are only visible to you, although you can specify whether your group members are visible in your public profile.</p>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="optionsCheckboxList">Checkboxes</label>
								<div class="controls">
									<label class="checkbox">
										<input type="checkbox" name="optionsCheckboxList1" value="option1">
										Option one is this and that—be sure to include why it’s great
									</label>
									<label class="checkbox">
										<input type="checkbox" name="optionsCheckboxList2" value="option2">
										Option two can also be checked and included in form results
									</label>
									<label class="checkbox">
										<input type="checkbox" name="optionsCheckboxList3" value="option3">
										Option three can—yes, you guessed it—also be checked and included in form results
									</label>
									<p class="help-block"><strong>Note:</strong> Labels surround all the options for much larger click areas and a more usable form.</p>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Radio buttons</label>
								<div class="controls">
									<label class="radio">
										<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
										Option one is this and that—be sure to include why it’s great
									</label>
									<label class="radio">
										<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
										Option two can is something else and selecting it will deselect option one
									</label>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>

		</div>

	</div>
</div> <!-- /container -->
<script>
!function ($) {
	$(function(){

		$(".chzn-select").chosen().change(function(){
			var filter = $(this).val();
			alert('selected: ' + filter);
		});

	})
}(window.jQuery)
</script>