<div id="buzz-view" class="container marge">

	<!-- Masthead
	================================================== -->
	<header class="jumbotron subhead" id="buzz-overview">
		<h1>Buzz</h1>
		<p class="lead">Your notifications and activities on Fazzle</p>
		<div class="subnav ar">
			<div id="buzz-controls" class="btn-toolbar page-controls">
				<select class="chzn-select" name="monthSelect" id="singleMonthSelect" data-placeholder="Place in..">
					<option value="#janurary12">Jan '12</option>
					<option value="#december11">Dec '11</option>
				</select>
			</div>
		</div>
	</header>

	<hr/>

	<div id="buzz-container" class="buzz-container">

		<!-- MONTH SEPARATION JANURARY '12' BELOW -->
		<div class="buzz-row">
			<div class="buzz-left">
				<h2 id="janurary12">Janurary</h2>
			</div>
			<div class="buzz-right">
				<h2>2012</h2>
			</div>
		</div>

		<div class="buzz-row">
			<div class="buzz-left">
				<a href="#profile" class="buzz-circle buzz-circle-small buzz-circle-deco">
					<img src="/assets/img/ruso.png">
				</a>
			</div>
			<div class="buzz-right">
				<a href="#profile" class="user">Mister Fabulous</a>
				<p>recomended these items to you</p>
				<div class="buzz-items">
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/69x69" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/69x69" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/69x69" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/69x69" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/69x69" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/69x69" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/69x69" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/69x69" alt="">
					</a>
				</div>
			</div>
		</div>

		<div class="buzz-row">
			<div class="buzz-left">
				<a href="#profile" class="buzz-circle buzz-circle-small buzz-circle-deco">
					<img src="/assets/img/ruso.png">
				</a>
			</div>
			<div class="buzz-right">
				<a href="#profile" class="user">Mister Fabulous</a>
				<p>liked your <a href="#closet/item">item name title</a> from your <a href="#closet/shelf">Shelf title</a></p>
			</div>
		</div>

		<div class="buzz-row">
			<div class="buzz-left">
				<a href="#profile" class="buzz-circle buzz-circle-small buzz-circle-deco">
					<img src="/assets/img/ruso.png">
				</a>
			</div>
			<div class="buzz-right">
				<a href="#profile" class="user">Mister Fabulous</a>
				<p>recomended these items to you</p>
				<div class="buzz-items">
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/96x96" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/96x96" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/96x96" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/96x96" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/96x96" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/96x96" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/96x96" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/96x96" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/96x96" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/96x96" alt="">
					</a>
				</div>
			</div>
		</div>

		<div class="buzz-row">
			<div class="buzz-left">
				<a href="#profile" class="buzz-circle buzz-circle-small buzz-circle-deco">
					<img src="/assets/img/ruso.png">
				</a>
			</div>
			<div class="buzz-right">
				<a href="#profile" class="user">Mister Fabulous</a>
				<p>liked your <a href="#closet/item">item name title</a> from your <a href="#closet/shelf">Shelf title</a></p>
			</div>
		</div>


		<!-- MONTH SEPARATION DECEMBER '11 BELOW -->
		<div class="buzz-row">
			<div class="buzz-left">
				<h2 id="december11">December</h2>
			</div>
			<div class="buzz-right">
				<h2>2011</h2>
			</div>
		</div>

		<div class="buzz-row">
			<div class="buzz-left">
				<a href="#profile" class="buzz-circle buzz-circle-small buzz-circle-deco">
					<img src="/assets/img/ruso.png">
				</a>
			</div>
			<div class="buzz-right">
				<a href="#profile" class="user">Mister Fabulous</a>
				<p>recomended these items to you</p>
				<div class="buzz-items">
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/111x111" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/111x111" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/111x111" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/111x111" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/111x111" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/111x111" alt="">
					</a>
				</div>
			</div>
		</div>

		<div class="buzz-row">
			<div class="buzz-left">
				<a href="#profile" class="buzz-circle buzz-circle-small buzz-circle-deco">
					<img src="/assets/img/ruso.png">
				</a>
			</div>
			<div class="buzz-right">
				<a href="#profile" class="user">Mister Fabulous</a>
				<p>liked your <a href="#closet/item">item name title</a> from your <a href="#closet/shelf">Shelf title</a></p>
			</div>
		</div>

		<div class="buzz-row">
			<div class="buzz-left">
				<a href="#profile" class="buzz-circle buzz-circle-small buzz-circle-deco">
					<img src="/assets/img/ruso.png">
				</a>
			</div>
			<div class="buzz-right">
				<a href="#profile" class="user">Mister Fabulous</a>
				<p>recomended these items to you</p>
				<div class="buzz-items">
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/69x69" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/69x69" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/69x69" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/69x69" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/69x69" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/69x69" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/69x69" alt="">
					</a>
					<a href="#closet/item" class="buzz-item">
						<img src="http://placehold.it/69x69" alt="">
					</a>
				</div>
			</div>
		</div>

		<div class="buzz-row">
			<div class="buzz-left">
				<a href="#profile" class="buzz-circle buzz-circle-small buzz-circle-deco">
					<img src="/assets/img/ruso.png">
				</a>
			</div>
			<div class="buzz-right">
				<a href="#profile" class="user">Mister Fabulous</a>
				<p>liked your <a href="#closet/item">item name title</a> from your <a href="#closet/shelf">Shelf title</a></p>
			</div>
		</div>

	</div>
	<h1 id="buzz-end">The Big Bang</h1>

</div> <!-- /buzz-view container -->
<script>
!function ($) {
	$(function(){


		// fix sub nav on scroll
		var $win = $(window)
			, $nav = $('.subnav')
			, navTop = $('.subnav').length && $('.subnav').offset().top - 40
			, isFixed = 0;

		processScroll();

		$win.on('scroll', processScroll);

		function processScroll() {
			var i, scrollTop = $win.scrollTop()
			if (scrollTop >= navTop && !isFixed) {
				isFixed = 1
				$nav.addClass('subnav-fixed')
			} else if (scrollTop <= navTop && isFixed) {
				isFixed = 0
				$nav.removeClass('subnav-fixed')
			}
		};


		$(".chzn-select").chosen().change(function(){
			var filter = $(this).val();
			alert(filter, 'success');
			window.location = filter;
		});

	

	})
}(window.jQuery)
</script>