.ac { text-align: center; }
.ar { text-align: right; }
.al { text-align: left; }

.inlined { display: inline-block; }
.relative { position: relative; }

.topbar { z-index: 900; }
#app-sections-nav li { line-height: 37px; }
#app-footer { margin-top: 42px; }

#page .marge { margin-top: 69px; }
.page-header { margin-bottom: 1px; }

#btn-logout { 
padding: 0;
line-height: 40px;
background: transparent;
margin-left: 13px;
}
#app-sections-nav .btn {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.secondary-nav .open .dropdown-toggle { color: #39F; }
.secondary-nav .dropdown-menu a {
text-shadow: 0 1px 0 #fff !important;
color: #37C !important;
}

.topbar-inner, .topbar .fill {
	background: transparent;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
}
.topbar-inner .container {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	max-height: 60px;
	padding: 10px 0;
	background: #f3f3f3;
}
.topbar div > ul .menu-dropdown, 
.topbar div > ul .dropdown-menu, 
.nav .menu-dropdown, .nav .dropdown-menu { background-color: #f6f6f6; }

.topbar h3 a:hover, .topbar .brand:hover, .topbar ul .active > a {
	background: transparent;
	color: #39F;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	text-decoration: none;
}
.topbar h3 {
	position: relative;
	display: inline-block;
	overflow: hidden;
	float: left;
}
.topbar a {
	color: #666;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.69);
}
.topbar div > ul a:hover {
	color: #39f;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.42);
	text-decoration: none;
}
.topbar h3 a, .topbar .brand {
	float: none;
	margin-left: 0;
	padding: 3px 20px 6px;
	font-size: 30px;
	color: #999;
	font-weight: bold;
}
.topbar h3 a em { color: violet; }
.topbar div > ul .menu-dropdown li a:hover, 
.topbar div > ul .dropdown-menu li a:hover, 
.nav .menu-dropdown li a:hover, 
.nav .dropdown-menu li a:hover {
background: #39F;
color: #fff !important;
text-shadow: 0 0 0 #000 !important;
}
a.menu::after, .dropdown-toggle::after { border-top: 4px solid #39F; }
.topbar input {
	background: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
}
.page-header .ur-sm-avatar {
display: inline-block;
margin-right: 13px;
}
.page-header h1 { display: inline-block; vertical-align: super; }

/* PROFILE PAGE */
.sidebar .media-grid { margin-left: 0; margin-bottom: 13px; }
.sidebar .media-grid a { margin: 1px; }
.sidebar figure { margin: 0; padding: 0; }
.sidebar .side-links { display: inline-block; }
.sidebar .btn { margin: 1px 0; }
.profile-well { margin-bottom: 0; padding: 6px; }
.shelves.well { padding: 9px; }
/* .like.active { background: pink; } */
.like.active::before { color: red; }
#profile-about .input div {
min-height: 24px;
padding-top: 6px;
font-weight: bold;
font-size: 1.2em;
line-height: normal;
}
#profile-about .editing {
border: 1px solid #39F;
padding-left: 6px;
border-image: initial;
}
#profile-view .more { margin-bottom: 3em; }
#profile-comments-toggle { padding-bottom: 0.3em; cursor: pointer; }
#profile-comments-toggle:before { content: ";"; font-family: 'WebSymbolsRegular'; margin-right: 0.3em; color: #39F;}
#profile-comments-toggle.active { border-bottom: 1px dotted #bbb; }
#profile-comments-toggle.active:before { content: ":"; font-family: 'WebSymbolsRegular'; margin-right: 0.3em; color: #37F;}
#profile-view .more, #profile-view .comment-body-wrap { display: none; }


/* RUNWAY PAGE */
.Mo {
background-image: url(//ssl.gstatic.com/s2/oz/images/stream/options_default.png);
cursor: pointer;
float: right;
height: 13px;
margin-right: -44px;
width: 13px;
}

.comment-body-wrap {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background-color: #fff;
clear: both;
font-size: 13px;
line-height: 1.4;
outline: none;
padding: 16px 21px;
position: relative;
word-wrap: break-word;
border-bottom: 1px solid #ddd;
border-left: 1px solid #ccc;
border-top: 1px solid #ddd;
border-right: 1px solid #ccc;
-webkit-transition:  border-left-color 0.42s ease-in-out;
-moz-transition:  border-left-color 0.42s ease-in-out;
-o-transition:  border-left-color 0.42s ease-in-out;
-ms-transition:  border-left-color 0.42s ease-in-out;
transition:  border-left-color 0.42s ease-in-out;
}
.comment-body-wrap:hover {
border-left-color: #39F;
}
.comment-wrap {
margin-left: 60px;
margin-right: 44px;
vertical-align: top;
}
.comment-author-link { font-weight: bold; }
.comment-author-image {
border: 0;
float: left;
display: inline-block;
height: 48px;
margin-left: -60px;
width: 48px;
}
.comment-meta a { color: #999; }
.comment-content { padding-top: 3px; text-overflow: ellipsis; }
.runway-comment-input { width: 98%; margin-bottom: 0.6em; }
.comment-actions { padding-bottom: 9px; }
.runway-reply-wrap { padding-top: 0.6em; }

.comment-gallery-wrap {padding-bottom: 12px; padding-top: 3px; text-overflow: ellipsis; }
.comment-gallery-body { margin-bottom: 9px; margin-top: 5px; }
.comment-gallery-poster {
border-width: 0;
cursor: pointer;
max-width: 402px;
overflow: hidden;
position: relative;
margin-bottom: 5px;
max-height: 301px;
}
.comment-gallery-thumb {
display: inline-block;
margin-right: 5px;
max-height: 46px;
max-width: 62px;
border-width: 0;
cursor: pointer;
float: left;
}
.load-more {
background-color:#FFFFFF;
border-color:#DDDDDD #AAAAAA #AAAAAA #DDDDDD;
border-style:solid;
border-width:1px;
display:block;
font-size:14px;
font-weight:bold;
height:22px;
line-height:1.5em;
margin-bottom:6px;
outline:medium none;
padding:6px 0;
text-align:center;
text-shadow:1px 1px 1px #FFFFFF;
}
.load-more:hover { border:1px solid #39F; text-decoration: none; }
.load-more:active { color:#666666; }

/* LOGIN PAGE */
#app-logo {
	display: block;
	margin: 0;
	padding: 6px 13px;
	font-size: 32px;
	color: #999;
	font-weight: bold;
}
#app-logo a:hover { text-decoration: none; }
#app-logo em { color: violet; }

#app-brand {
display: block;
position: fixed;
z-index: 9999;
top: 32px;
right: 32px;
width: 269px;
background: rgba(255, 255, 255, 0.69);
padding: 9px;
}
#app-brand .tabs {margin: 0;}
#app-brand .tab-content {
background: #fff;
text-align: center;
border: 1px solid #eee;
border-top: 0;
}
#login #password { margin-top: 3px; }
#btn-login { margin-top: 9px; width: 200px; }
#btn-facebook { margin-bottom: 9px; }
#btn-signup { margin-top: 13px; }
#login-register input { margin-bottom: 3px; }


/* FULL SCREEN ITEM VIEWER WITH COMMENTS*/
.fullscreen {
position: fixed;
z-index: 9999;
background: #fff;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: 0;
padding: 0;
width: 100%;
}
.fullscreen .page-header {
margin: 0;
height: 35px;
background: lavender;
}
.fullscreen .ur-sm-avatar {
margin: 0 13px 0 0;
padding: 0;
}
.fullscreen .page-header h1 {
vertical-align: top;
margin: 0;
padding: 0;
}
.fullscreen #fullscreen-sidebar { 
background: #eee; 
width: 420px; 
position: absolute;
top: 36px;
bottom: 0;
right: 0;
left: auto;
overflow-y: auto;
z-index: 10000;
}
.fullscreen .main-image-view {
background: #fff url(../img/tmp_share.jpg) no-repeat center center fixed;
-webkit-background-size: contain;
-moz-background-size: contain;
-o-background-size: contain;
background-size: contain;
position: absolute;
top: 36px;
bottom: 0;
left: 0;
right: 0;
}
#view-image-wrap {
margin: 0;
padding: 0;
text-align: center;
}
#fullscreen-sb-toggle {
position: absolute;
top: 3px;
right: 36px;
}
#fullscreen-close {
position: absolute;
top: 3px;
right: 6px;
}
#fullscreen-sb-toggle span { font-family: 'WebSymbolsRegular'; }




/* CLOSET PAGE */
.sidebar { position: relative; }
#closet-create-look {
	border: 1px dotted #39C;
	border-top: 0;
	padding: 9px;
	text-align: center;
	display: none;
}
#side-box1.sticky-active {
margin-top: 69px;
}