/* Vertical Accordion Style */
#page-login .va-container { max-width: 100%; margin: 0; }
#page-login .va-slice p {
font-size: 22px;
font-style: italic;
font-family: Georgia, serif;
background: rgba(255, 255, 255,0.81);
line-height: normal;
width: 63%;
padding: 0.3em;
}

.va-container{
	position:relative;
	margin: 42px auto;
	max-width: 700px;
}
.va-wrapper{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
	background:#000;
}
.va-slice{
	cursor:pointer;
	position:absolute;
	width:100%;
	left:0px;
	overflow:hidden;
}
.va-slice-1{
	background:#fff url(../img/vacordian/1.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.va-slice-2{
	background:#fff url(../img/vacordian/2.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.va-slice-3{
	background:#fff url(../img/vacordian/3.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.va-slice-4{
	background:#fff url(../img/vacordian/4.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.va-slice-5{
	background:#fff url(../img/vacordian/5.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.va-slice-l1{
	background:#fff url(../img/vacordian/l1.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.va-slice-l2{
	background:#fff url(../img/vacordian/l2.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.va-slice-l3{
	background:#fff url(../img/vacordian/l3.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.va-slice-l4{
	background:#fff url(../img/vacordian/l4.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.va-slice-l5{
	background:#fff url(../img/vacordian/l5.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.va-slice-color-1{
	background-color:#97c5eb;
}
.va-slice-color-2{
	background-color:#68ace5;
}
.va-slice-color-3{
	background-color:#0072cf;
}
.va-slice-color-4{
	background-color:#0039a6;
}
.va-slice-color-5{
	background-color:#00338e;
}
.va-title{
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform:uppercase;
	font-size:32px;
	margin-left:20px;
	color:#fff;
	text-shadow: 0px 0px 1px white;
}
.va-title-bg { background: rgba(0, 0, 0,0.42); }
.va-content {
	display: none;
	margin-left: 25px;
}
.va-slice p {
font-size: 22px;
font-style: italic;
font-family: Georgia, serif;
background: rgba(255, 255, 255,0.32);
padding: 3px;
}
.va-slice ul { }
.va-slice ul li {
	float:left;
	display: inline-block;
	margin:0px 2px;
}
.va-slice ul li a{ }
.va-slice ul li a:hover{ }
.va-nav span{
	width:42px;
	height:25px;
	background:transparent url(../img/vacordian/prev.png) no-repeat center center;
	position:absolute;
	top:-32px;
	left:50%;
	margin-left:-20px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	display:none;
	z-index:100;
}
.va-nav span.va-nav-next{
	background-image:url(../img/vacordian/next.png);
	top:auto;
	bottom:-32px;
}
.va-nav span:hover{
	opacity:1.0;
}