<link rel="stylesheet" href="css/carausel.css">

<div class="container marge">

	<div class="content">
		<div class="page-header">
			<h1>Mister Fabulous <small>Supporting text or tagline</small></h1>
		</div>

		<div class="row">
			<div class="span4 sidebar">
				<figure>
					<img class="thumbnail" src="http://placehold.it/220x300" alt="">
				</figure>
				<h3 id="tour-tabs">Friends</h3>
				<ul class="media-grid">
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
				</ul>
				<a href="#" class="side-links">Add friends..</a>

				<h3 id="tour-tabs">Groups</h3>
				<ul class="media-grid">
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
				</ul>
				<a href="#" class="side-links">Create a group..</a>
			</div>

			<div class="span12">

				<div class="profile-well ar">
					<button class="btn" data-toggle="toggle">Edit profile</button>
				</div>

				<ul rel="roundabout" class="unstyled roundabout">
					<li><span>Block 1</span></li>
					<li><span>Block 2</span></li>
					<li><span>Block 3</span></li>
					<li><span>Block 4</span></li>
					<li><span>Block 5</span></li>
					<li><span>Block 6</span></li>
					<li><span>Block 7</span></li>
					<li><span>Block 1a</span></li>
					<li><span>Block 2a</span></li>
					<li><span>Block 3a</span></li>
					<li><span>Block 4a</span></li>
					<li><span>Block 5a</span></li>
					<li><span>Block 6a</span></li>
					<li><span>Block 7a</span></li>
					<li><span>Block 1b</span></li>
					<li><span>Block 2b</span></li>
					<li><span>Block 3b</span></li>
					<li><span>Block 4b</span></li>
					<li><span>Block 5b</span></li>
					<li><span>Block 6b</span></li>
					<li><span>Block 7b</span></li>
				</ul>

				<div class="ac">
					<button class="btn">Like</button>
					<button class="btn">Dislike</button>
				</div>

				<ul class="tabs" data-tabs="tabs">
					<li class="active"><a href="#profile-about">About</a></li>
					<li><a href="#profile-shelves">Shelves</a></li>
				</ul>
				
				<div id="my-tab-content" class="tab-content">
					<div class="active tab-pane" id="profile-about">
						<h4>About</h4>
						<form>
						  <fieldset>
								<div class="clearfix">
								  <label for="fileInput">File input</label>
								  <div class="input">
								    <input class="input-file" id="fileInput" name="fileInput" type="file">
								  </div>
								</div><!-- /clearfix -->
						    <div class="clearfix">
						      <label for="xlInput">Fist name</label>
						      <div class="input">
						        <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text">
						      </div>
						    </div><!-- /clearfix -->
						    <div class="clearfix">
						      <label for="xlInput">Last name</label>
						      <div class="input">
						        <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text">
						      </div>
						    </div><!-- /clearfix -->
						    <div class="clearfix">
						      <label for="mediumSelect">Gender</label>
						      <div class="input">
						        <select class="medium" name="mediumSelect" id="mediumSelect">
						          <option>Male</option>
						          <option>Female</option>
						        </select>
						      </div>
						    </div><!-- /clearfix -->
						    <div class="clearfix">
						      <label for="xlInput">Location</label>
						      <div class="input">
						        <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text">
						      </div>
						    </div><!-- /clearfix -->
								<div class="clearfix">
								  <label for="textarea">About me</label>
								  <div class="input">
								    <textarea class="xxlarge" id="textarea2" name="textarea2" rows="3"></textarea>
								    <span class="help-block">
								      Block of help text to describe the field above if need be.
								    </span>
								  </div>
								</div>
						    <div class="actions">
						      <input type="submit" class="btn primary" value="Save changes">&nbsp;<button type="reset" class="btn">Cancel</button>
						    </div>
						  </fieldset>
						</form>
					</div>

					<div class="tab-pane" id="profile-shelves">

						<div class="shelves well ar">
							<input type="text" class="profile-closet-search" placeholder="Search closet" label="Search closet" autocomplete="off"/>
							<button class="btn primary">Add new item</button>
						</div>

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>

						<div class="row">
						  <div class="span4">
						    <strong>Shelve name <em>12 items</em></strong>
						    <img class="thumbnail" src="http://placehold.it/200x200" alt="">
						  </div>
						  <div class="span4">
						    <strong>Shelve name <em>8 items</em></strong>
						    <img class="thumbnail" src="http://placehold.it/200x200" alt="">
						  </div>
						  <div class="span4">
						    <strong>Shelve name <em>2 items</em></strong>
						    <img class="thumbnail" src="http://placehold.it/200x200" alt="">
						  </div>
						  <div class="span4">
						    <strong>Shelve name <em>92 items</em></strong>
						    <img class="thumbnail" src="http://placehold.it/200x200" alt="">
						  </div>
						  <div class="span4">
						    <strong>Shelve name <em>22 items</em></strong>
						    <img class="thumbnail" src="http://placehold.it/200x200" alt="">
						  </div>
						  <div class="span4">
						    <strong>Shelve name <em>5 items</em></strong>
						    <img class="thumbnail" src="http://placehold.it/200x200" alt="">
						  </div>
						</div>

					</div>
				</div>

			</div><!-- /span12 -->
		</div><!-- /row -->

	</div><!-- /content -->

</div> <!-- /container -->