<link rel="stylesheet" href="css/vacordian.css">

<div class="container marge">

	<div class="content">
		<div class="page-header">
			<h1 class="tour_1">Mister Fabulous <small>I like my hair, cause it's pretty!</small></h1>
		</div>

		<div class="row">
			<div class="span4 sidebar">
				<figure class="tour_2">
					<img class="thumbnail" src="./img/ruso.png" alt="">
				</figure>
				<h3 class="tour_3 inlined">Friends (100)</h3>
				<a href="#" class="side-links" data-controls-modal="modal-add-friends" data-backdrop="true" data-keyboard="true">Add..</a>
				<ul class="media-grid">
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
				</ul>

				<h3 class="tour_4 inlined">Groups (22)</h3>
				<a href="#" class="side-links" data-controls-modal="modal-create-group" data-backdrop="true" data-keyboard="true">Create..</a>
				<ul class="media-grid">
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
				</ul>
			</div>

			<div class="span12">

				<div class="profile-well ar">
					<select id="profile-runway-categories" class="medium chzn-select">
						<option>Shelf 1</option>
						<option>Shelf 2</option>
						<option>Shelf 3</option>
						<option>Shelf 4</option>
					</select>
				</div>

				<ul rel="roundabout" class="unstyled roundabout tour_5">
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
				</ul>

				<div class="al">
					<p>List of comments, this area can be folded.</p>
				</div>

				<ul class="tabs tour_7" data-tabs="tabs">
					<li><a href="#profile-about">About</a></li>
					<li class="active"><a href="#profile-shelves">Mister Fabulous's Closet</a></li>
				</ul>
				
				<div id="profile-tab-content" class="tab-content">
					<div class="tab-pane" id="profile-about">

						<div class="about well ar">
							<button id="profile-edit" class="btn active">Edit profile</button>
						</div>

						<form>
						  <fieldset>
								<!-- <div class="clearfix">
								  <label for="fileInput">Profile image</label>
								  <div class="input">
								    <input class="input-file" id="fileInput" name="fileInput" type="file">
								  </div>
								</div> -->
						    <div class="clearfix">
						      <label for="profile-name">Name</label>
						      <div class="input">
						        <div class="profile-ei editing" id="profile-name" contenteditable="true">Mister Fabulous</div>
						      </div>
						    </div><!-- /clearfix -->
						    <!-- <div class="clearfix">
						      <label for="mediumSelect">Gender</label>
						      <div class="input">
						        <select class="medium" name="mediumSelect" id="mediumSelect">
						          <option>Male</option>
						          <option>Female</option>
						        </select>
						      </div>
						    </div> -->
						    <div class="clearfix">
						      <label for="profile-location">Location</label>
						      <div class="input">
						        <div class="profile-ei editing" id="profile-location" contenteditable="true">Costa Rica</div>
						      </div>
						    </div><!-- /clearfix -->
								<div class="clearfix">
								  <label for="profile-aboutme">About</label>
								  <div class="input">
								    <div class="profile-ei editing" id="profile-aboutme" contenteditable="true">I was born and raised in Alabama, my mom was a lady and my dad was a gent.  Then it was me.</div>
								  </div>
								</div>
						  </fieldset>
						</form>
					</div>

					<div class="tab-pane active" id="profile-shelves">

						<div class="shelves well ar">
							<input type="text" class="profile-closet-search" placeholder="Search closet" label="Search closet" autocomplete="off"/>
							<button class="btn primary" data-controls-modal="modal-upload-items" data-backdrop="true" data-keyboard="true">Add new item</button>
						</div>

						<div id="va-accordion" class="va-container">
							<div class="va-nav">
								<span class="va-nav-prev">Previous</span>
								<span class="va-nav-next">Next</span>
							</div>
							<div class="va-wrapper">
								<div class="va-slice va-slice-1">
									<h3 class="va-title"><span class="va-title-bg">Shelve Name 1</span></h3>
									<div class="va-content">
										<p>55 items</p>
										<ul>
											<li><a href="#closet" class="btn primary large">View</a></li>
											<li><a href="#" class="btn">Edit</a></li>
											<li><a href="#" class="btn">Add new item</a></li>
										</ul>
									</div>
								</div>
								<div class="va-slice va-slice-2">
									<h3 class="va-title"><span class="va-title-bg">Shelve Name 2</span></h3>
									<div class="va-content">
										<p>202 items</p>
										<ul>
											<li><a href="#closet" class="btn primary large">View</a></li>
											<li><a href="#" class="btn">Edit</a></li>
											<li><a href="#" class="btn">Add new item</a></li>
										</ul>
									</div>	
								</div>
								<div class="va-slice va-slice-3">
									<h3 class="va-title"><span class="va-title-bg">Shelve Name 3</span></h3>
									<div class="va-content">
										<p>2 items</p>
										<ul>
											<li><a href="#closet" class="btn primary large">View</a></li>
											<li><a href="#" class="btn">Edit</a></li>
											<li><a href="#" class="btn">Add new item</a></li>
										</ul>
									</div>	
								</div>
								<div class="va-slice va-slice-4">
									<h3 class="va-title"><span class="va-title-bg">Shelve Name 4</span></h3>
									<div class="va-content">
										<p>20 items</p>
										<ul>
											<li><a href="#closet" class="btn primary large">View</a></li>
											<li><a href="#" class="btn">Edit</a></li>
											<li><a href="#" class="btn">Add new item</a></li>
										</ul>
									</div>	
								</div>
								<div class="va-slice va-slice-5">
									<h3 class="va-title"><span class="va-title-bg">Shelve Name 5</span></h3>
									<div class="va-content">
										<p>9 items</p>
										<ul>
											<li><a href="#closet" class="btn primary large">View</a></li>
											<li><a href="#" class="btn">Edit</a></li>
											<li><a href="#" class="btn">Add new item</a></li>
										</ul>
									</div>	
								</div>
							</div>
						</div><!-- /vacordian -->
					</div><!-- /profile shelves -->
				</div><!-- /profile tab content -->

			</div><!-- /span12 -->
		</div><!-- /row -->

	</div><!-- /content -->

</div> <!-- /container -->

<div id="modal-add-friends" class="modal hide fade" style="display: none; ">
	<div class="modal-header">
		<a href="#" class="close">×</a>
		<h3>Find friends</h3>
	</div>
	<div class="modal-body">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn primary">Primary</a>
		<a href="#" class="btn secondary">Secondary</a>
	</div>
</div>

<div id="modal-create-group" class="modal hide fade" style="display: none; ">
	<div class="modal-header">
		<a href="#" class="close">×</a>
		<h3>Create a group</h3>
	</div>
	<div class="modal-body">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn primary">Primary</a>
		<a href="#" class="btn secondary">Secondary</a>
	</div>
</div>