<link rel="stylesheet" href="css/vacordian.css">

<div id="profile-view" class="container marge">

	<div class="content">
		<div class="page-header">
			<h1 class="tour_1">Mister Fabulous <small>I like my hair, cause it's pretty!</small></h1>
		</div>

		<div class="row">
			<div class="span4 sidebar">
				<figure class="tour_2">
					<img class="thumbnail" src="./img/ruso.png" alt="">
				</figure>
				<h3 class="tour_3 inlined">Friends (100)</h3>
				<a href="#" class="side-links" data-controls-modal="modal-add-friends" data-backdrop="true" data-keyboard="true">manage..</a>
				<ul class="media-grid">
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
				</ul>

				<h3 class="tour_4 inlined">Groups (22)</h3>
				<a href="#" class="side-links" data-controls-modal="modal-create-group" data-backdrop="true" data-keyboard="true">manage..</a>
				<ul class="media-grid">
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
				</ul>
			</div>

			<div class="span12">

				<div class="profile-well ar">
					<select id="profile-runway-categories" class="large chzn-select" multiple data-placeholder="Display only..">
						<option>Shelf 1</option>
						<option>Shelf 2</option>
						<option>Shelf 3</option>
						<option>Shelf 4</option>
					</select>
				</div>

				<ul rel="roundabout" class="unstyled roundabout tour_5">
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
					<li><a href="#view"><img class="thumbnail" src="http://placehold.it/260x221" alt=""></a></li>
				</ul>

				<div id="profile-comments" class="al">

					<div id="profile-comments-toggle" class="ar">Toggle comments..</div>

					<div class="comment-body-wrap">
						<div class="comment-wrap">
							<div class="comment-header">
								<span role="button" class="a-j Mo bg" title="Options menu"></span>
								<a href="#profile" class="comment-author"><img src="http://placehold.it/48x48" width="48px" height="48px" alt="H Juggernaut's profile photo" class="comment-author-image"></a>
								<div class="Ex">
									<span class="eE">
										<a href="#profile" class="comment-author-link">Frank Lastname</a>
									</span>
									<span class="comment-meta">
										&nbsp;-&nbsp;
										<a href="#" class="" title="Jan 5, 2012 11:29:03 PM">Jan 5, 2012</a>
										&nbsp;-&nbsp;
										<a href="#" class="" title="Sharing details">Public</a>
									</span>
								</div>
							</div>
							<div>
								<p class="comment-content">Lorem ipsum dolor sit amet.</p>
								<div class="comment-actions">
									<a href="#" class="runway-reply-show">Comment</a> &nbsp;-&nbsp; <a href="#">Share</a>
								</div>
							</div>
							<div class="runway-reply-wrap hide">
								<textarea class="runway-comment-input" placeholder="Enter comment"></textarea>
								<button class="btn primary runway-comment-post">Post comment</button>
								<button class="btn runway-comment-cancel">Cancel</button>
							</div>
						</div>
					</div>

					<div class="comment-body-wrap">
						<div class="comment-wrap">
							<div class="comment-header">
								<span role="button" class="a-j Mo bg" title="Options menu"></span>
								<a href="#profile" class="comment-author"><img src="http://placehold.it/48x48" width="48px" height="48px" alt="H Juggernaut's profile photo" class="comment-author-image"></a>
								<div class="Ex">
									<span class="eE">
										<a href="#profile" class="comment-author-link">Frank Lastname</a>
									</span>
									<span class="comment-meta">
										&nbsp;-&nbsp;
										<a href="#" class="" title="Jan 5, 2012 11:29:03 PM">Jan 5, 2012</a>
										&nbsp;-&nbsp;
										<a href="#" class="" title="Sharing details">Public</a>
									</span>
								</div>
							</div>
							<div>
								<p class="comment-content">Lorem ipsum dolor sit amet.</p>
								<div class="comment-actions">
									<a href="#" class="runway-reply-show">Comment</a> &nbsp;-&nbsp; <a href="#">Share</a>
								</div>
							</div>
							<div class="runway-reply-wrap hide">
								<textarea class="runway-comment-input" placeholder="Enter comment"></textarea>
								<button class="btn primary runway-comment-post">Post comment</button>
								<button class="btn runway-comment-cancel">Cancel</button>
							</div>
						</div>
					</div>

					<div class="comment-body-wrap">
						<div class="comment-wrap">
							<div class="comment-header">
								<span role="button" class="a-j Mo bg" title="Options menu"></span>
								<a href="#profile" class="comment-author"><img src="http://placehold.it/48x48" width="48px" height="48px" alt="H Juggernaut's profile photo" class="comment-author-image"></a>
								<div class="Ex">
									<span class="eE">
										<a href="#profile" class="comment-author-link">Frank Lastname</a>
									</span>
									<span class="comment-meta">
										&nbsp;-&nbsp;
										<a href="#" class="" title="Jan 5, 2012 11:29:03 PM">Jan 5, 2012</a>
										&nbsp;-&nbsp;
										<a href="#" class="" title="Sharing details">Public</a>
									</span>
								</div>
							</div>
							<div>
								<p class="comment-content">Lorem ipsum dolor sit amet.</p>
								<div class="comment-actions">
									<a href="#" class="runway-reply-show">Comment</a> &nbsp;-&nbsp; <a href="#">Share</a>
								</div>
							</div>
							<div class="runway-reply-wrap hide">
								<textarea class="runway-comment-input" placeholder="Enter comment"></textarea>
								<button class="btn primary runway-comment-post">Post comment</button>
								<button class="btn runway-comment-cancel">Cancel</button>
							</div>
						</div>
					</div>

					<div class="more ac tour_5">
						<a id="last_comment_3" class="load-more" href="#">more</a>
					</div>

				</div>

				<ul class="tabs tour_7" data-tabs="tabs">
					<li><a href="#profile-about">About</a></li>
					<li class="active"><a href="#profile-shelves">Mister Fabulous's Closet</a></li>
				</ul>
				
				<div id="profile-tab-content" class="tab-content">
					<div class="tab-pane" id="profile-about">

						<div class="about well ar">
							<button id="profile-edit" class="btn active success">Save profile</button>
						</div>

						<form>
						  <fieldset>
								<!-- <div class="clearfix">
								  <label for="fileInput">Profile image</label>
								  <div class="input">
								    <input class="input-file" id="fileInput" name="fileInput" type="file">
								  </div>
								</div> -->
						    <div class="clearfix">
						      <label for="profile-name">Name</label>
						      <div class="input">
						        <div class="profile-ei editing" id="profile-name" contenteditable="true">Mister Fabulous</div>
						      </div>
						    </div><!-- /clearfix -->
						    <!-- <div class="clearfix">
						      <label for="mediumSelect">Gender</label>
						      <div class="input">
						        <select class="medium" name="mediumSelect" id="mediumSelect">
						          <option>Male</option>
						          <option>Female</option>
						        </select>
						      </div>
						    </div> -->
						    <div class="clearfix">
						      <label for="profile-location">Location</label>
						      <div class="input">
						        <div class="profile-ei editing" id="profile-location" contenteditable="true">Costa Rica</div>
						      </div>
						    </div><!-- /clearfix -->
								<div class="clearfix">
								  <label for="profile-aboutme">About</label>
								  <div class="input">
								    <div class="profile-ei editing" id="profile-aboutme" contenteditable="true">I was born and raised in Alabama, my mom was a lady and my dad was a gent.  Then it was me.</div>
								  </div>
								</div>
						  </fieldset>
						</form>
					</div>

					<div class="tab-pane active" id="profile-shelves">

						<div class="shelves well ar">
							<input type="text" class="profile-closet-search" placeholder="Search closet" label="Search closet" autocomplete="off"/>
							<button class="btn primary" data-controls-modal="modal-upload-items" data-backdrop="true" data-keyboard="true">Add new item</button>
						</div>

						<!-- Single photo -->
						<div class="single_photo">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 1</label>
								<label class="stack-desc-itemcount">1 item</label>
							</div>
							<a href="#closet"><img src="http://placehold.it/200x200" alt="picture"></a>
						</div>
						<!--Stack 1  -->
						<div class="image_stack">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 2</label>
								<label class="stack-desc-itemcount">12 items</label>
							</div>
							<a href="#closet">
								<img id="photo1" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo2" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo3" class="stackphotos"  src="http://placehold.it/200x200">
								</a>
						</div>
						<!--Stack 2  -->
						<div class="image_stack">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 3</label>
								<label class="stack-desc-itemcount">42 items</label>
							</div>
							<a href="#closet">
								<img id="photo1" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo2" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo3" class="stackphotos"  src="http://placehold.it/200x200">
							</a>
						</div>
						<!--Stack 3  -->
						<div class="image_stack">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 4</label>
								<label class="stack-desc-itemcount">32 items</label>
							</div>
							<a href="#closet">
								<img id="photo1" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo2" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo3" class="stackphotos"  src="http://placehold.it/200x200">
							</a>
						</div>
						<!--Stack 4  -->
						<div class="image_stack">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 5</label>
								<label class="stack-desc-itemcount">33 items</label>
							</div>
							<a href="#closet">
								<img id="photo1" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo2" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo3" class="stackphotos"  src="http://placehold.it/200x200">
							</a>
						</div>

					</div><!-- /profile shelves -->
				</div><!-- /profile tab content -->

			</div><!-- /span12 -->
		</div><!-- /row -->

	</div><!-- /content -->

</div> <!-- /container -->

<div id="modal-add-friends" class="modal hide fade" style="display: none; ">
	<div class="modal-header">
		<a href="#" class="close">×</a>
		<h3>Manage friends</h3>
	</div>
	<div class="modal-body">
		<p>Alphabetical navigation with options for each friend, maybe different views of how list can be viewed,  icons only or a list.</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn primary">Primary</a>
		<a href="#" class="btn secondary">Secondary</a>
	</div>
</div>

<div id="modal-create-group" class="modal hide fade" style="display: none; ">
	<div class="modal-header">
		<a href="#" class="close">×</a>
		<h3>Manage groups</h3>
	</div>
	<div class="modal-body">
		<p>Some mechanism for assigning friends to groups and yourself</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn primary">Primary</a>
		<a href="#" class="btn secondary">Secondary</a>
	</div>
</div>