<!-- <link rel="stylesheet" href="css/vacordian.css"> -->

<div id="profile-view" class="container marge">

	<div class="content">
		<div class="page-header">
			<h1 class="tour_1">Mister Fabulous <small>personal runway..</small></h1>
		</div>

		<div class="row">
			<div class="span3 sidebar">
				<figure class="tour_2">
					<img src="./assets/img/ruso.png" alt="">
				</figure>
			
				<h3 class="tour_3 inlined">Friends (100)</h3>
				<a href="#" class="side-links" data-controls-modal="modal-add-friends" data-backdrop="true" data-keyboard="true" data-bypass>manage..</a>
				<ul class="thumbnails">
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Firstname Lastname" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
				</ul>

				<h3 class="tour_4 inlined">Groups (22)</h3>
				<a href="#" class="side-links" data-controls-modal="modal-create-group" data-backdrop="true" data-keyboard="true">manage..</a>
				<ul class="thumbnails">
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Group name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
				</ul>

				<h3 class="tour_4 inlined">Following (12)</h3>
				<a href="#" class="side-links" data-controls-modal="modal-manage-follow" data-backdrop="true" data-keyboard="true">manage..</a>
				<ul class="thumbnails">
					<li><a href="#" rel="tip" title="Following name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Following name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Following name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Following name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Following name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Following name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Following name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Following name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
					<li><a href="#" rel="tip" title="Following name" data-placement="right"><img class="thumbnail" src="http://placehold.it/42x42" alt=""></a></li>
				</ul>

				<hr/>

				<div class="well">
					<strong>Most commented</strong>
				</div>

				<div class="well">
					<strong>Most liked</strong>
				</div>

				<div class="well">
					<strong>Most used</strong>
				</div>

			</div>

			<div class="span9">

				<!-- <div class="profile-well ar">
					<select id="profile-runway-categories" class="large chzn-select" multiple data-placeholder="Display only..">
						<option>Shelf 1</option>
						<option>Shelf 2</option>
						<option>Shelf 3</option>
						<option>Shelf 4</option>
					</select>
				</div> -->

				<!-- <ul rel="roundabout" class="unstyled roundabout tour_5">
					<li>
						<div class="profile-rw-item">
							<a href="#viewing"><img src="http://placehold.it/220x240" alt=""></a>
							<div class="caption">
								<h5>Thumbnail label 1</h5>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							</div>
						</div>
					</li>

					<li>
						<div class="profile-rw-item">
							<a href="#viewing"><img src="http://placehold.it/220x240" alt=""></a>
							<div class="caption">
								<h5>Thumbnail label 2</h5>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							</div>
						</div>
					</li>

					<li>
						<div class="profile-rw-item">
							<a href="#viewing"><img src="http://placehold.it/220x240" alt=""></a>
							<div class="caption">
								<h5>Thumbnail label 3</h5>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							</div>
						</div>
					</li>

					<li>
						<div class="profile-rw-item">
							<a href="#viewing"><img src="http://placehold.it/220x240" alt=""></a>
							<div class="caption">
								<h5>Thumbnail label 4</h5>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							</div>
						</div>
					</li>

					<li>
						<div class="profile-rw-item">
							<a href="#viewing"><img src="http://placehold.it/220x240" alt=""></a>
							<div class="caption">
								<h5>Thumbnail label 5</h5>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							</div>
						</div>
					</li>

					<li>
						<div class="profile-rw-item">
							<a href="#viewing"><img src="http://placehold.it/220x240" alt=""></a>
							<div class="caption">
								<h5>Thumbnail label 6</h5>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							</div>
						</div>
					</li>

					<li>
						<div class="profile-rw-item">
							<a href="#viewing"><img src="http://placehold.it/220x240" alt=""></a>
							<div class="caption">
								<h5>Thumbnail label 7</h5>
								<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							</div>
						</div>
					</li>
				</ul> -->

				<div id="carousel">
					<ul id="slides">
						<li><!-- .slide --></li>

						<li class="slide">
							<a class="thumbnail-frame excerpt-text shots" rel="set-12" href="#viewing" title="<p>Point, click, evolve&#8230;</p>"></a>
							<img width="213" height="266" src="/assets/img/viewing/view4.jpg" class="attachment-post-thumbnail wp-post-image" alt="morfable-app-setting2" title="morfable-app-setting2" />					
							<div class="hidden"></div> <!-- .hidden -->
						</li> <!-- .slide -->

						<li class="slide">
							<a class="thumbnail-frame excerpt-text shots" rel="set-12" href="#viewing" title="<p>Point, click, evolve&#8230;</p>"></a>
							<img width="213" height="266" src="/assets/img/viewing/view2.jpg" class="attachment-post-thumbnail wp-post-image" alt="morfable-app-setting2" title="morfable-app-setting2" />					
							<div class="hidden"></div> <!-- .hidden -->
						</li> <!-- .slide -->

						<li class="slide">
							<a class="thumbnail-frame excerpt-text shots" rel="set-12" href="#viewing" title="<p>Point, click, evolve&#8230;</p>"></a>
							<img width="213" height="266" src="/assets/img/viewing/view5.jpg" class="attachment-post-thumbnail wp-post-image" alt="morfable-app-setting2" title="morfable-app-setting2" />					
							<div class="hidden"></div> <!-- .hidden -->
						</li> <!-- .slide -->

						<li class="slide">
							<a class="thumbnail-frame excerpt-text shots" rel="set-12" href="#viewing" title="<p>Point, click, evolve&#8230;</p>"></a>
							<img width="213" height="266" src="/assets/img/viewing/view6.jpg" class="attachment-post-thumbnail wp-post-image" alt="morfable-app-setting2" title="morfable-app-setting2" />					
							<div class="hidden"></div> <!-- .hidden -->
						</li> <!-- .slide -->

						<li class="slide">
							<a class="thumbnail-frame excerpt-text shots" rel="set-12" href="#viewing" title="<p>Point, click, evolve&#8230;</p>"></a>
							<img width="213" height="266" src="/assets/img/tmp_share.jpg" class="attachment-post-thumbnail wp-post-image" alt="morfable-app-setting2" title="morfable-app-setting2" />					
							<div class="hidden"></div> <!-- .hidden -->
						</li> <!-- .slide -->

						<li><!-- .slide --></li>
					</ul> <!-- #slides -->    
				</div> <!-- #carousel -->

				<div id="profile-comments" class="al">

					<div id="profile-comments-toggle" class="ar">Toggle (22) comments..</div>

					<div class="comment-body-wrap">
						<div class="comment-wrap">
							<div class="comment-header">
								<div class="btn-group Mo">
									<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#">Link</a></li>
										<li><a href="#">Remove</a></li>
										<li class="divider"></li>
										<li><a href="#">Report</a></li>
									</ul>
								</div>
								<a href="#profile" class="comment-author"><img src="http://placehold.it/48x48" width="48px" height="48px" alt="H Juggernaut's profile photo" class="comment-author-image"></a>
								<div class="Ex">
									<span class="eE">
										<a href="#profile" class="comment-author-link">Frank Lastname</a>
									</span>
									<span class="comment-meta">
										&nbsp;-&nbsp;
										<a href="#" class="" title="Jan 5, 2012 11:29:03 PM">Jan 5, 2012</a>
										&nbsp;-&nbsp;
										<a href="#" class="" title="Sharing details">Public</a>
									</span>
								</div>
							</div>
							<div>
								<p class="comment-content">Lorem ipsum dolor sit amet.</p>
								<div class="comment-actions">
									<a href="#" class="runway-reply-show">Comment</a> &nbsp;-&nbsp; <a href="#">Share</a>
								</div>
							</div>
							<div class="runway-reply-wrap hide">
								<textarea class="runway-comment-input" placeholder="Enter comment"></textarea>
								<button class="btn btn-primary runway-comment-post">Post comment</button>
								<button class="btn runway-comment-cancel">Cancel</button>
							</div>
						</div>
					</div>

					<div class="comment-body-wrap">
						<div class="comment-wrap">
							<div class="comment-header">
								<div class="btn-group Mo">
									<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#">Link</a></li>
										<li><a href="#">Remove</a></li>
										<li class="divider"></li>
										<li><a href="#">Report</a></li>
									</ul>
								</div>
								<a href="#profile" class="comment-author"><img src="http://placehold.it/48x48" width="48px" height="48px" alt="H Juggernaut's profile photo" class="comment-author-image"></a>
								<div class="Ex">
									<span class="eE">
										<a href="#profile" class="comment-author-link">Frank Lastname</a>
									</span>
									<span class="comment-meta">
										&nbsp;-&nbsp;
										<a href="#" class="" title="Jan 5, 2012 11:29:03 PM">Jan 5, 2012</a>
										&nbsp;-&nbsp;
										<a href="#" class="" title="Sharing details">Public</a>
									</span>
								</div>
							</div>
							<div>
								<p class="comment-content">Lorem ipsum dolor sit amet.</p>
								<div class="comment-actions">
									<a href="#" class="runway-reply-show">Comment</a> &nbsp;-&nbsp; <a href="#">Share</a>
								</div>
							</div>
							<div class="runway-reply-wrap hide">
								<textarea class="runway-comment-input" placeholder="Enter comment"></textarea>
								<button class="btn btn-primary runway-comment-post">Post comment</button>
								<button class="btn runway-comment-cancel">Cancel</button>
							</div>
						</div>
					</div>

					<div class="comment-body-wrap">
						<div class="comment-wrap">
							<div class="comment-header">
								<div class="btn-group Mo">
									<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#">Link</a></li>
										<li><a href="#">Remove</a></li>
										<li class="divider"></li>
										<li><a href="#">Report</a></li>
									</ul>
								</div>
								<a href="#profile" class="comment-author"><img src="http://placehold.it/48x48" width="48px" height="48px" alt="H Juggernaut's profile photo" class="comment-author-image"></a>
								<div class="Ex">
									<span class="eE">
										<a href="#profile" class="comment-author-link">Frank Lastname</a>
									</span>
									<span class="comment-meta">
										&nbsp;-&nbsp;
										<a href="#" class="" title="Jan 5, 2012 11:29:03 PM">Jan 5, 2012</a>
										&nbsp;-&nbsp;
										<a href="#" class="" title="Sharing details">Public</a>
									</span>
								</div>
							</div>
							<div>
								<p class="comment-content">Lorem ipsum dolor sit amet.</p>
								<div class="comment-actions">
									<a href="#" class="runway-reply-show">Comment</a> &nbsp;-&nbsp; <a href="#">Share</a>
								</div>
							</div>
							<div class="runway-reply-wrap hide">
								<textarea class="runway-comment-input" placeholder="Enter comment"></textarea>
								<button class="btn btn-primary runway-comment-post">Post comment</button>
								<button class="btn runway-comment-cancel">Cancel</button>
							</div>
						</div>
					</div>

					<div class="more ac tour_5">
						<a id="last_comment_3" class="load-more" href="#">more</a>
					</div>

				</div>

				<ul id="tab" class="nav nav-tabs tour_7">
					<li><a href="#profile-about" data-toggle="tab">About</a></li>
					<li class="active"><a href="#profile-shelves" data-toggle="tab">Mister Fabulous's Closet</a></li>
				</ul>
								
				<div id="profile-tab-content" class="tab-content">
					<div class="tab-pane fade" id="profile-about">

						<div class="about well ar">
							<button id="profile-edit" class="btn active btn-success">Save profile</button>
						</div>

						<form class="form-horizontal">
							<fieldset>
								<div class="controls profile-ei editing" id="profile-name" contenteditable="true">Mister Fabulous</div>
								<div class="controls profile-ei editing" id="profile-aboutme" contenteditable="true">I was born and raised in Alabama, my mom was a lady and my dad was a gent.  Then it was me.</div>
								<div class="controls profile-ei editing" id="profile-location" contenteditable="true">Costa Rica</div>
							</fieldset>
						</form>
					</div>

					<div class="tab-pane fade active in" id="profile-shelves">

						<!-- <form class="shelves well form-search">
							<input type="search" class="input-large profile-closet-search" placeholder="Search closet" label="Search closet.." autocomplete="off">
							<div class="btn-group inlined">
								<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#"><i class="icon pencil"></i> Edit</a></li>
									<li><a href="#"><i class="icon trash"></i> Delete</a></li>
									<li class="divider"></li>
									<li><a data-toggle="modal" href="#modal-upload-items"><i class="icon"></i> Upload</a></li>
								</ul>
							</div>
						</form> -->

						<!-- Single photo -->
						<div class="single_photo">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 1</label>
								<label class="stack-desc-itemcount">1 item</label>
							</div>
							<a href="#closet"><img src="http://placehold.it/200x200" alt="picture"></a>
						</div>
						<!--Stack 1  -->
						<div class="image_stack">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 2</label>
								<label class="stack-desc-itemcount">12 items</label>
							</div>
							<a href="#closet">
								<img id="photo1" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo2" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo3" class="stackphotos"  src="http://placehold.it/200x200">
								</a>
						</div>
						<!--Stack 2  -->
						<div class="image_stack">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 3</label>
								<label class="stack-desc-itemcount">42 items</label>
							</div>
							<a href="#closet">
								<img id="photo1" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo2" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo3" class="stackphotos"  src="http://placehold.it/200x200">
							</a>
						</div>
						<!--Stack 3  -->
						<div class="image_stack">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 4</label>
								<label class="stack-desc-itemcount">32 items</label>
							</div>
							<a href="#closet">
								<img id="photo1" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo2" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo3" class="stackphotos"  src="http://placehold.it/200x200">
							</a>
						</div>
						<!--Stack 4  -->
						<div class="image_stack">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 5</label>
								<label class="stack-desc-itemcount">33 items</label>
							</div>
							<a href="#closet">
								<img id="photo1" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo2" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo3" class="stackphotos"  src="http://placehold.it/200x200">
							</a>
						</div>

					</div><!-- /profile shelves -->
				</div><!-- /profile tab content -->

			</div><!-- /span9 -->
		</div><!-- /row -->

	</div><!-- /content -->

</div> <!-- /container -->


<div id="modal-add-friends" class="modal hide fade" style="display: none; ">
	<div class="modal-header">
		<a href="#" class="close">×</a>
		<h3>Manage friends</h3>
	</div>
	<div class="modal-body">

		<ul id="friends-list">
			<li>
			<figure class="friend">
				<img class="friend-img" src="http://placehold.it/69x69">
				<div class="friend-name">Aar Sese</div>
			</figure>
			</li>
			<li>
			<figure class="friend">
				<img class="friend-img" src="http://placehold.it/69x69">
				<div class="friend-name">Bardona Sese</div>
			</figure>
			</li>
			<li>
			<figure class="friend">
				<img class="friend-img" src="http://placehold.it/69x69">
				<div class="friend-name">Brsd Tese</div>
			</figure>
			</li>
			<li>
			<figure class="friend">
				<img class="friend-img" src="http://placehold.it/69x69">
				<div class="friend-name">Brus Uese</div>
			</figure>
			</li>
			<li>
			<figure class="friend">
				<img class="friend-img" src="http://placehold.it/69x69">
				<div class="friend-name">Grisl Tese</div>
			</figure>
			</li>
			<li>
			<figure class="friend">
				<img class="friend-img" src="http://placehold.it/69x69">
				<div class="friend-name">Romero Uese</div>
			</figure>
			</li>
			<li>
			<figure class="friend">
				<img class="friend-img" src="http://placehold.it/69x69">
				<div class="friend-name">Zulu Vese</div>
			</figure>
			</li>

		</ul>
		
		<section id="friend-zoom" class="hide">
			<button class="btn return" onclick="$('#friend-zoom').toggleClass('hide')"><span class="ico-btn">X</span> Return to list</button>

			<figure class="thumbnail">
				<figcaption>Some awesome name</figcaption>
				<img src="//placehold.it/117x132" />
			</figure>
			<div id="friend-zoom-location">Their location</div>
			<div id="friend-zoom-about">Whatever they have in their about section</div>
			<button class="btn"><span class="ico-btn">m</span> message</button>
			<button class="btn"><span class="ico-btn">x</span> de-friend</button>
			<select id="friend-zoom-groups" class="chzn-select" multiple data-placeholder="Add to groups..">
				<option>Group name 1</option>
				<option>Group 2</option>
				<option>Group name 3</option>
				<option>group 4</option>
			</select>
		</section>

	</div>
</div>

<div id="modal-create-group" class="modal hide fade" style="display: none; ">
	<div class="modal-header">
		<a href="#" class="close">×</a>
		<h3>Manage groups</h3>
	</div>
	<div class="modal-body">
		<p>Some mechanism for assigning friends to groups and yourself</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-primary">Primary</a>
		<a href="#" class="btn secondary">Secondary</a>
	</div>
</div>


<script>
!function ($) {
	$(function(){

		$('[rel=tip]').tooltip();
		// $("[rel=pop]").popover();
		// if ($("[rel=roundabout]").length > 0){
		// 	$("[rel=roundabout]").roundabout();
		// };

		jQuery('#carousel').jcarousel({
			wrap: 'both',
			scroll: 1,
			start: 2,
			auto: 0,
			animation: 'slow',
			easing: 'easeOutQuint',
			buttonNextHTML: '<div class="arrow forward hover"></div>',
			buttonPrevHTML: '<div class="arrow back hover"></div>'
		});

		$(".chzn-select").chosen();

		$('#profile-edit').toggle(function() {
				$(this).removeClass('active success');
				$(this).text('Edit profile');
				$('.profile-ei').removeClass('editing').attr('contenteditable', 'false');
			}, function() {
				$(this).addClass('active success');
				$(this).text('Save profile');
				$('.profile-ei').addClass('editing').attr('contenteditable', 'true');
		});

		$('#profile-comments-toggle').toggle(function() {
			$(this).addClass('active');
				$(this).parent().find('.comment-body-wrap, .more').show();
			}, function() {
				$(this).removeClass('active');
				$(this).parent().find('.comment-body-wrap, .more').hide();
		});

		$(".runway-reply-show").toggle(
			function(){
				$(this).parent().parent()
				.next(".runway-reply-wrap")
				.removeClass("hide");
			}, 
			function(){
				$(this).parent().parent()
				.next(".runway-reply-wrap")
				.addClass("hide");
			}
		);


		$(".image_stack").delegate('img', 'mouseenter', function () { //when user hover mouse on image with div id=stackphotos 
			if ($(this).hasClass('stackphotos')) { //
				// the class stackphotos is not really defined in css , it is only assigned to each images in the photo stack to trigger the mouseover effect on  these photos only 
				var $parent = $(this).parent();
				$parent.find('img#photo1').addClass('rotate1'); //add class rotate1,rotate2,rotate3 to each image so that it rotates to the correct degree in the correct direction ( 15 degrees one to the left , one to the right ! )
				$parent.find('img#photo2').addClass('rotate2');
				$parent.find('img#photo3').addClass('rotate3');
				$parent.find('img#photo1').css("left", "3px"); // reposition the first and last image 
				$parent.find('img#photo3').css("left", "6px");
			}
		}).delegate('img', 'mouseleave', function () { // when user removes cursor from the image stack
			$('img#photo1').removeClass('rotate1'); // remove the css class that was previously added to make it to its original position
			$('img#photo2').removeClass('rotate2');
			$('img#photo3').removeClass('rotate3');
			$('img#photo1').css("left", ""); // remove the css property 'left' value from the dom
			$('img#photo3').css("left", "");
		});


		// $("#friends-list").on("click", ".friend", function() {
		//   $(this).toggleClass("chosen");
		//   $("#friend-zoom").removeClass("hide");
		// });

		// list navigator for friends managing
		// $('#friends-list').listnav({
		// 	includeNums: false,
		// 	onClick: function(letter){ console.log('You clicked ' + letter); }
		// });

		// if(!(jQuery.Storage.get("tour") == "true")){
		// 	var config = {
		// 			mainTitle: "First time here?",
		// 			saveCookie: true, 
		// 		steps: [
		// 		{
		// 			"name" 		: "tour_1",
		// 			"type"		: "warning",
		// 			"position"	: "TL",
		// 			"text"		: "Your set profile name in big Giant letters.",
		// 			"time" 		: 5000
		// 		},
		// 		{
		// 			"name" 		: "tour_2",
		// 			"type"		: "info",
		// 			"text"		: "That's you!  Click on the photo to change ",
		// 			"position"	: "TL",
		// 			"time" 		: 5000
		// 		},
		// 		{
		// 			"name" 		: "tour_3",
		// 			"type"		: "success",
		// 			"text"		: "Your awesome friends list. Add more.",
		// 			"position"	: "BL",
		// 			"time" 		: 5000
		// 		},
		// 		{
		// 			"name" 		: "tour_4",
		// 			"text"		: "Groups that you're part of.  Join more.",
		// 			"position"	: "BL",
		// 			"time" 		: 5000
		// 		},
		// 		{
		// 			"name" 		: "tour_5",
		// 			"type"		: "danger",
		// 			"text"		: "Local runway, only displays stuff from your closet or if you're viewing another users profile, then their stuff that they allow to share.",
		// 			"position"	: "BL",
		// 			"time" 		: 5000
		// 		},
		// 		{
		// 			"name" 		: "tour_6",
		// 			"type"		: "error",
		// 			"text"		: "Another awesome like button.",
		// 			"position"	: "TL",
		// 			"time" 		: 5000
		// 		},
		// 		{
		// 			"name" 		: "tour_7",
		// 			"type"		: "warning",
		// 			"text"		: "Switch between about and shelves view",
		// 			"position"	: "TL",
		// 			"time" 		: 5000
		// 		}]
		// 	};

		// 	$.tour.start(config);

		// }

	})
}(window.jQuery)
</script>