<div id="profile-view" class="container marge">

	<div class="row">
		<div class="span9">

			<ul id="profile-tabs" class="nav nav-tabs subnav">
				<li><a href="#profile-about" data-toggle="tab">About<em id="profile-edit" class="org org-about"> save</em></a></li>
				<li class="active"><a href="#profile-runway" data-toggle="tab">Runway</a></li>
				<li><a href="#profile-shelves" data-toggle="tab"><em>999</em> Shelves<em class="org org-shelves"> organize</em></a></li>
				<li><a href="#profile-followers" data-toggle="tab"><em>999999</em> Followers</a></li>
				<li><a href="#profile-following" data-toggle="tab"><em>999999</em> Following</a></li>
				<li><a href="#profile-stats" data-toggle="tab"><em>99</em> Achievements</a></li>
				<figcaption>Mister Fabulous</figcaption>
			</ul>
							
			<div id="profile-tab-content" class="tab-content">
				<!-- About Tab -->
				<div class="tab-pane fade" id="profile-about">

					<table id="profile-about-table">
							<tr>
								<td class="ar">Name: </td>
								<td><div class="controls profile-ei editing" id="profile-name" contenteditable="true">Mister Fabulous</div></td>
							</tr>
							<tr>
								<td class="ar">About: </td>
								<td><div class="controls profile-ei editing" id="profile-aboutme" contenteditable="true">I was born and raised in Alabama, my mom was a lady and my dad was a gent.  Then it was me.</div></td>
							</tr>
							<tr>
								<td class="ar">Location: </td>
								<td><div class="controls profile-ei editing" id="profile-location" contenteditable="true">Costa Rica</div></td>
							</tr>
					</table>
				</div>

				<!-- Runway Tab -->
				<div class="tab-pane fade active in" id="profile-runway">

					<section id="profile-featured-wrap" class="clearfix">
						<h1>Mister Fabulous's featured items</h1>
						<article class="rw-thumbnail-wrap ff-first">
							<figure>
								<a href="#viewing" class="rw-thumbnail">
									<img src="http://placehold.it/698x698" alt="">
								</a>
								<div class="big-like-button-wrapper"><em>H</em><a href="#" class="btn like">Like</a></div>
							</figure>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
								<span class="rw-item-liked">liked by 9999+</span>
								<a class="spch-bub-inside" href="#runway"><em>999+</em></a>
							</aside>
							<!-- comments -->
							<section class="comments comments-list">
								<ol class="unstyled">
									<li>
										<a href="#profile" class="profile url">
											<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
										</a>
										<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
									</li>
									
									<li>
										<a href="#profile" class="profile url">
											<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
										</a>
										<p>Beautifil!</p>
									</li>

									<li class="you">
										<a href="#profile" class="profile url">
											<img src="/assets/img/ruso.png" rel="tip" title="misterfabulous" class="photo">
										</a>
										<a href="#"  class="delete-comment">Delete</a>
										<p>that piece of string hanging off her right leg is really bothering me</p>
									</li>
								</ol>
								
								<div class="comment-entree">
									<img src="/assets/img/ruso.png" alt="" class="photo" />
									<div class="entree-wrap">
										<textarea name="comment-msg" rows="1" class="text" placeholder="comment.." rel="tip" data-placement="down" data-title="Press enter to post your comment"></textarea>
									</div>
								</div>
							</section>
							<!-- / comments -->
						</article>
						
						<article class="rw-thumbnail-wrap ff-second two-col">
							<figure>
								<a href="#viewing" class="rw-thumbnail">
									<img src="http://placehold.it/346x346" alt="">
								</a>
								<div class="big-like-button-wrapper"><em>H</em><a href="#" class="btn like">Like</a></div>
							</figure>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
								<span class="rw-item-liked">liked by 9999+</span>
								<a class="spch-bub-inside" href="#runway"><em>999+</em></a>
							</aside>
							<!-- comments -->
							<section class="comments comments-list">
								<ol class="unstyled">
									<li>
										<a href="#profile" class="profile url">
											<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
										</a>
										<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
									</li>
									
									<li>
										<a href="#profile" class="profile url">
											<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
										</a>
										<p>Beautifil!</p>
									</li>

									<li class="you">
										<a href="#profile" class="profile url">
											<img src="/assets/img/ruso.png" rel="tip" title="misterfabulous" class="photo">
										</a>
										<a href="#"  class="delete-comment">Delete</a>
										<p>that piece of string hanging off her right leg is really bothering me</p>
									</li>
								</ol>
								
								<div class="comment-entree">
									<img src="/assets/img/ruso.png" alt="" class="photo" />
									<div class="entree-wrap">
										<textarea name="comment-msg" rows="1" class="text" placeholder="comment.." rel="tip" data-placement="down" data-title="Press enter to post your comment"></textarea>
									</div>
								</div>
							</section>
							<!-- / comments -->
						</article>

						<article class="rw-thumbnail-wrap ff-third two-col">
							<figure>
								<a href="#viewing" class="rw-thumbnail">
									<img src="http://placehold.it/346x346" alt="">
								</a>
								<div class="big-like-button-wrapper"><em>H</em><a href="#" class="btn like">Like</a></div>
							</figure>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
								<span class="rw-item-liked">liked by 9999+</span>
								<a class="spch-bub-inside" href="#runway"><em>999+</em></a>
							</aside>
							<!-- comments -->
							<section class="comments comments-list">
								<ol class="unstyled">
									<li>
										<a href="#profile" class="profile url">
											<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
										</a>
										<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
									</li>
									
									<li>
										<a href="#profile" class="profile url">
											<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
										</a>
										<p>Beautifil!</p>
									</li>

									<li class="you">
										<a href="#profile" class="profile url">
											<img src="/assets/img/ruso.png" rel="tip" title="misterfabulous" class="photo">
										</a>
										<a href="#"  class="delete-comment">Delete</a>
										<p>that piece of string hanging off her right leg is really bothering me</p>
									</li>
								</ol>
								
								<div class="comment-entree">
									<img src="/assets/img/ruso.png" alt="" class="photo" />
									<div class="entree-wrap">
										<textarea name="comment-msg" rows="1" class="text" placeholder="comment.." rel="tip" data-placement="down" data-title="Press enter to post your comment"></textarea>
									</div>
								</div>
							</section>
							<!-- / comments -->
						</article>
					</section>

					<section id="profile-new-liked-stuff">
						<h1>Stuff Mister Fabulous also liked</h1>
						<article class="rw-thumbnail-wrap">
							<a href="#viewing" class="rw-thumbnail">
								<img src="http://placehold.it/170x170" alt="">
							</a>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
								<span class="rw-item-liked">liked by 9999+</span>
							</aside>
							<!-- comments -->
							<!-- / comments -->
						</article>

						<article class="rw-thumbnail-wrap">
							<a href="#viewing" class="rw-thumbnail">
								<img src="http://placehold.it/170x170" alt="">
							</a>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
								<span class="rw-item-liked">liked by 9999+</span>
							</aside>
							<!-- comments -->
							<!-- / comments -->
						</article>
						
						<article class="rw-thumbnail-wrap">
							<a href="#viewing" class="rw-thumbnail">
								<img src="http://placehold.it/170x170" alt="">
							</a>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
								<span class="rw-item-liked">liked by 9999+</span>
							</aside>
							<!-- comments -->
							<!-- / comments -->
						</article>
						
						<article class="rw-thumbnail-wrap">
							<a href="#viewing" class="rw-thumbnail">
								<img src="http://placehold.it/170x170" alt="">
							</a>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
								<span class="rw-item-liked">liked by 9999+</span>
							</aside>
							<!-- comments -->
							<!-- / comments -->
						</article>
						
						<article class="rw-thumbnail-wrap">
							<a href="#viewing" class="rw-thumbnail">
								<img src="http://placehold.it/170x170" alt="">
							</a>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
								<span class="rw-item-liked">liked by 9999+</span>
							</aside>
							<!-- comments -->
							<!-- / comments -->
						</article>
					</section>
				</div>

				<!-- Shelves Tab -->
				<div class="tab-pane fade" id="profile-shelves">
					<div class="photo-stacks">
						<!-- Single photo -->
						<div class="single_photo">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 1</label>
								<label class="stack-desc-itemcount">1 item</label>
							</div>
							<a href="#closet"><img src="http://placehold.it/200x200" alt="picture"></a>
						</div>
						<!--Stack 1  -->
						<div class="image_stack">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 2</label>
								<label class="stack-desc-itemcount">12 items</label>
							</div>
							<a href="#closet">
								<img id="photo1" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo2" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo3" class="stackphotos"  src="http://placehold.it/200x200">
								</a>
						</div>
						<!--Stack 2  -->
						<div class="image_stack">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 3</label>
								<label class="stack-desc-itemcount">42 items</label>
							</div>
							<a href="#closet">
								<img id="photo1" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo2" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo3" class="stackphotos"  src="http://placehold.it/200x200">
							</a>
						</div>
						<!--Stack 3  -->
						<div class="image_stack">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 4</label>
								<label class="stack-desc-itemcount">32 items</label>
							</div>
							<a href="#closet">
								<img id="photo1" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo2" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo3" class="stackphotos"  src="http://placehold.it/200x200">
							</a>
						</div>
						<!--Stack 4  -->
						<div class="image_stack">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 5</label>
								<label class="stack-desc-itemcount">33 items</label>
							</div>
							<a href="#closet">
								<img id="photo1" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo2" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo3" class="stackphotos"  src="http://placehold.it/200x200">
							</a>
						</div>
					</div>
				</div>

				<!-- Followers Tab -->
				<div class="tab-pane fade" id="profile-followers">

					<div class="alert alert-info">
					  <strong>Heads up!</strong> People that follow you, will appear here.
					</div>

					<ol id="profile-followers-list" class="unstyled follow-list">
						<li class="follow-list-item">
							<a href="#profile" class="url vcard">
								<img src="//placehold.it/69x69" class="photo">
								<strong class="nickname">username</strong>
							</a>
							<a href="#" class="follow-user-link">follow</a>
							<ul class="latest-liked">
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
							</ul>		
						</li>

						<li class="follow-list-item">
							<a href="#profile" class="url vcard">
								<img src="//placehold.it/69x69" class="photo">
								<strong class="nickname">username</strong>
							</a>
							<a href="#" class="follow-user-link">follow</a>
							<ul class="latest-liked">
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
							</ul>		
						</li>

						<li class="follow-list-item">
							<a href="#profile" class="url vcard">
								<img src="//placehold.it/69x69" class="photo">
								<strong class="nickname">username</strong>
							</a>
							<a href="#" class="follow-user-link">follow</a>
							<ul class="latest-liked">
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
							</ul>		
						</li>
					</ol>
				</div>

				<!-- Following Tab -->
				<div class="tab-pane fade" id="profile-following">
					<div class="alert alert-info">
					  <strong>Heads up!</strong> People you follow show up here.
					</div>

					<ol id="profile-following-list" class="unstyled follow-list">
						<li class="follow-list-item">
							<a href="#profile" class="url vcard">
								<img src="//placehold.it/69x69" class="photo">
								<strong class="nickname">username</strong>
							</a>
							<a href="#" class="follow-user-link following active">following</a>
							<ul class="latest-liked">
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
							</ul>		
						</li>

						<li class="follow-list-item">
							<a href="#profile" class="url vcard">
								<img src="//placehold.it/69x69" class="photo">
								<strong class="nickname">username</strong>
							</a>
							<a href="#" class="follow-user-link following active">following</a>
							<ul class="latest-liked">
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
							</ul>		
						</li>

						<li class="follow-list-item">
							<a href="#profile" class="url vcard">
								<img src="//placehold.it/69x69" class="photo">
								<strong class="nickname">username</strong>
							</a>
							<a href="#" class="follow-user-link following active">following</a>
							<ul class="latest-liked">
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
							</ul>		
						</li>
					</ol>
				</div>

				<!-- Stats Tab -->
				<div class="tab-pane fade" id="profile-stats">
					<!--  -->
					<div id="profile-stats-overview" class="stats-overview">
						<div id="profile-stats-counters" class="stats-counters">
							<div class="well inlined">
								<h3><em>99999</em> Points</h3>
							</div>

							<div class="well inlined">
								<h3><em>28</em> Trophies</h3>
							</div>

							<div class="well inlined">
								<h3><em>99</em> Shelves</h3>
							</div>

							<div class="well inlined">
								<h3><em>99999</em> Items</h3>
							</div>
						</div>

						<div id="profile-stats-tops" class="row stats-tops">
							<div class="span3">
								<h4>Most commented</h4>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
							</div>

							<div class="span3">
								<h4>Most liked</h4>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
							</div>
							
							<div class="span3">
								<h4>Most used</h4>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
							</div>
						</div>

						<!-- <img src="https://chart.googleapis.com/chart?
											chs=230x230&cht=gom&chd=t:70&
											chco=0000FF,FFFF00,FF0000&
											chxt=x,y&chxl=0:|YOU|1:|cold|warm|hot"> -->

						<img src="https://chart.googleapis.com/chart?
											cht=v&chs=222x222&
											chd=t:100,80,60,30,30,30,10&
											chco=FF6342,ADDE63,63C6DE&
											chdl=Popularity|Clothing|Activity" >

						<img src="https://chart.googleapis.com/chart?
											cht=p&chd=s:Uf9a&
											chs=460x230&
											chdl=Tops|Bottoms|Footwear|Asessories">

						<img src="https://chart.googleapis.com/chart?
											cht=lc&amp;
											chco=FF6342,ADDE63,63C6DE&amp;
											chs=700x169&amp;
											chd=s:FOETHECat,lkjtf3asv,KATYPSNXJ&amp;
											chxt=x,y&amp;
											chxl=0:|Oct|Nov|Dec|1:||20K||60K||100K" >
					</div>

					<!--  -->
					<div  id="stats-achievements" class="achievements-list">
						<h2>Throphies</h2>
						<hr />

						<div class="well trophy">
							<img src="/assets/img/badges/1.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/2.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/3.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/4.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/5.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/6.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/7.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/8.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/9.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/10.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/11.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/12.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/13.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/14.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/15.jpg">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/16.jpg">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/17.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/18.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/19.jpg">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/20.jpg">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/21.jpg">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/22.png">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/23.jpg">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/24.jpg">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/25.jpg">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/26.jpg">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/27.jpg">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
						<div class="well trophy">
							<img src="/assets/img/badges/28.jpg">
							<strong>Cherries Pop</strong>
							<p>Small description of the achievement and it's segnificance</p>
						</div>
					</div>
				</div><!-- /profile shelves -->
			</div><!-- /profile tab content -->
		</div><!-- /span9 -->
		
		<!-- SIDEBAR -->
		<div class="span3 sidebar">
			<figure class="tour_2">
				<figcaption>Mister Fabulous</figcaption>
				<img src="./assets/img/ruso.png" alt="">
			</figure>

			<div id="profile-sb-controls">
				<!-- fgkyr -->
				<a href="#rss" class="btn sb-control rss"><span class="ico-btn">r</span></a>
				<a href="#rss" class="btn sb-control twitter"><span class="ico-btn">k</span></a>
				<a href="#rss" class="btn sb-control fb"><span class="ico-btn">f</span></a>
				<a href="#rss" class="btn sb-control gplus"><span class="ico-btn">g</span></a>
				<a href="#rss" class="btn sb-control youtube"><span class="ico-btn">y</span></a>

				<button class="btn btn-large btn-primary" data-toggle="button"><span class="ico-btn">+</span> Follow</button>
			</div>

			<hr/>
			<!-- Some other injected content -->
		</div>
	</div><!-- /row -->


</div> <!-- /container -->




<script>
!function ($) {
	$(function(){


		$(".btn.like").toggle(
			function(){
				$(this).text("Dislike");
				$(this).addClass("active btn-inverse").parent().addClass("active");
				$(this).parent().parent().parent().addClass("liked");
				$('#modal-shelves').modal('show');
				$('<a href="#" class="btn like-edit">S</a>').click(function(e) {
					e.preventDefault();
					$('#modal-shelves').modal('show');
				}).insertAfter( $(this) );
			}, 
			function(){
				$(this).text("Like");
				$(this).removeClass("active btn-inverse").parent().removeClass("active");
				$(this).parent().parent().parent().removeClass("liked");
				$(this).next('.like-edit').remove();
			}
		);

		$('.spch-bub-inside').click(function() {
			$(this).parent().next().fadeToggle();
			return false;
		});

		$(".entree-wrap .text").focus(function() {
			$(this).parent().parent().addClass('focused');
		});
		$(".entree-wrap .text").blur(function() {
			$(this).parent().parent().removeClass('focused');
		});

		$("#profile-following-list .follow-user-link.following.active").click(function() {
			$(this).text("follow").removeClass("following active").parent().fadeOut("slow");
			alert("You are no longer following Persons Name", "error");
			return false;
		});

		$("#profile-followers-list .follow-user-link").toggle(
			function(){
				$(this).text("following").addClass("following active");
				alert("You are now following Persons Name", "success");
			}, 
			function(){
				$(this).text("follow").removeClass("following active");
				alert("You are no longer following Persons Name", "error");
			}
		);

		$(".chzn-select").chosen();

		$('#profile-edit').toggle(function() {
				$(this).text('edit');
				$('.profile-ei').removeClass('editing').attr('contenteditable', 'false');
			}, function() {
				$(this).text('save');
				$('.profile-ei').addClass('editing').attr('contenteditable', 'true');
		});


		$(".image_stack").delegate('img', 'mouseenter', function () { //when user hover mouse on image with div id=stackphotos 
			if ($(this).hasClass('stackphotos')) { //
				// the class stackphotos is not really defined in css , it is only assigned to each images in the photo stack to trigger the mouseover effect on  these photos only 
				var $parent = $(this).parent();
				$parent.find('img#photo1').addClass('rotate1'); //add class rotate1,rotate2,rotate3 to each image so that it rotates to the correct degree in the correct direction ( 15 degrees one to the left , one to the right ! )
				$parent.find('img#photo2').addClass('rotate2');
				$parent.find('img#photo3').addClass('rotate3');
				$parent.find('img#photo1').css("left", "3px"); // reposition the first and last image 
				$parent.find('img#photo3').css("left", "6px");
			}
		}).delegate('img', 'mouseleave', function () { // when user removes cursor from the image stack
			$('img#photo1').removeClass('rotate1'); // remove the css class that was previously added to make it to its original position
			$('img#photo2').removeClass('rotate2');
			$('img#photo3').removeClass('rotate3');
			$('img#photo1').css("left", ""); // remove the css property 'left' value from the dom
			$('img#photo3').css("left", "");
		});


		// fix sub nav on scroll
		var $win = $(window)
			, $nav = $('.subnav')
			, navTop = $('.subnav').length && $('.subnav').offset().top - 40
			, isFixed = 0;
		processScroll();
		$win.on('scroll', processScroll);
		function processScroll() {
			var i, scrollTop = $win.scrollTop()
			if (scrollTop >= navTop && !isFixed) {
				isFixed = 1
				$nav.addClass('toolbar-fixed')
			} else if (scrollTop <= navTop && isFixed) {
				isFixed = 0
				$nav.removeClass('toolbar-fixed')
			}
		};

	})
}(window.jQuery)
</script>