<link rel="stylesheet" href="css/carausel.css">

<div class="container marge">

	<div class="content">
		<div class="page-header">
			<h1>Runway <small>Everyone else's stuff..</small></h1>
		</div>

		<div class="row">
			<div class="span16 runway">

				<div id="runwayWrap" class="CoulisseDemo"></div>

				<div class="ac">
					<button class="btn like large" data-toggle="toggle"><span class="icon-btn">N</span>Like</button>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="span4 sidebar">
				<h3 id="tour-tabs">Quick menu</h3>
				<button id="btn-create-new-look" class="btn span4" data-toggle="toggle">Create new look</button>
				<button class="btn span4" data-toggle="toggle">Share a look</button>
				<button class="btn span4" data-toggle="toggle">Upload new items</button>
				<button class="btn span4 primary" rel="pop" data-content="Use 'Find Friends' to start your fashion circle." data-original-title="Connect with your homies." data-placement="right" data-toggle="toggle" data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true">Find friends</button>
			</div>

			<div class="span12">

				<div class="alert-message block-message notice fade in" data-alert="alert" >
					<a class="close" href="#">&times;</a>
					<p><span class="label success">Noob alert</span> <strong>Oh snap! First time here?</strong> Would you like to run a site tour to familirize yourself with the interface options?</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
					<div class="alert-actions">
						<a class="btn small" href="#">Yeah!</a> <a class="btn small" href="#">Next time..</a>
					</div>
				</div>
				
				<form action="" class="form-stacked">
					<div class="clearfix">
						<label for="xlInput3">Comment</label>
						<div class="input">
						  <input class="span11" id="xlInput3" name="xlInput3" size="30" type="text">
						</div>
					</div>
				</form>

				<section id="runway-comments">

					<div class="comment well">
						<a href="#" class="avatar"><img class="thumbnail" src="http://placehold.it/42x42" alt="Frank Lastname"></a>
						<label class="poster">Frank Lastname</label>
						<time class="time">posted 6 hours ago</time>
						<p class="body">OMG OMG I WANT ONE!!!</p>
					</div>

					<div class="comment well">
						<a href="#" class="avatar"><img class="thumbnail" src="http://placehold.it/42x42" alt="Fred"></a>
						<label class="poster">Fred Lastname</label>
						<time class="time">posted 5 hours, 59 min ago</time>
						<p class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>

				</section>

			</div>
		</div>

	</div>

	<!-- Site tour guide -->
	<ol id="tourContent">
		<li data-id="tour-roundabout" data-text="Next: Tabs">
			<p>Roundabout can contain any content</p>
		</li>
		<li data-id="tour-tabs" data-text="Next: Forms">
			<p>Tabs are versilite and easy to use</p>
		</li>
		<li data-id="tour-forms" data-text="Next: Alerts">
			<p>all controls for the current table</p>
		</li>
		<li data-id="tour-alerts" data-text="Finish!">
			<p>table pager</p>
		</li>
	</ol>

</div> <!-- /container -->