<link rel="stylesheet" href="css/carausel.css">
<!-- <link rel="stylesheet" href="css/contentflow.css"> -->

<div class="container marge">

	<div class="content">
		<div class="page-header">
			<h1>Runway <small>Everyone else's stuff..</small></h1>
		</div>

		<div class="row">
	
			<div class="span16 runway">

				<div class="alert-message block-message notice fade in" data-alert="alert" >
					<a class="close" href="#">&times;</a>
					<p><span class="label success">Fist time here?</span> <strong>Tutorial?</strong> Click on Yeah! button to activate current view tour.</p>
					<div class="alert-actions">
						<a id="tour-start" class="btn small" href="#">Yeah!</a> <a class="btn small" href="#">Okay..</a>
					</div>
				</div>

				<div id="runwayWrap" class="CoulisseDemo tour_1"></div>

				<div class="ac">
					<button id="btn-like" class="double-btn like tour_2">Like</button>
					<!-- <button class="btn like large" data-toggle="toggle"><span class="icon-btn">N</span>Like</button> -->
				</div>

			</div>
		</div>

		<div class="row">
			<div class="span4 sidebar">
				<h3 class="tour_3">Quick menu</h3>
				<button id="btn-create-new-look" class="btn span4" data-toggle="toggle">Create new look</button>
				<button class="btn span4" data-toggle="toggle">Share a look</button>
				<button class="btn span4" data-controls-modal="modal-upload-items" data-backdrop="true" data-keyboard="true">Upload new items</button>
				<button class="btn span4 primary" rel="pop" data-content="Use 'Find Friends' to start your fashion circle." data-original-title="Connect with your homies." data-placement="right" data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true">Find friends</button>
			</div>

			<div class="span12">

				<form id="runway-comments" action="" class="form-stacked">
					<div class="clearfix tour_4">
						<label for="xlInput3">Comment</label>
						<div class="input">
						  <input class="span11" id="xlInput3" name="xlInput3" size="30" type="text">
						</div>
					</div>
				</form>

				<section id="runway-comments">

					<div class="comment-body-wrap">
						<div class="comment-wrap">
							<div class="comment-header">
								<span role="button" class="a-j Mo bg" title="Options menu"></span>
								<a href="#profile" class="comment-author"><img src="http://placehold.it/48x48" width="48px" height="48px" alt="H Juggernaut's profile photo" class="comment-author-image"></a>
								<div class="Ex">
									<span class="eE">
										<a href="#profile" class="comment-author-link">Frank Lastname</a>
									</span>
									<span class="comment-meta">
										&nbsp;-&nbsp;
										<a href="#" class="" title="Jan 5, 2012 11:29:03 PM">Jan 5, 2012</a>
										&nbsp;-&nbsp;
										<a href="#" class="" title="Sharing details">Public</a>
									</span>
								</div>
							</div>
							<div>
								<p class="comment-content">Lorem ipsum dolor sit amet.</p>
								<div class="comment-actions">
									<a href="#" class="runway-reply-show">Comment</a> &nbsp;-&nbsp; <a href="#">Share</a>
								</div>
							</div>
							<div class="runway-reply-wrap hide">
								<textarea class="runway-comment-input" placeholder="Enter comment"></textarea>
								<button class="btn primary runway-comment-post">Post comment</button>
								<button class="btn runway-comment-cancel">Cancel</button>
							</div>
						</div>
					</div>

					<div class="comment-body-wrap">
						<div class="comment-wrap">
							<div class="comment-header">
								<span role="button" class="a-j Mo bg" title="Options menu"></span>
								<a href="#profile" class="comment-author clearfix"><img src="http://placehold.it/48x48" width="48px" height="48px" alt="H Juggernaut's profile photo" class="comment-author-image"></a>
								<div class="Ex">
									<span class="eE">
										<a href="#profile" class="comment-author-link">H Juggernaut</a>
									</span>
									<span class="comment-meta">
										&nbsp;-&nbsp;
										<a href="#" class="" title="Jan 7, 2012 8:29:03 PM">Jan 7, 2012</a>
										&nbsp;-&nbsp;
										<a href="#" class="" title="Sharing details">Public</a>
									</span>
								</div>
							</div>

							<div>
								<div class="comment-gallery-wrap">
									<div class="comment-gallery-body clearfix">
										<div class="comment-gallery-poster">
											<img src="http://placehold.it/400x300">
										</div>
										<br/>
										<div class="comment-gallery-thumb">
											<img src="http://placehold.it/62x46">
										</div>
										<div class="comment-gallery-thumb">
											<img src="http://placehold.it/62x46">
										</div>
										<div class="comment-gallery-thumb">
											<img src="http://placehold.it/62x46">
										</div>
										<div class="comment-gallery-thumb">
											<img src="http://placehold.it/62x46">
										</div>
										<div class="comment-gallery-thumb">
											<img src="http://placehold.it/62x46">
										</div>
										<div class="comment-gallery-thumb">
											<img src="http://placehold.it/62x46">
										</div>
									</div>

									<div class="comment-gallery-actions">
										<a href="#closet">View</a> this album.
									</div>
								</div>

								<p class="comment-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
								<div class="comment-actions">
									<a href="#" class="runway-reply-show">Comment</a> &nbsp;-&nbsp; <a href="#">Share</a>
								</div>
							</div>
							<div class="runway-reply-wrap hide">
								<textarea class="runway-comment-input" placeholder="Enter comment"></textarea>
								<button class="btn primary runway-comment-post">Post comment</button>
								<button class="btn runway-comment-cancel">Cancel</button>
							</div>
						</div>
					</div>

					<div class="more ac tour_5">
						<a id="last_comment_2" class="load-more" href="#">more</a>
					</div>

				</section>

			</div>
		</div>

	</div>
</div> <!-- /container -->