<div class="container">

	<div class="content">
		<div class="page-header">
			<h1>Page name <small>Supporting text or tagline</small></h1>
		</div>
		<div class="row">
			<div class="span10">
				<h2 id="tour-alerts">Main content</h2>

				<p>Lorem ipsum dolor sit <a href="#" rel="tip" data-placement="left" data-original-title="The last tip!">handle</a> amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco <a href="#" rel="tip" data-placement="right" data-original-title="The last tip!">handle</a> laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat <a href="#" rel="tip" data-placement="above" data-original-title="The last tip!">handle</a> pariatur. Excepteur sint occaecat <button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn primary action">Launch Modal (in index.html)</button> non
				proident, sunt in culpa qui officia deserunt mollit <a href="#" rel="tip" data-placement="below" data-original-title="The last tip!">handle</a> id est laborum.</p>

				<div class="alert-message block-message error fade in" data-alert="alert" >
					<a class="close" href="#">&times;</a>
					<p><span class="label success">New</span> <strong>Oh snap! You got an error!</strong> Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
					<div class="alert-actions">
						<a class="btn small" href="#">Take this action</a> <a class="btn small" href="#">Or do this</a>
					</div>
				</div>

				<h3 id="tour-roundabout">Roundabout</h3>
				<ul rel="roundabout" class="unstyled roundabout">
					<li><span>Block 1</span></li>
					<li><span>Block 2</span></li>
					<li><span>Block 3</span></li>
					<li><span>Block 4</span></li>
					<li><span>Block 5</span></li>
					<li><span>Block 6</span></li>
					<li><span>Block 7</span></li>
				</ul>
			</div>

			<div class="span6">
				<h3 id="tour-tabs">Secondary content</h3>
				<ul class="tabs" data-tabs="tabs">
					<li class="active"><a href="#home">Home</a></li>
					<li><a href="#settings">Settings</a></li>
					<li class="dropdown" data-dropdown="dropdown">
						<a href="#" class="dropdown-toggle">Dropdown</a>
						<ul class="dropdown-menu">
							<li><a href="#mdo">@mdo</a></li>
						</ul>
					</li>
				</ul>
				<div id="my-tab-content" class="tab-content">
					<div class="active tab-pane" id="home">
						<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu <a href="#" class="btn danger" rel="pop" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A title" data-placement="left">hover for popover</a> aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher <button class="btn" data-toggle="toggle">Toggle Demo</button> Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
					</div>
					<div class="tab-pane" id="settings">
						<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's <span class="label warning">Warning</span> organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
					</div>
					<div class="tab-pane" id="mdo">
						<p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span4">
				<h3>Side content</h3>
				<p><span class="label important">Important</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>

			<div class="span12">
				<h3 id="tour-forms">Primary content (Forms)</h3>
				<ul class="tabs" data-tabs="tabs">
					<li class="active"><a href="#formsv">Forms V</a></li>
					<li><a href="#formsh">Forms H</a></li>
				</ul>
				
				<div id="my-tab-content" class="tab-content">
					<div class="active tab-pane" id="formsv">
						<form action="" class="form-stacked">
							<fieldset>
								<legend>Example form legend</legend>
								<div class="clearfix">
									<label for="xlInput3">X-Large input</label>
									<div class="input">
										<input class="xlarge" id="xlInput3" name="xlInput3" size="30" type="text">
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix">
									<label for="stackedSelect">Select</label>
									<div class="input">
										<select name="stackedSelect" id="stackedSelect">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
									</div>
								</div><!-- /clearfix -->
							</fieldset>
							<fieldset>
								<legend>Example form legend</legend>
								<div class="clearfix error">
									<label for="xlInput4">X-Large input</label>
									<div class="input">
										<input class="xlarge error" id="xlInput4" name="xlInput4" size="30" type="text">
										<span class="help-inline">Small snippet of help text</span>
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix">
									<label id="optionsCheckboxes">List of options</label>
									<div class="input">
										<ul class="inputs-list">
											<li>
												<label>
													<input type="checkbox" name="optionsCheckboxes" value="option1">
													<span>Option one is this and that—be sure to include why it’s great</span>
												</label>
											</li>
											<li>
												<label>
													<input type="checkbox" name="optionsCheckboxes" value="option2">
													<span>Option two can also be checked and included in form results</span>
												</label>
											</li>
										</ul>
										<span class="help-block">
											<strong>Note:</strong> Labels surround all the options for much larger click areas and a more usable form.
										</span>
									</div>
								</div><!-- /clearfix -->
							</fieldset>
							<div class="actions">
								<button type="submit" class="btn primary">Save changes</button>&nbsp;<button type="reset" class="btn">Cancel</button>&nbsp;
								<button id="fat-btn" data-loading-text="loading..." class="btn danger">Loading Demo</button>
							</div>
						</form>
					</div>

					<div class="tab-pane" id="formsh">
						<h4>Forms horizontal</h4>
						<form>
							<fieldset>
								<legend>Example form legend</legend>
								<div class="clearfix">
									<label for="xlInput">X-Large input</label>
									<div class="input">
										<input class="xlarge" id="xlInput" name="xlInput" size="30" type="text">
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix">
									<label for="normalSelect"><span class="label notice">Notice</span> Select</label>
									<div class="input">
										<select name="normalSelect" id="normalSelect">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix">
									<label for="mediumSelect">Select</label>
									<div class="input">
										<select class="medium" name="mediumSelect" id="mediumSelect">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix">
									<label for="multiSelect">Multiple select</label>
									<div class="input">
										<select class="medium" size="5" multiple="multiple" name="multiSelect" id="multiSelect">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix">
									<label>Uneditable input</label>
									<div class="input">
										<span class="uneditable-input">Some value here</span>
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix">
									<label for="disabledInput">Disabled input</label>
									<div class="input">
										<input class="xlarge disabled" id="disabledInput" name="disabledInput" size="30" type="text" placeholder="Disabled input here… carry on." disabled="">
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix">
									<label for="disabledInput">Disabled textarea</label>
									<div class="input">
										<textarea class="xxlarge" name="textarea" id="textarea" rows="3" disabled=""></textarea>
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix error">
									<label for="errorInput">Input with error</label>
									<div class="input">
										<input class="xlarge error" id="errorInput" name="errorInput" size="30" type="text">
										<span class="help-inline">Small snippet of help text</span>
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix success">
									<label for="successInput">Input with success</label>
									<div class="input">
										<input class="xlarge error" id="successInput" name="successInput" size="30" type="text">
										<span class="help-inline">Success!</span>
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix warning">
									<label for="warningInput">Input with warning</label>
									<div class="input">
										<input class="xlarge error" id="warningInput" name="warningInput" size="30" type="text">
										<span class="help-inline">Ruh roh!</span>
									</div>
								</div><!-- /clearfix -->
							</fieldset>
							<fieldset>
								<legend>Example form legend</legend>
								<div class="clearfix">
									<label for="prependedInput">Prepended text</label>
									<div class="input">
										<div class="input-prepend">
											<span class="add-on">@</span>
											<input class="medium" id="prependedInput" name="prependedInput" size="16" type="text">
										</div>
										<span class="help-block">Here's some help text</span>
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix">
									<label for="prependedInput2">Prepended checkbox</label>
									<div class="input">
										<div class="input-prepend">
											<label class="add-on"><input type="checkbox" name="" id="" value=""></label>
											<input class="mini" id="prependedInput2" name="prependedInput2" size="16" type="text">
										</div>
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix">
									<label for="appendedInput">Appended checkbox</label>
									<div class="input">
										<div class="input-append">
											<input class="mini" id="appendedInput" name="appendedInput" size="16" type="text">
											<label class="add-on active"><input type="checkbox" name="" id="" value="" checked="checked"></label>
										</div>
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix">
									<label for="fileInput">File input</label>
									<div class="input">
										<input class="input-file" id="fileInput" name="fileInput" type="file">
									</div>
								</div><!-- /clearfix -->
							</fieldset>
							<fieldset>
								<legend>Example form legend</legend>
								<div class="clearfix">
									<label id="optionsCheckboxes">List of options</label>
									<div class="input">
										<ul class="inputs-list">
											<li>
												<label>
													<input type="checkbox" name="optionsCheckboxes" value="option1">
													<span>Option one is this and that—be sure to include why it’s great</span>
												</label>
											</li>
											<li>
												<label>
													<input type="checkbox" name="optionsCheckboxes" value="option2">
													<span>Option two can also be checked and included in form results</span>
												</label>
											</li>
											<li>
												<label>
													<input type="checkbox" name="optionsCheckboxes" value="option2">
													<span>Option three can—yes, you guessed it—also be checked and included in form results. Let's make it super long so that everyone can see how it wraps, too.</span>
												</label>
											</li>
											<li>
												<label class="disabled">
													<input type="checkbox" name="optionsCheckboxes" value="option2" disabled="">
													<span>Option four cannot be checked as it is disabled.</span>
												</label>
											</li>
										</ul>
										<span class="help-block">
											<strong>Note:</strong> Labels surround all the options for much larger click areas and a more usable form.
										</span>
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix">
									<label>Date range</label>
									<div class="input">
										<div class="inline-inputs">
											<input class="small" type="text" value="May 1, 2011">
											<input class="mini" type="text" value="12:00am">
											to
											<input class="small" type="text" value="May 8, 2011">
											<input class="mini" type="text" value="11:59pm">
											<span class="help-block">All times are shown as Pacific Standard Time (GMT -08:00).</span>
										</div>
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix">
									<label for="textarea">Textarea</label>
									<div class="input">
										<textarea class="xxlarge" id="textarea2" name="textarea2" rows="3"></textarea>
										<span class="help-block">
											Block of help text to describe the field above if need be.
										</span>
									</div>
								</div><!-- /clearfix -->
								<div class="clearfix">
									<label id="optionsRadio">List of options</label>
									<div class="input">
										<ul class="inputs-list">
											<li>
												<label>
													<input type="radio" checked="" name="optionsRadios" value="option1">
													<span>Option one is this and that—be sure to include why it’s great</span>
												</label>
											</li>
											<li>
												<label>
													<input type="radio" name="optionsRadios" value="option2">
													<span>Option two can is something else and selecting it will deselect options 1</span>
												</label>
											</li>
										</ul>
									</div>
								</div><!-- /clearfix -->
								<div class="actions">
									<input type="submit" class="btn primary" value="Save changes">&nbsp;<button type="reset" class="btn">Cancel</button>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<p>&copy; Company 2011</p>
	</footer>

	<!-- Site tour guide -->
	<ol id="tourContent">
		<li data-id="tour-roundabout" data-text="Next: Tabs">
			<p>Roundabout can contain any content</p>
		</li>
		<li data-id="tour-tabs" data-text="Next: Forms">
			<p>Tabs are versilite and easy to use</p>
		</li>
		<li data-id="tour-forms" data-text="Next: Alerts">
			<p>all controls for the current table</p>
		</li>
		<li data-id="tour-alerts" data-text="Finish!">
			<p>table pager</p>
		</li>
	</ol>

</div> <!-- /container -->