/* Email */
.email{}
	.email .counter{
		background: transparent url(../images/counter.png) no-repeat 0 0;
		width: 46px;
		height: 46px;
		position: absolute;
		top: 0px;
		right: 0px;	
		text-align: center;
		padding-top: 10px;
	}