/************************************************************************
MAIN LAYOUT
*************************************************************************/

/* Default body format */
body {
	font-size: 12px;
	font-family: Arial, Helvetica, Verdana, san-serif;
	line-height: 23px;
	position: relative;
	text-align: center;
	color: #FFF;
	background: #2a2c2f url(../images/body.jpg) no-repeat top center;
}

/* Holds all the content of your website */
#wrapper { 
	width: 960px;
	position: relative;
	display: table;
	text-align: left;
	margin: 0 auto;
}

/* Header */
header{
	background: transparent url(../images/logo.png) no-repeat 0 0;
	width: 940px;
	height: 145px;
	text-indent: -9000px;
}

/* All widgets */
section.size3, section.size2, section.size1{
	display: block;	
}
	section.size1 .content-box, section.size2 .content-box{
		margin: 0 10px 0 2px;
	}
		section.size1 .picture{
			position:absolute; 
			height: 155px;
			width: 300px;
			display:block;
			margin: 9px 0 0 0;
			background-position: 0px 50% !important; 
		}
		section.size1 .picture .label{
			bottom: 0px;
			left: 0px;
			width: 270px;
			top: auto;	
			text-align: right;
			padding-right: 20px;
		}
		section.size1 .content, section.size2 .content{
			margin: 0 15px;
			text-shadow: 1px 1px 3px #000;
		}
		section.size1 .content, section.size2 .content{
			margin: 0 15px;
			text-shadow: 1px 1px 3px #000;
		}
		section.size1 .highlight{
			position: absolute;
			top: 7px;
			left: 1px;
			z-index: 1;
			-moz-border-radius: 6px;
			webkit-border-radius: 6px;
			border-radius: 6px;	
		}

/* Widget 1/3 */
section.size1{
	width: 320px;
	float: left;
	height: 180px;
	position: relative;
}
	section.size1 .module_wrap{
		background: transparent url(../images/box.png) no-repeat 0 6px;	
		width: 304px;
		height: 168px;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 20;
	}
	section.size1 .highlight{
		width: 302px;
		height: 159px;
	}
	section.size1 .shine{
		position: absolute;
		top: 9px;
		left: 3px;
		width: 254px;
		height: 130px;
		background: transparent url(../images/shine.png) no-repeat 0 0;	
	}
	section.size1.loading .module_wrap{
			background: transparent url(../images/loading-box.png) no-repeat 0 6px;
	}
		section.size1.loading .shine{
			background: transparent url(../images/loader.gif) no-repeat 95px 70px !important;
		}

/* Widget 3/3 */
section.size3{
	width: 940px;
	float: left;
	height: 180px;
}
	section.size3.loading .module_wrap{
		width: 940px;
		height: 180px;
		background: transparent url(../images/loading-box-big.png) no-repeat 0 6px;
	}

/* Widget headers - Hide main logo in these headers */
section header{
	font-family: 'Droid Sans', arial, serif;
	background: none;	
	text-indent: 0;
	font-size: 14px;
	font-weight: bold;
	color: ##BEE3FF;
	text-shadow: 0 1px 0 #222;
	margin: 20px 15px 10px 15px;
	width: auto;
	height: auto;
	text-transform: uppercase;
}
section header span{
	font-size: 12px;
	font-weight: normal;
	text-transform:none;
}

/* Service ID */
#service{
	width: 400px;
	margin: 0 auto;	
	min-width: 300px;
	min-height: auto;
	color: #000;
	background:#eee;
	text-align: left;
	color:#333;
	-moz-box-shadow:0 0 15px rgba(0, 0, 0, 0.5);
	display:none;
}
	#service header{background:none;height:auto;width:auto;text-indent:0;border-bottom:solid 1px #e0e0e0;padding:10px 15px}
		#service header h2{font-size:16px;}
	#service .content{background:#FFF;padding:15px;-moz-border-radius: 3px;webkit-border-radius: 3px;border-radius: 3px;	}
	#service .content img{float:left;}
	#service .content span{float:right;width: 290px;color:#333;line-height:18px}
	#service .content span.full{width: 370px}

/************************************************************************
BASIC ELEMENTS
*************************************************************************/

/* Link styling */
a:link, a:visited, a:active {
	color: #FFF;
	text-decoration: none;
	border-bottom: dotted 1px #FFF;
}
a:hover {
	text-decoration: none;
	border: none;
}

/* Paragraph styling */
p {
	margin: 0 0 23px 0;
}

/* Headings */
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

hr{
	border: none;
	background: transparent url(../images/hr.png) no-repeat 0 10px;
	height: 30px;
	display: block;
	clear: both;
	width: 940px;
}

/************************************************************************
REST STYLING
*************************************************************************/

.clearicon{
	padding-right: 80px;	
}

.round{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
}

.overlay{
	background: transparent url(../images/overlay.png) repeat 0 0;overflow: hidden;_overflow: visible;zoom:1;	
}

.scroller{
	height: 43px;
	position: relative;	
	padding-top: 10px;
}
.scroller .overlay{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 940px;
	height: 43px;
	display: block;
	background: transparent url(../images/scroller.png) no-repeat 0 0;	
}

.center{
	text-align: center;
	overflow:hidden;	
}
.clearfix{overflow: hidden;_overflow: visible;zoom:1;}

.content-box{overflow: hidden;_overflow: visible;zoom:1;}

/* Font styles */
.font-style0, .font-style1, .font-style2, .font-style3, .font-style4{
	color: #FFF;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
}
.font-style0{
	font-size: 10px;
	font-weight: normal;
}
.font-style1{
	font-size: 12px;
	font-weight: normal;
}

.font-style2{
	font-size: 14px;
}

.font-style3{
	font-size: 18px;
}

.font-style4{
	font-size: 12px;
	color: #bee3ff;
	text-transform:uppercase;
}
.font-style5{
	font-size: 10px;
	color: #bee3ff;
	text-transform:uppercase;
	font-weight: normal;
}

/* Chart styling */
.chart-spacer{
	float: left;
	height: 170px;	
}
.chart-column{
	float: left;
	height: 170px;
	text-align: center;
}
	.chart-column .font-style2{
		position: relative;	
	}
	.chart-column .font-style2 span{
		position: absolute;
		bottom: 0px;
		left: 0px;
		display: block;	
		text-align: center;
		width: 100%;
		padding-bottom: 5px;
	}
	.chart-column .bar{
		background: #4891c8;
		margin: 0 5px;
	}

/* Table styling */
.content table tr{
}
	.content table tr{
		background: transparent url(../images/row.png) no-repeat 0 bottom;
	}
	.content table tr td{
		padding: 1px 8px;
	}
	.content table tr td.tick{
		background: transparent url(../images/icons/tick.png) no-repeat 0 5px;
	}
	.content table tr td.cross{
		background: transparent url(../images/icons/cross.png) no-repeat 0 5px;
	}
	
#service table tr{
	
}
	#service table tr td{
		padding: 5px 8px;
		border-bottom: 1px solid #E0E0E0;
		line-height: 14px;
	}
	#service table tr td.tick{
		background: transparent url(../images/icons/tick.png) no-repeat 0 5px;
	}
	#service table tr td.cross{
		background: transparent url(../images/icons/cross.png) no-repeat 0 5px;
	}
	#service table tr:nth-child(2n+1) {
	  background-color: #F1F1F1;
	}
	#service .big{
		font-size: 18px;
		font-weight: bold;
		vertical-align: middle;
	}
	.content .small div{
		color: #999;
		font-style: italic;
	}