@CHARSET "UTF-8";
.weather .grid{
	background: transparent url(images/grid.png) no-repeat 0 0;
	height: 115px;	
	width: 300px;
	margin-left: 2px;
}
	.weather .grid .column{
		width: 60px;
		float: left;
		text-align: center;		
	}
		.weather .grid .column img{
			display: block;
			margin-left: 13px;
		}
		.weather .grid .column h2{
			font-size: 13px;
			color: #FFF;
			font-weight: bold;
			text-shadow: 1px 1px 1px #000;
			text-transform: uppercase;
			margin-bottom:5px;
		}