<div id="brands-view" class="container marge">

	<!-- Masthead
	================================================== -->
	<header class="jumbotron subhead" id="overview">
		<h1>Stores & Brands</h1>
		<p class="lead">Your store could be here</p>
		<div class="subnav ac">

			<div id="brands-list-nav" class="listNav"></div>

		</div>
	</header>

	<hr/>

	<!-- Stores and Brands List -->
	<section id="brands-list-wrap" class="global-filter">

		<ul id="brands-list" class="navlist">
			<li><a href="#brand">411 Services</a></li>
			<li><a href="#brand">Accountants</a></li>
			<li><a href="#brand">Accounting & Bookkeeping - General Service</a></li>
			<li><a href="#brand">Acupuncture</a></li>
			<li><a href="#brand">Advertising</a></li>
			<li><a href="#brand">Advertising - Agencies & Counselors</a></li>
			<li><a href="#brand">Advertising - Computer</a></li>
			<li><a href="#brand">Advertising - Promotional</a></li>
			<li><a href="#brand">Attorneys - Service Bureaus</a></li>
			<li><a href="#brand">Auctioneers</a></li>
			<li><a href="#brand">Audio Visual Consultants</a></li>
			<li><a href="#brand">Audio Visual Production Service</a></li>
			<li><a href="#brand">Automobile - Renting</a></li>
			<li><a href="#brand">Automobile - Repair & Service</a></li>
			<li><a href="#brand">Banks</a></li>
			<li><a href="#brand">Banquet Rooms</a></li>
			<li><a href="#brand">Barber Shops</a></li>
			<li><a href="#brand">Baseball Clubs</a></li>
			<li><a href="#brand">Book Dealers - Used & Rare</a></li>
			<li><a href="#brand">Bookbinders</a></li>
			<li><a href="#brand">Brake Service</a></li>
			<li><a href="#brand">Business - Management Consultants</a></li>
			<li><a href="#brand">Business - Services</a></li>
			<li><a href="#brand">Cabinet Makers</a></li>
			<li><a href="#brand">Cabinets</a></li>
			<li><a href="#brand">Cafeterias</a></li>
			<li><a href="#brand">Calligraphers</a></li>
			<li><a href="#brand">Campgrounds</a></li>
			<li><a href="#brand">Cemeteries & Crematories</a></li>
			<li><a href="#brand">Ceramic Products - Decorative</a></li>
			<li><a href="#brand">Chambers of Commerce</a></li>
			<li><a href="#brand">Crane Service</a></li>
			<li><a href="#brand">Cruises</a></li>
			<li><a href="#brand">Dancing Instruction</a></li>
			<li><a href="#brand">Data Communications Equipment & Systems - Networks</a></li>
			<li><a href="#brand">Deck Builders</a></li>
			<li><a href="#brand">Delivery Service</a></li>
			<li><a href="#brand">Dentists</a></li>
			<li><a href="#brand">Department Stores</a></li>
			<li><a href="#brand">Draperies & Curtains - Retail & Custom Made</a></li>
			<li><a href="#brand">Drilling - Companies</a></li>
			<li><a href="#brand">Driving - Instruction</a></li>
			<li><a href="#brand">Drug - Abuse & Addiction Info & Treatment</a></li>
			<li><a href="#brand">Drywall & Insulation Contractors</a></li>
			<li><a href="#brand">Earthquake Products & Services</a></li>
			<li><a href="#brand">E-Commerce</a></li>
			<li><a href="#brand">Education Centers</a></li>
			<li><a href="#brand">Educational Consultants</a></li>
			<li><a href="#brand">Educational Service - Business</a></li>
			<li><a href="#brand">Electric Contractors</a></li>
			<li><a href="#brand">Electric Transmission Equipment (Manufacturers)</a></li>
			<li><a href="#brand">Electrolysis</a></li>
			<li><a href="#brand">Erosion Control</a></li>
			<li><a href="#brand">Excavating Contractors</a></li>
			<li><a href="#brand">Executive Search Consultants</a></li>
			<li><a href="#brand">Exercise & Physical Fitness Programs</a></li>
			<li><a href="#brand">Exterminating & Pest Control Services</a></li>
			<li><a href="#brand">Fabric Shops</a></li>
			<li><a href="#brand">Fabrics (Wholesale)</a></li>
			<li><a href="#brand">Facilities Management</a></li>
			<li><a href="#brand">Farms</a></li>
			<li><a href="#brand">Foundation - Educational Philanthropic Research</a></li>
			<li><a href="#brand">Fraternities & Sororities</a></li>
			<li><a href="#brand">Games & Game Supplies</a></li>
			<li><a href="#brand">Garbage Collection</a></li>
			<li><a href="#brand">Garden Centers</a></li>
			<li><a href="#brand">Gas - Liquefied Petroleum - Bottled & Bulk (Wholesale)</a></li>
			<li><a href="#brand">Guide Service</a></li>
			<li><a href="#brand">Gymnastic Instruction</a></li>
			<li><a href="#brand">Halls & Auditoriums</a></li>
			<li><a href="#brand">Handyman Services</a></li>
			<li><a href="#brand">Hardware - Retail</a></li>
			<li><a href="#brand">Hardwood</a></li>
			<li><a href="#brand">Health & Diet Foods - Retail</a></li>
			<li><a href="#brand">House & Building Movers</a></li>
			<li><a href="#brand">House Cleaning</a></li>
			<li><a href="#brand">Human Factors - Research & Development</a></li>
			<li><a href="#brand">Human Resource Consultants</a></li>
			<li><a href="#brand">Importers</a></li>
			<li><a href="#brand">Industrial - Equipment & Supplies (Wholesale)</a></li>
			<li><a href="#brand">Internet - Services</a></li>
			<li><a href="#brand">Inventors</a></li>
			<li><a href="#brand">Investigators</a></li>
			<li><a href="#brand">Investment - Management</a></li>
			<li><a href="#brand">Investments</a></li>
			<li><a href="#brand">Janitor Service</a></li>
			<li><a href="#brand">Jewelers (Wholesale)</a></li>
			<li><a href="#brand">Jewelers - Retail</a></li>
			<li><a href="#brand">Jewelry - Designers</a></li>
			<li><a href="#brand">Laboratories</a></li>
			<li><a href="#brand">Laboratories - Research & Development</a></li>
			<li><a href="#brand">Land Companies</a></li>
			<li><a href="#brand">Landfills - Sanitary</a></li>
			<li><a href="#brand">Lumber (Manufacturers)</a></li>
			<li><a href="#brand">Lumber - Retail</a></li>
			<li><a href="#brand">Machine Shops</a></li>
			<li><a href="#brand">Machinery - Rebuilding & Repairing (Wholesale)</a></li>
			<li><a href="#brand">Machinery - Specially Designed & Built</a></li>
			<li><a href="#brand">Magicians</a></li>
			<li><a href="#brand">Maid & Butler Service</a></li>
			<li><a href="#brand">Motorcycles - Supplies & Parts (Manufacturers)</a></li>
			<li><a href="#brand">Multimedia (Manufacturers)</a></li>
			<li><a href="#brand">Museums</a></li>
			<li><a href="#brand">Newspaper - Publishers</a></li>
			<li><a href="#brand">Nonclassifiable Establishments</a></li>
			<li><a href="#brand">Non-Profit Organizations</a></li>
			<li><a href="#brand">Nurseries - Plants & Trees (Wholesale)</a></li>
			<li><a href="#brand">Nurserymen</a></li>
			<li><a href="#brand">Nutritionists</a></li>
			<li><a href="#brand">Paint - Retail</a></li>
			<li><a href="#brand">Painters</a></li>
			<li><a href="#brand">Parking Area & Lots Maintenance & Marking</a></li>
			<li><a href="#brand">Parks</a></li>
			<li><a href="#brand">Party Supplies</a></li>
			<li><a href="#brand">Patio & Deck Cleaning & Restoration</a></li>
			<li><a href="#brand">Paving Contractors</a></li>
			<li><a href="#brand">Pumps (Wholesale)</a></li>
			<li><a href="#brand">Quilting - Materials & Supplies</a></li>
			<li><a href="#brand">Radio Stations & Broadcasting Companies</a></li>
			<li><a href="#brand">Railroads</a></li>
			<li><a href="#brand">Ranches</a></li>
			<li><a href="#brand">Reading Improvement Instruction</a></li>
			<li><a href="#brand">Reading Rooms</a></li>
			<li><a href="#brand">Real Estate</a></li>
			<li><a href="#brand">Real Estate - Appraisers</a></li>
			<li><a href="#brand">Real Estate - Consultants</a></li>
			<li><a href="#brand">Restaurants</a></li>
			<li><a href="#brand">Restaurants - American</a></li>
			<li><a href="#brand">Restaurants - Bakeries</a></li>
			<li><a href="#brand">Restaurants - Barbecue</a></li>
			<li><a href="#brand">Roofing - Materials</a></li>
			<li><a href="#brand">Roofing - Service Consultants</a></li>
			<li><a href="#brand">Sand & Gravel (Wholesale)</a></li>
			<li><a href="#brand">School Supplies (Wholesale)</a></li>
			<li><a href="#brand">Schools & Educational Services</a></li>
			<li><a href="#brand">Schools - Nursery & Kindergarten Academic</a></li>
			<li><a href="#brand">Schools - Universities & Colleges Academic</a></li>
			<li><a href="#brand">Shoe & Boot Repairing</a></li>
			<li><a href="#brand">Shoes - Retail</a></li>
			<li><a href="#brand">Shopping Centers & Malls</a></li>
			<li><a href="#brand">Shower Doors & Enclosures</a></li>
			<li><a href="#brand">Sunglasses & Sun Goggles (Wholesale)</a></li>
			<li><a href="#brand">Surveyors - Land</a></li>
			<li><a href="#brand">Tanning Salons</a></li>
			<li><a href="#brand">Tattooing</a></li>
			<li><a href="#brand">Tax Consultants</a></li>
			<li><a href="#brand">Tax Return Preparation & Filing</a></li>
			<li><a href="#brand">Technical Manual Preparation</a></li>
			<li><a href="#brand">Tools - Electric - Repairing & Parts</a></li>
			<li><a href="#brand">Tours - Operators & Promoters</a></li>
			<li><a href="#brand">Tutoring</a></li>
			<li><a href="#brand">Ultrasonic Equipment & Supplies (Wholesale)</a></li>
			<li><a href="#brand">Upholsterers</a></li>
			<li><a href="#brand">Utilities - Underground - Cable Locating Service</a></li>
			<li><a href="#brand">Vacuum Cleaners - Household - Dealers</a></li>
			<li><a href="#brand">Vending Machines</a></li>
			<li><a href="#brand">Ventilating Systems - Cleaning</a></li>
			<li><a href="#brand">Venture Capital Companies</a></li>
			<li><a href="#brand">Vineyards</a></li>
			<li><a href="#brand">Vitamin Products (Manufacturers)</a></li>
			<li><a href="#brand">Vitamins</a></li>
			<li><a href="#brand">Wallpapers & Wallcoverings - Installation</a></li>
			<li><a href="#brand">Windows - Repairing</a></li>
			<li><a href="#brand">Wineries</a></li>
			<li><a href="#brand">Wines - Consultants</a></li>
			<li><a href="#brand">Wines - Retail</a></li>
			<li><a href="#brand">Woodworkers</a></li>
			<li><a href="#brand">Writers</a></li>
			<li><a href="#brand">X-Ray - Apparatus & Supplies (Manufacturers)</a></li>
			<li><a href="#brand">Yarn - Retail</a></li>
			<li><a href="#brand">Yoga Instruction</a></li>
			<li><a href="#brand">Youth Organizations & Centers</a></li>
		</ul>

	</section>

	</div>
</div> <!-- /container -->
<script>
!function ($) {
	$(function(){


		$('#brands-list').listnav();


		// fix sub nav on scroll
		var $win = $(window)
			, $nav = $('.subnav')
			, navTop = $('.subnav').length && $('.subnav').offset().top - 40
			, isFixed = 0;
		processScroll();
		$win.on('scroll', processScroll);
		function processScroll() {
			var i, scrollTop = $win.scrollTop()
			if (scrollTop >= navTop && !isFixed) {
				isFixed = 1
				$nav.addClass('subnav-fixed')
			} else if (scrollTop <= navTop && isFixed) {
				isFixed = 0
				$nav.removeClass('subnav-fixed')
			}
		};


	})
}(window.jQuery)
</script>