<div id="runway-view" class="container marge">

	<!-- Masthead
	================================================== -->
	<header class="jumbotron subhead" id="overview">

		<div class="navbar subnav container" id="runway-controls">
		  <div class="navbar-inner">
		    <a class="brand" href="#">Runway</a>
		    <ul class="nav pull-right">
		      <li>
						<div id="runway-control-buttons" class="btn-group" data-toggle="buttons-radio">
							<button rel="runway-global" class="btn rw-random active">Random</button>
							<button rel="runway-columns" class="btn rw-columns">Columns</button>
							<button rel="runway-list" class="btn rw-list">List</button>
						</div>
		      </li>
		      <li class="divider-vertical"></li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> Customize <b class="caret"></b></a>
					  <ul class="dropdown-menu">
							<li><label class="checkbox"><input type="checkbox" id="rw-control-featured" checked> Feautred items</label></li>
							<li><label class="checkbox"><input type="checkbox" id="rw-control-follow" checked> People you follow</label></li>
							<li><label class="checkbox"><input type="checkbox" id="rw-control-shared" checked> Shared with you</label></li>
							<li><label class="checkbox"><input type="checkbox" id="rw-control-liked" checked> Stuff you liked</label></li>
							<!-- <li><label class="checkbox"><input type="checkbox" id="rw-control-comments" checked> Top 3 comments</label></li> -->
					  </ul>
					</li>
		    </ul>
		  </div>
		</div>

	</header>

	<!-- Runway Global -->
	<section id="runway-global" class="global-filter">
		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth wished">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- 3/4 WIDTH -->
		<article class="rw-thumbnail-wrap third">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/690x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- HALF WIDTH -->
		<article class="rw-thumbnail-wrap half">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/456x456" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- HALF WIDTH -->
		<article class="rw-thumbnail-wrap half">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/456x456" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- BIG FULL WIDTH -->
		<article class="rw-thumbnail-wrap single featured-item">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/926x420" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>100k+</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>
	</section>

	<!-- Runway Columns -->
	<section id="runway-columns" class="global-filter hide">
		<!-- THIRD WIDTH -->
		<article class="rw-thumbnail-wrap columns">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/299x420" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- THIRD WIDTH -->
		<article class="rw-thumbnail-wrap columns">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/299x420" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>3</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- THIRD WIDTH -->
		<article class="rw-thumbnail-wrap columns">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/299x420" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>
	</section>

	<!-- Runway List -->
	<section id="runway-list" class="global-filter hide">
		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<!-- / comments -->
		</article>
	</section>

	</div>
</div> <!-- /container -->
<script>
!function ($) {
	$(function(){

		$('[rel=tip]').tooltip();

		$("#runway-list .follow-user-link").toggle(
			function(){
				$(this).text("following").addClass("following active");
				alert("You are now following Persons Name", "success");
			}, 
			function(){
				$(this).text("follow").removeClass("following active");
				alert("You are no longer following Persons Name", "error");
			}
		);

		$("#runway-control-buttons button").click(function(){
			var curValue = $(this).attr('rel'),
					targets = $('section.global-filter');
			targets.addClass('hide');
			$("section#" + curValue).removeClass('hide');

		});

		$(".like").toggle(
			function(){
				$(this).parent().addClass("active").attr("data-original-title", "Dislike it");
				$(this).parent().parent().parent().addClass("liked");
				$('#modal-shelves').modal('show');
				$('<a href="#" class="btn like-edit" rel="tip" title="Edit">S</a>').click(function(e) {
					e.preventDefault();
					$('#modal-shelves').modal('show');
				}).insertAfter( $(this) );
			}, 
			function(){
				$(this).parent().removeClass("active").attr("data-original-title", "Like it");
				$(this).parent().parent().parent().removeClass("liked");
				$(this).next('.like-edit').remove();
			}
		);

		$("#runway-controls .dropdown-menu").click(function(event) {
			// Act on the event
			event.stopPropagation();
		});


		$('.spch-bub-inside').click(function() {
			$(this).toggleClass('active');
			$(this).parent().next().toggleClass('show');
			return false;
		});



		// START TOOLBAR FILTER CHECKBOXES
		// $('#rw-control-comments').change(function () {                
		//    $('.comments').toggle(this.checked);
		// }).change(); //ensure visible state matches initially

		$('#rw-control-liked').change(function () {                
		   $('.rw-thumbnail-wrap.liked').toggle(this.checked);
		}).change(); //ensure visible state matches initially

		$('#rw-control-featured').change(function () {                
		   $('.rw-thumbnail-wrap.featured-item').toggle(this.checked);
		}).change(); //ensure visible state matches initially

		// END TOOLBAR FILTER CHECKBOXES


		// fix sub nav on scroll
		var $win = $(window)
			, $nav = $('.subnav')
			, navTop = $('.subnav').length && $('.subnav').offset().top - 40
			, isFixed = 0;
		processScroll();
		$win.on('scroll', processScroll);
		function processScroll() {
			var i, scrollTop = $win.scrollTop()
			if (scrollTop >= navTop && !isFixed) {
				isFixed = 1
				$nav.addClass('subnav-fixed')
			} else if (scrollTop <= navTop && isFixed) {
				isFixed = 0
				$nav.removeClass('subnav-fixed')
			}
		};

	})
}(window.jQuery)
</script>