<div id="runway-view" class="container marge">

	<!-- Masthead
	================================================== -->
	<header class="jumbotron subhead" id="overview">
		<h1>Runway</h1>
		<p class="lead">Everyone else's stuff</p>
		<div class="subnav ar">
			<div id="runway-controls" class="btn-toolbar page-controls">
				<div class="btn-group popdown-wrap">
					<a class="popdown" href="#" data-toggle="popdown"><i class="icon-cog"></i> Customize</a>
					<ul class="popdown-menu">
						<li><label class="checkbox"><input type="checkbox"> Feautred items</label></li>
						<li><label class="checkbox"><input type="checkbox"> People you follow</label></li>
						<li><label class="checkbox"><input type="checkbox"> Shared with you</label></li>
						<li><label class="checkbox"><input type="checkbox"> Stuff you liked</label></li>
					</ul>
				</div>

				<div id="runway-control-buttons" class="btn-group" data-toggle="buttons-radio">
					<button rel="runway-global" class="btn rw-random active">Random</button>
					<button rel="runway-columns" class="btn rw-columns">Columns</button>
					<button rel="runway-list" class="btn rw-list">List</button>
				</div>
			</div>
		</div>
	</header>

	<hr/>

	<!-- Runway Global -->
	<section id="runway-global" class="global-filter">
		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#runway"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Beautifil!</p>
					</li>
				</ol>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#runway"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Beautifil!</p>
					</li>
				</ol>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#runway"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Beautifil!</p>
					</li>
				</ol>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#runway"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Beautifil!</p>
					</li>
				</ol>
			</section>
			<!-- / comments -->
		</article>

		<!-- 3/4 WIDTH -->
		<article class="rw-thumbnail-wrap third">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/690x293" alt="">
				</a>
				<div class="big-like-button-wrapper"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#runway"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Beautifil!</p>
					</li>
				</ol>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#runway"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Beautifil!</p>
					</li>
				</ol>
			</section>
			<!-- / comments -->
		</article>

		<!-- HALF WIDTH -->
		<article class="rw-thumbnail-wrap half">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/456x456" alt="">
				</a>
				<div class="big-like-button-wrapper"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#runway"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Beautifil!</p>
					</li>
				</ol>
			</section>
			<!-- / comments -->
		</article>

		<!-- HALF WIDTH -->
		<article class="rw-thumbnail-wrap half">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/456x456" alt="">
				</a>
				<div class="big-like-button-wrapper"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#runway"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Beautifil!</p>
					</li>
				</ol>
			</section>
			<!-- / comments -->
		</article>

		<!-- BIG FULL WIDTH -->
		<article class="rw-thumbnail-wrap single">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/926x420" alt="">
				</a>
				<div class="big-like-button-wrapper"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#runway"><em>100k+</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Beautifil!</p>
					</li>
				</ol>
			</section>
			<!-- / comments -->
		</article>
	</section>

	<!-- Runway Columns -->
	<section id="runway-columns" class="global-filter hide">
		<!-- THIRD WIDTH -->
		<article class="rw-thumbnail-wrap">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/299x420" alt="">
				</a>
				<div class="big-like-button-wrapper"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#runway"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Beautifil!</p>
					</li>
				</ol>
			</section>
			<!-- / comments -->
		</article>

		<!-- THIRD WIDTH -->
		<article class="rw-thumbnail-wrap">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/299x420" alt="">
				</a>
				<div class="big-like-button-wrapper"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#runway"><em>3</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Beautifil!</p>
					</li>
				</ol>
			</section>
			<!-- / comments -->
		</article>

		<!-- THIRD WIDTH -->
		<article class="rw-thumbnail-wrap">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/299x420" alt="">
				</a>
				<div class="big-like-button-wrapper"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#runway"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<a href="#profile" class="profile url">
							<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
						</a>
						<p>Beautifil!</p>
					</li>
				</ol>
			</section>
			<!-- / comments -->
		</article>
	</section>

	<!-- Runway List -->
	<section id="runway-list" class="global-filter hide">
		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#runway"><em>0</em></a>
			</aside>
			<!-- comments -->
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#runway"><em>0</em></a>
			</aside>
			<!-- comments -->
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#runway"><em>0</em></a>
			</aside>
			<!-- comments -->
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#runway"><em>0</em></a>
			</aside>
			<!-- comments -->
			<!-- / comments -->
		</article>
	</section>

	</div>
</div> <!-- /container -->
<script>
!function ($) {
	$(function(){

		$("#runway-list .follow-user-link").toggle(
			function(){
				$(this).text("following").addClass("following active");
				alert("You are now following Persons Name", "success");
			}, 
			function(){
				$(this).text("follow").removeClass("following active");
				alert("You are no longer following Persons Name", "error");
			}
		);

		$("#runway-control-buttons button").click(function(){
			var curValue = $(this).attr('rel'),
					targets = $('section.global-filter');
			targets.addClass('hide');
			$("section#" + curValue).removeClass('hide');

		});

		$(".popdown").toggle(
			function(){ $(this).next('.popdown-menu').show(); }, 
			function(){	$(this).next('.popdown-menu').hide();	}
		);


		$(".like").toggle(
			function(){
				$(this).parent().addClass("active");
				$(this).parent().parent().parent().addClass("liked");
				$('#modal-shelves').modal('show');
				$('<a href="#" class="btn like-edit">S</a>').click(function(e) {
					e.preventDefault();
					$('#modal-shelves').modal('show');
				}).insertAfter( $(this) );
			}, 
			function(){
				$(this).parent().removeClass("active");
				$(this).parent().parent().parent().removeClass("liked");
				$(this).next('.like-edit').remove();
			}
		);


		$('.spch-bub-inside').click(function() {
			$(this).parent().next().slideToggle();
			return false;
		});

		$(".entree-wrap .text").focus(function() {
			$(this).parent().parent().addClass('focused');
		});
		$(".entree-wrap .text").blur(function() {
			$(this).parent().parent().removeClass('focused');
		});


		// fix sub nav on scroll
		var $win = $(window)
			, $nav = $('.subnav')
			, navTop = $('.subnav').length && $('.subnav').offset().top - 40
			, isFixed = 0;
		processScroll();
		$win.on('scroll', processScroll);
		function processScroll() {
			var i, scrollTop = $win.scrollTop()
			if (scrollTop >= navTop && !isFixed) {
				isFixed = 1
				$nav.addClass('subnav-fixed')
			} else if (scrollTop <= navTop && isFixed) {
				isFixed = 0
				$nav.removeClass('subnav-fixed')
			}
		};


	})
}(window.jQuery)
</script>