<div id="popular-view" class="container">

	<!-- Popular Items list -->
	<section id="popular-list" class="global-filter">


		<h1>Popular Items</h1>


	</section>

</div> <!-- /container -->

<script>
!function ($) {
	$(function(){

		$(".btn.like").toggle(
			function(){
				$(this).text("Dislike");
				$(this).addClass("active btn-inverse").parent().addClass("active");
				$(this).parent().parent().parent().addClass("liked");
				$('#modal-shelves').modal('show');
				$('<a href="#" class="btn like-edit">S</a>').click(function(e) {
					e.preventDefault();
					$('#modal-shelves').modal('show');
				}).insertAfter( $(this) );
			}, 
			function(){
				$(this).text("Like");
				$(this).removeClass("active btn-inverse").parent().removeClass("active");
				$(this).parent().parent().parent().removeClass("liked");
				$(this).next('.like-edit').remove();
			}
		);

		$('[rel=tip]').tooltip();

		$("#popular-list .follow-user-link").toggle(
			function(){
				$(this).text("following").addClass("following active");
				alert("You are now following Persons Name", "success");
			}, 
			function(){
				$(this).text("follow").removeClass("following active");
				alert("You are no longer following Persons Name", "error");
			}
		);

	})
}(window.jQuery)
</script>