<div id="popular-view" class="container">

	<!-- Popular Items list -->
	<section id="popular-list" class="global-filter">


		<h1>Popular Items</h1>


	</section>

</div> <!-- /container -->

<script>
!function ($) {
	$(function(){



		$("#popular-list .follow-user-link").toggle(
			function(){
				$(this).text("following").addClass("following active");
				alert("You are now following Persons Name", "success");
			}, 
			function(){
				$(this).text("follow").removeClass("following active");
				alert("You are no longer following Persons Name", "error");
			}
		);

	})
}(window.jQuery)
</script>