<div id="shared-view" class="container marge">

	<!-- Masthead
	================================================== -->
	<header class="jumbotron subhead" id="overview">
		<h1>Shared with you</h1>
		<p class="lead">Items your friends recomended to you.</p>
	</header>

	<hr/>

	<!-- Stores and Brands List -->
	<section id="shared-list" class="global-filter">

		RECOMENDED LIST

	</section>

	</div>
</div> <!-- /container -->
<script>
!function ($) {
	$(function(){



	})
}(window.jQuery)
</script>