<div id="shared-view" class="container marge">

	<!-- Masthead
	================================================== -->
	<header class="jumbotron subhead" id="overview">

		<div class="navbar subnav container" id="runway-controls">
		  <div class="navbar-inner">
		    <a class="brand" href="#">Shared with you</a>
		    <ul class="nav pull-right">
		      <li>
						<div id="runway-control-buttons" class="btn-group" data-toggle="buttons-radio">
							<button rel="shared-bydate" class="btn rw-bydate active">by Date</button>
							<button rel="shared-byuser" class="btn rw-byuser">by User</button>
						</div>
		      </li>
		      <li class="divider-vertical"></li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> Customize <b class="caret"></b></a>
					  <ul class="dropdown-menu">
							<li><label class="checkbox"><input type="checkbox" id="rw-control-featured" checked> Feautred items</label></li>
							<li><label class="checkbox"><input type="checkbox" id="rw-control-follow" checked> People you follow</label></li>
							<li><label class="checkbox"><input type="checkbox" id="rw-control-shared" checked> Stuff already have</label></li>
							<li><label class="checkbox"><input type="checkbox" id="rw-control-liked" checked> Stuff you liked</label></li>
					  </ul>
					</li>
		    </ul>
		  </div>
		</div>
	</header>

	<!-- Shared by date runway -->
	<section id="shared-bydate" class="global-filter">

		<h4 class="shared-date">July<em>06</em></h4>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth wished">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- 3/4 WIDTH -->
		<article class="rw-thumbnail-wrap third">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/690x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<h4 class="shared-date">July<em>05</em></h4>

		<!-- HALF WIDTH -->
		<article class="rw-thumbnail-wrap half">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/456x456" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- HALF WIDTH -->
		<article class="rw-thumbnail-wrap half">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/456x456" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>
	</section>

	<!-- Shared by user runway -->
	<section id="shared-byuser" class="global-filter  hide">

		<h4 class="shared-user"><a href="#profile" class="link">Mister Fabulous</a> shared these with you</h4>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth wished">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>


		<h4 class="shared-user"><a href="#profile" class="link">Mister Someonelse</a> shared these with you</h4>

		<!-- 3/4 WIDTH -->
		<article class="rw-thumbnail-wrap third">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/690x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<h4><a href="#profile" class="link">Kendol</a> shared these with you</h4>

		<!-- HALF WIDTH -->
		<article class="rw-thumbnail-wrap half">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/456x456" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- HALF WIDTH -->
		<article class="rw-thumbnail-wrap half">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/456x456" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>
	</section>

	</div>
</div> <!-- /container -->
<script>
!function ($) {
	$(function(){

		$("#runway-control-buttons button").click(function(){
			var curValue = $(this).attr('rel'),
					targets = $('section.global-filter');
			targets.addClass('hide');
			$("section#" + curValue).removeClass('hide');
		});

		$("#runway-controls .dropdown-menu").click(function(event) {
			// Act on the event
			event.stopPropagation();
		});



		// fix sub nav on scroll
		var $win = $(window)
			, $nav = $('.subnav')
			, navTop = $('.subnav').length && $('.subnav').offset().top - 40
			, isFixed = 0;
		processScroll();
		$win.on('scroll', processScroll);
		function processScroll() {
			var i, scrollTop = $win.scrollTop()
			if (scrollTop >= navTop && !isFixed) {
				isFixed = 1
				$nav.addClass('subnav-fixed')
			} else if (scrollTop <= navTop && isFixed) {
				isFixed = 0
				$nav.removeClass('subnav-fixed')
			}
		};

	})
}(window.jQuery)
</script>