<div id="wishlist-view" class="container marge">

	<!-- Masthead
	================================================== -->
	<header class="jumbotron subhead" id="overview">
		<div class="navbar">
		  <div class="navbar-inner">
		  	<a class="brand" href="#">Wish List</a>
		    <ul class="nav pull-right">
		      <li><a href="#">Manage this list</a></li>
		      <li><a href="#modal-share-wishlist" role="button" data-toggle="modal">Share this list</a></li>
		    </ul>
		  </div>
		</div>
	</header>

	<!-- Stores and Brands List -->
	<section id="wishlist-list" class="global-filter">

		<div class="row">
		  <div class="span3">
		  	<button class="btn btn-success btn-block">Create another Wish List</button>
		    <ul class="nav nav-list sidenav affix-top" data-spy="affix" data-offset-top="200">
		      <li class="active"><a href="#components"><i class="icon-chevron-right"></i> My Favorites <em>11 items</em></a></li>
		      <li class=""><a href="#plugins"><i class="icon-chevron-right"></i> Must Buy <em>11 items</em></a></li>
		      <li class=""><a href="#variables"><i class="icon-chevron-right"></i> Thinking about it <em>11 items</em></a></li>
		    </ul>
		  </div>
		  <div class="span9">

				<article class="rw-thumbnail-wrap wishlist">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/221x293" alt="">
						</a>
						<div class="big-like-button-wrapper" rel="tip" data-placement="left" data-original-title="Like it"><em class="like">H</em></div>
					</figure>
				</article>

				<article class="rw-thumbnail-wrap wishlist">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/221x293" alt="">
						</a>
						<div class="big-like-button-wrapper" rel="tip" data-placement="left" data-original-title="Like it"><em class="like">H</em></div>
					</figure>
				</article>

				<article class="rw-thumbnail-wrap wishlist">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/221x293" alt="">
						</a>
						<div class="big-like-button-wrapper" rel="tip" data-placement="left" data-original-title="Like it"><em class="like">H</em></div>
					</figure>
				</article>

				<article class="rw-thumbnail-wrap wishlist">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/221x293" alt="">
						</a>
						<div class="big-like-button-wrapper" rel="tip" data-placement="left" data-original-title="Like it"><em class="like">H</em></div>
					</figure>
				</article>
		  </div>
		</div>

	</section>

	</div>
</div> <!-- /container -->
<script>
!function ($) {
	$(function(){



	})
}(window.jQuery)
</script>