<div id="wishlist-view" class="container marge">

	<!-- Masthead
	================================================== -->
	<header class="jumbotron subhead" id="overview">
		<div class="navbar">
		  <div class="navbar-inner">
		  	<a class="brand" href="#">Wish List</a>
		    <ul class="nav pull-right">
		      <li><a href="#">Manage this list</a></li>
		      <li><a href="#modal-share-wishlist" role="button" data-toggle="modal">Share this list</a></li>
		    </ul>
		  </div>
		</div>
	</header>

	<!-- Stores and Brands List -->
	<section id="wishlist-list" class="global-filter">

		<div class="row">
		  <div class="span3">
		  	<button id="create-new-wishlist" class="btn btn-success btn-block">Create another Wish List</button>
		    <ul id="sidebar-wishlist" class="nav nav-list sidenav affix-top" data-spy="affix" data-offset-top="200">
		      <li class="active"><a href="/#my-favorites"><i class="icon-chevron-right"></i> My Favorites <em>11 items</em></a></li>
		      <li class=""><a href="/#must-buy"><i class="icon-chevron-right"></i> Must Buy <em>11 items</em></a></li>
		      <li class=""><a href="/#thinking-about-it"><i class="icon-chevron-right"></i> Thinking about it <em>11 items</em></a></li>
		    </ul>
		  </div>
		  <div class="span9">

				<article class="rw-thumbnail-wrap wishlist">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/221x293" alt="">
						</a>
						<div class="big-like-button-wrapper" rel="tip" data-placement="left" data-original-title="Like it"><em class="like">H</em></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#viewing" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
							</li>
							
							<li>
								<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
							</li>
							
							<li>
								<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
							</li>
						</ol>
						<div class="comments-more">view more</div>
					</section>
					<!-- / comments -->
				</article>

				<article class="rw-thumbnail-wrap wishlist">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/221x293" alt="">
						</a>
						<div class="big-like-button-wrapper" rel="tip" data-placement="left" data-original-title="Like it"><em class="like">H</em></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#viewing" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
							</li>
							
							<li>
								<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
							</li>
							
							<li>
								<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
							</li>
						</ol>
						<div class="comments-more">view more</div>
					</section>
					<!-- / comments -->
				</article>

				<article class="rw-thumbnail-wrap wishlist">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/221x293" alt="">
						</a>
						<div class="big-like-button-wrapper" rel="tip" data-placement="left" data-original-title="Like it"><em class="like">H</em></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#viewing" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
							</li>
							
							<li>
								<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
							</li>
							
							<li>
								<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
							</li>
						</ol>
						<div class="comments-more">view more</div>
					</section>
					<!-- / comments -->
				</article>

				<article class="rw-thumbnail-wrap wishlist">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/221x293" alt="">
						</a>
						<div class="big-like-button-wrapper" rel="tip" data-placement="left" data-original-title="Like it"><em class="like">H</em></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#viewing" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
							</li>
							
							<li>
								<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
							</li>
							
							<li>
								<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
							</li>
						</ol>
						<div class="comments-more">view more</div>
					</section>
					<!-- / comments -->
				</article>

				<article class="rw-thumbnail-wrap wishlist-half">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/453x293" alt="">
						</a>
						<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#viewing" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
							</li>
							
							<li>
								<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
							</li>
							
							<li>
								<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
							</li>
						</ol>
						<div class="comments-more">view more</div>
					</section>
					<!-- / comments -->
				</article>

				<article class="rw-thumbnail-wrap wishlist-full">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/686x293" alt="">
						</a>
						<div class="big-like-button-wrapper" rel="tip" data-placement="left" data-original-title="Like it"><em class="like">H</em></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#viewing" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
							</li>
							
							<li>
								<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
							</li>
							
							<li>
								<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
							</li>
						</ol>
						<div class="comments-more">view more</div>
					</section>
					<!-- / comments -->
				</article>

		  </div>
		</div>

	</section>

	</div>
</div> <!-- /container -->
<script>
!function ($) {
	$(function(){

		$("#create-new-wishlist").click(function() {
			// Act on the event
			var html = '<li class="new-wishlist"><div class="input-append"><input class="span2" size="16" type="text" placeholder="Name your wish list"><button class="btn" type="button">OK!</button></div></li>';
			$("#sidebar-wishlist").append(html);
		});


    $(".new-wishlist button").live("click", function(){
    	var inputData = $(this).parent().parent().find("input[type=text]").val();
    	var newString = '<a href="/#'+inputData+'"><i class="icon-chevron-right"></i> '+inputData+' <em>0 items</em></a>';
      $(this).parent().parent().html(newString);
      $(".new-wishlist").removeClass("new-wishlist");
    });

	})
}(window.jQuery)
</script>