<div id="copy">
	<!-- Runway continue Global -->
	<section id="runway-global" class="transitions-enabled clearfix">
		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>

					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- 3/4 WIDTH -->
		<article class="rw-thumbnail-wrap third">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/690x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- FORTH WIDTH -->
		<article class="rw-thumbnail-wrap fourth">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/221x293" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>0</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- HALF WIDTH -->
		<article class="rw-thumbnail-wrap half">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/456x456" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- HALF WIDTH -->
		<article class="rw-thumbnail-wrap half">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/456x456" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>23</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>

		<!-- BIG FULL WIDTH -->
		<article class="rw-thumbnail-wrap single">
			<figure>
				<a href="#viewing" class="rw-thumbnail">
					<img src="http://placehold.it/926x420" alt="">
				</a>
				<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
			</figure>
			<aside class="rw-thumbnail-detail">
				<a href="#viewing" class="rw-item-title">Title for this item</a>
				<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
				<span class="rw-item-liked">liked by 99999</span>
				<a class="spch-bub-inside" href="#viewing"><em>100k+</em></a>
			</aside>
			<!-- comments -->
			<section class="comments comments-list">
				<ol class="unstyled">
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
					</li>
					
					<li>
						<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
					</li>
				</ol>
				<div class="comments-more">view more</div>
			</section>
			<!-- / comments -->
		</article>
	</section>
</div>
<script>
!function ($) {
	$(function(){


		$('[rel=tip]').tooltip();

		//IMAGE LOADER CONSOLE LOG DETAILS
		$('#runway-global').imagesLoaded( function( $images, $proper, $broken ) {
			// callback provides three arguments:
			// $images: the jQuery object with all images
			// $proper: the jQuery object with properly loaded images
			// $broken: the jQuery object with broken images
			// `this` is a jQuery object of container
			console.log( $images.length + ' images total have been loaded in ' + this );
			console.log( $proper.length + ' properly loaded images' );
			console.log( $broken.length + ' broken images' );
		});

		// MASONRY LAYOUT
		var $container = $('#runway-global');
		$container.imagesLoaded( function(){
			$container.masonry({
				itemSelector : '.rw-thumbnail-wrap'
				//isResizable: false,
				//gutterWidth: 0,
				// isAnimated: true,
				// 	animationOptions: {
				// 		duration: 1000,
				// 		easing: 'linear',
				// 		queue: false
				// 	}
			});
		});
    
		$(".like").click(function(e){
				//$(this).text("Dislike");
				e.preventDefault();
				alert("Sign up to activate this feature.");
			});

	})
}(window.jQuery)
</script>