<style>
/* BECAUSE OF NEW BACKGROUND */
body {
background-image: -webkit-gradient(linear, left top, right top, from(#eee), color-stop(50%, #eee), color-stop(50%, #ddd), to(#ddd));
background-image: -moz-linear-gradient(left, #eee, #eee 50%, #ddd 50%, #ddd);
background-size: 2px;
-webkit-background-size: 2px;
-moz-background-size: 2px;
}
hr {border-bottom: 1px solid #DDD;}
/* /BECAUSE OF NEW BACKGROUND */
.navbar.navbar-fixed-top { display: none; }
</style>

<div id="page-login" class="container">

	<div class="row">
		<hgroup id="top-welcome" class="span12">
			<h1>Get ready to be <em>FAZZLE'd</em></h1>
			<h2>Service for storing and sharing your closet</h2>
		</hgroup>
	</div>

	<!-- Example row of columns -->
	<div class="row">
		<div class="span3">
			<h2>One</h2>
			<p>Upload looks to your closet from everyday basics to special occasion outfits. </p>
			<!-- <img src="./assets/img/login/one.png" /> -->
			<div class="avatar">
				<!-- 髪 -->
				<div class="hair">
					<div class="parts"></div><div class="parts"></div>
					<div class="parts"></div><div class="parts"></div>
					<div class="parts"></div><div class="parts"></div>
					<div class="parts"></div><div class="parts"></div>
					<div class="parts"></div><div class="parts"></div>
				</div>
				<!-- 頭 -->
				<div class="face">
					<!-- 鼻 -->
					<div class="nose"></div>
					<!-- 目 -->
					<div class="eye left"><div class="parts"></div></div>
					<div class="eye right"><div class="parts"></div></div>
					<!-- 耳 -->
					<div class="ear left"><div class="parts"></div></div>
					<div class="ear right"><div class="parts"></div></div>
					<!-- 口 -->
					<div class="mouth"></div>
					<!-- 頬 -->
					<div class="cheek left"></div>
					<div class="cheek right"></div>
				</div>
				<!-- 体 -->
				<div class="body">
					<!-- 服 -->
					<div class="cloth">
						<div class="parts"></div><div class="parts"></div>
						<div class="parts"></div><div class="parts"></div>
					</div>
					<!-- 腕 -->
					<div class="arm left"><div class="parts"></div></div>
					<div class="arm right"><div class="parts"></div></div>
					<!-- 足 -->
					<div class="leg left"><div class="parts"></div></div>
						<div class="leg right"><div class="parts"></div></div>
				</div>
				<!-- その他 -->
				<div class="decoration">
					<div class="parts"></div><div class="parts"></div>
					<div class="parts"></div><div class="parts"></div>
				</div>
			</div>
		</div>
		<div class="span3">
			<h2>Two</h2>
			<p>Mix and match items from your closet and other closets to create your own unique look. </p>
			<!-- <img src="./assets/img/login/two.png" /> -->
			<!-- 素体 -->
			<div class="avatar rinrin">
			  <!-- 髪 -->
			  <div class="hair hair_rin">
			    <div class="parts"></div><div class="parts"></div>
			    <div class="parts"></div><div class="parts"></div>
			    <div class="parts"></div><div class="parts"></div>
			    <div class="parts"></div><div class="parts"></div>
			    <div class="parts"></div><div class="parts"></div>
			  </div>
			  <!-- 頭 -->
			  <div class="face">
			    <!-- 鼻 -->
			    <div class="nose nose_rin"></div>
			    <!-- 目 -->
			    <div class="eye left eye_rin"><div class="parts"></div></div>
			    <div class="eye right eye_rin"><div class="parts"></div></div>
			    <!-- 耳 -->
			    <div class="ear left ear_rin"><div class="parts"></div></div>
			    <div class="ear right ear_rin"><div class="parts"></div></div>
			    <!-- 口 -->
			    <div class="mouth mouth_rin"></div>
			    <!-- 頬 -->
			    <div class="cheek left cheek_rin"></div>
			    <div class="cheek right cheek_rin"></div>
			  </div>
			  <!-- 体 -->
			  <div class="body body_rin">
			    <!-- 服 -->
			    <div class="cloth cloth_rin">
			      <div class="parts"></div><div class="parts"></div>
			      <div class="parts"></div><div class="parts"></div>
			    </div>
			    <!-- 腕 -->
			    <div class="arm left arm_rin"><div class="parts"></div></div>
			    <div class="arm right arm_rin"><div class="parts"></div></div>
			    <!-- 足 -->
			    <div class="leg left leg_rin"><div class="parts"></div></div>
			    <div class="leg right leg_rin"><div class="parts"></div></div>
			  </div>
			  <!-- その他 -->
			  <div class="decoration decoration_rin">
			    <div class="parts"></div><div class="parts"></div>
			    <div class="parts"></div><div class="parts"></div>
			  </div>
			</div>
		</div>
		<div class="span3">
			<h2>Three</h2>
			<p>Share looks, post comments, provide suggestions or just chat about latest trends. </p>
			<!-- <img src="./assets/img/login/three.png" /> -->
			<!-- 素体 -->
			<div class="avatar hatyune">
			  <div class="hair hair_39">
			    <div class="parts"></div><div class="parts"></div><div class="parts"></div><div class="parts"></div><div class="parts"></div>
			    <div class="parts"></div><div class="parts"></div><div class="parts"></div><div class="parts"></div><div class="parts"></div>
			  </div>
			  <div class="face">
			    <div class="nose nose_39"></div>
			    <div class="eye left eye_39"><div class="parts"></div></div><div class="eye right eye_39"><div class="parts"></div></div>
			    <div class="ear ear_39 left"><div class="parts"></div></div><div class="ear ear_39 right"><div class="parts"></div></div>
			    <div class="mouth"></div>
			    <div class="cheek left"></div><div class="cheek right"></div>
			  </div>
			  <div class="body">
			    <div class="cloth cloth_39"><div class="parts"></div><div class="parts"></div><div class="parts"></div><div class="parts"></div></div>
			    <div class="arm left arm_39"><div class="parts"></div></div><div class="arm right arm_39"><div class="parts"></div></div>
			    <div class="leg left leg_39"><div class="parts"></div></div><div class="leg right leg_39"><div class="parts"></div></div>
			  </div>
			  <div class="decoration decoration_39"><div class="parts"></div><div class="parts"></div><div class="parts"></div><div class="parts"></div></div>
			</div>
	  </div>
	  
		<div class="span3">
			<section id="app-brand1">
				<h3 id="app-logo"><a href="#">fazzle<em>.</em>me</a></h3>

				<ul id="login-tabs" class="nav nav-tabs">
					<li class="active"><a href="#login-signin" data-toggle="tab">Sign in</a></li>
					<li><a href="#login-register" data-toggle="tab">Sign up</a></li>
				</ul>

				<div id="login-tab-content" class="tab-content">
					<div class="tab-pane fade active in" id="login-signin">
						<input id="username" class="large" type="text" placeholder="Username" autofocus required>
						<input id="password" class="large" type="password" placeholder="Password" required>
						<a id="btn-login" href="#runway" class="btn"><span class="ico-btn">w</span> Login</a>

						<hr/>
						
						or login with <a href="#runway" id="btn-facebook" class="btn btn-primary large"><span class="ico-btn">f</span> Facebook</a>
					</div>

					<div class="tab-pane fade" id="login-register">
						<input class="large" id="anonName" name="anonName" placeholder="Name" type="text">
						<input class="large" id="anonEmail" name="anonEmail" placeholder="Email" type="text">
						<a id="btn-signup" href="#register-interest" class="btn btn-primary">Sign up</a>
					</div>
				</div>
			</section>
		</div>
	</div>

	<hr/>

	<div id="login-carousel">
		<ul id="slides">
			<li><!-- .slide --></li>

			<li class="slide">
				<a class="thumbnail-frame excerpt-text shots" rel="set-12" href="/assets/img/viewing/view4.jpg" title="<p>Point, click, evolve&#8230;</p>"></a>
				<img width="213" height="266" src="/assets/img/viewing/view4.jpg" class="attachment-post-thumbnail wp-post-image" alt="morfable-app-setting2" title="morfable-app-setting2" />					
				<div class="hidden"></div> <!-- .hidden -->
			</li> <!-- .slide -->

			<li class="slide">
				<a class="thumbnail-frame excerpt-text shots" rel="set-12" href="/assets/img/viewing/view2.jpg" title="<p>Point, click, evolve&#8230;</p>"></a>
				<img width="213" height="266" src="/assets/img/viewing/view2.jpg" class="attachment-post-thumbnail wp-post-image" alt="morfable-app-setting2" title="morfable-app-setting2" />					
				<div class="hidden"></div> <!-- .hidden -->
			</li> <!-- .slide -->

			<li class="slide">
				<a class="thumbnail-frame excerpt-text shots" rel="set-12" href="/assets/img/viewing/view5.jpg" title="<p>Point, click, evolve&#8230;</p>"></a>
				<img width="213" height="266" src="/assets/img/viewing/view5.jpg" class="attachment-post-thumbnail wp-post-image" alt="morfable-app-setting2" title="morfable-app-setting2" />					
				<div class="hidden"></div> <!-- .hidden -->
			</li> <!-- .slide -->

			<li class="slide">
				<a class="thumbnail-frame excerpt-text shots" rel="set-12" href="/assets/img/viewing/view6.jpg" title="<p>Point, click, evolve&#8230;</p>"></a>
				<img width="213" height="266" src="/assets/img/viewing/view6.jpg" class="attachment-post-thumbnail wp-post-image" alt="morfable-app-setting2" title="morfable-app-setting2" />					
				<div class="hidden"></div> <!-- .hidden -->
			</li> <!-- .slide -->

			<li class="slide">
				<a class="thumbnail-frame excerpt-text shots" rel="set-12" href="/assets/img/tmp_share.jpg" title="<p>Point, click, evolve&#8230;</p>"></a>
				<img width="213" height="266" src="/assets/img/tmp_share.jpg" class="attachment-post-thumbnail wp-post-image" alt="morfable-app-setting2" title="morfable-app-setting2" />					
				<div class="hidden"></div> <!-- .hidden -->
			</li> <!-- .slide -->

			<li><!-- .slide --></li>
		</ul> <!-- #slides -->    
	</div> <!-- #carousel -->

	<hr/>

	<div id="login-features" class="row">
		<hgroup id="feature-welcome" class="span12">
			<h1>Awesome features</h1>
			<h2>never be caught wearing a trashbag again</h2>
		</hgroup>

		<!-- Example row of columns -->
		<div class="row">
			<div class="span6">
				<!-- <img src="//placehold.it/460x222" /> -->
				<img src="./assets/img/login/runway.png" />

			</div>
			<div class="span6">
				<h1>Runway</h1>
				<p>View public runway or the ones you follow.  Set yours to either public or private.  Comment on looks, copy items your wishlist.. </p>
			</div>
		</div>

		<div class="row">
			<div class="span6 ar">
				<h1>Closet</h1>
				<p>Upload your entire closet and have your friends comment on how stylish it really is. Edit items with crop tool, create new looks by combining items from your closet.  Categorize by shelves and much more.. </p>
			</div>
			<div class="span6">
				<!-- <img src="//placehold.it/460x222" /> -->
				<img src="./assets/img/login/closet.png" />
			</div>
		</div>

		<div class="row">
			<div class="span6">
				<!-- <img src="//placehold.it/460x222" /> -->
				<img src="./assets/img/login/profile.png" />
			</div>
			<div class="span6">
				<h1>Share</h1>
				<p>You've gossiped about other's stuff, you've even posted your own and got a positive feedback. All that's left now is to spread the word, be the fashion star.</p>
			</div>
		</div>
	</div>

	<div class="hero-unit">
		<h2>So, there you have it!</h2>
		<p>Sign up, invite your friends, create new looks, share with others and gossip about everything that's going on in the fashion world.</p>
	</div>

</div>

<script>
!function ($) {
	$(function(){



	})
}(window.jQuery)
</script>