<style>
/* BECAUSE OF NEW BACKGROUND */
body {
background-image: -webkit-gradient(linear, left top, right top, from(#eee), color-stop(50%, #eee), color-stop(50%, #ddd), to(#ddd));
background-image: -moz-linear-gradient(left, #eee, #eee 50%, #ddd 50%, #ddd);
background-size: 2px;
-webkit-background-size: 2px;
-moz-background-size: 2px;
}
hr {border-bottom: 1px solid #DDD;}
/* /BECAUSE OF NEW BACKGROUND */
.navbar.navbar-fixed-top { display: none; }
</style>

<div id="page-login" class="container">

	<div class="row">
		<hgroup id="top-welcome" class="span12">
			<h2>Service for storing and sharing your closet</h2>
		</hgroup>
	</div>

	<!-- Example row of columns -->
	<div class="row">
		<div class="span3">
			<h2>One</h2>
			<p>Upload looks to your closet from everyday basics to special occasion outfits. </p>
			<img src="./assets/img/login/one.png" />
		</div>
		<div class="span3">
			<h2>Two</h2>
			<p>Mix and match items from your closet and other closets to create your own unique look. </p>
			<img src="./assets/img/login/two.png" />
		</div>
		<div class="span3">
			<h2>Three</h2>
			<p>Share looks, post comments, provide suggestions or just chat about latest trends. </p>
			<img src="./assets/img/login/three.png" />
	  </div>
	  
		<div class="span3">
			<section id="app-brand1">
				<h3 id="app-logo" class="brand"><a href="#">fazzle<em class="ico-btn">R</em>me</a></h3>

				<ul id="login-tabs" class="nav nav-tabs">
					<li class="active"><a href="#login-signin" data-toggle="tab">Sign in</a></li>
					<li><a href="#login-register" data-toggle="tab">Sign up</a></li>
				</ul>

				<div id="login-tab-content" class="tab-content">
					<div class="tab-pane fade active in" id="login-signin">
						<input id="username" class="large" type="text" placeholder="Username" autofocus required>
						<input id="password" class="large" type="password" placeholder="Password" required>
						<a id="btn-login" href="#runway" class="btn"><span class="ico-btn">w</span> Login</a>

						<hr/>
						
						or login with <a href="#runway" id="btn-facebook" class="btn btn-primary large"><span class="ico-btn">f</span> Facebook</a>
					</div>

					<div class="tab-pane fade" id="login-register">
						<input class="large" id="anonName" name="anonName" placeholder="Name" type="text">
						<input class="large" id="anonEmail" name="anonEmail" placeholder="Email" type="text">
						<a id="btn-signup" href="#register-interest" class="btn btn-primary">Sign up</a>
					</div>
				</div>
			</section>
		</div>
	</div>

	<hr/>

	<!-- Runway Global -->
	<section id="runway-global" class="rw-filter">
		<!-- tripple -->
		<div class="rw-global-item">
			<a href="#profile" class="user-icon">
				<img src="//placehold.it/69x69" class="thumbnail">
			</a>
			<div class="user-runway tripple">
				<article class="rw-thumbnail-wrap">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/278x420" alt="">
						</a>
						<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#viewing" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#runway"><em>23</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
							</li>
							
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Beautifil!</p>
							</li>
						</ol>
					</section>
					<!-- / comments -->
				</article>

				<article class="rw-thumbnail-wrap">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/278x420" alt="">
						</a>
						<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#viewing" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#runway"><em>3</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
							</li>
							
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Beautifil!</p>
							</li>
						</ol>
					</section>
					<!-- / comments -->
				</article>

				<article class="rw-thumbnail-wrap">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/278x420" alt="">
						</a>
						<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#viewing" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#runway"><em>0</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
							</li>
							
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Beautifil!</p>
							</li>
						</ol>
					</section>
					<!-- / comments -->
				</article>
			</div>
			<hr/>
		</div>

		<!-- Double -->
		<div class="rw-global-item">
			<a href="#profile" class="user-icon">
				<img src="//placehold.it/69x69" class="thumbnail">
			</a>
			<div class="user-runway double">
				<article class="rw-thumbnail-wrap">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/421x421" alt="">
						</a>
						<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#viewing" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#runway"><em>23</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
							</li>
							
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Beautifil!</p>
							</li>
						</ol>
					</section>
					<!-- / comments -->
				</article>

				<article class="rw-thumbnail-wrap">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/421x421" alt="">
						</a>
						<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#viewing" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#runway"><em>23</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
							</li>
							
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Beautifil!</p>
							</li>
						</ol>
					</section>
					<!-- / comments -->
				</article>
			</div>
			<hr/>
		</div>

		<!-- Double B -->
		<div class="rw-global-item">
			<a href="#profile" class="user-icon">
				<img src="//placehold.it/69x69" class="thumbnail">
			</a>
			<div class="user-runway doubleb">
				<article class="rw-thumbnail-wrap large">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/522x555" alt="">
						</a>
						<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#viewing" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#runway"><em>118976</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
							</li>
							
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Beautifil!</p>
							</li>
						</ol>
					</section>
					<!-- / comments -->
				</article>

				<article class="rw-thumbnail-wrap large-side">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/320x254" alt="">
						</a>
						<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#viewing" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#runway"><em>999999+</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
							</li>
							
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Beautifil!</p>
							</li>
						</ol>
					</section>
					<!-- / comments -->
				</article>
			</div>
			<hr/>
		</div>

		<!-- Single -->
		<div class="rw-global-item single">
			<a href="#profile" class="user-icon">
				<img src="//placehold.it/69x69" class="thumbnail">
			</a>
			<div class="user-runway single">
				<article class="rw-thumbnail-wrap">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/848x666" alt="">
						</a>
						<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#viewing" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#runway"><em>100k+</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
							</li>
							
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Beautifil!</p>
							</li>
						</ol>
					</section>
					<!-- / comments -->
				</article>
			</div>
			<hr/>
		</div>
	</section>

	<!-- <hr/> -->

	<div class="hero-unit clearfix">
		<div class="span7" style="border-right: 1px solid #eee; margin-left: 0; padding-right: 36px;">
			<h2>So, there you have it!</h2>
			<p>Sign up, invite your friends, create new looks, share with others and gossip about everything that's going on in the fashion world.</p>
		</div>
		<div class="span3">
			<input class="large" id="anonName1" name="anonName" placeholder="Name" type="text">
			<input class="large" id="anonEmail1" name="anonEmail" placeholder="Email" type="text">
			<a id="btn-signup1" href="#register-interest" class="btn btn-primary btn-large">Sign up</a>
		</div>
	</div>

</div>

<script>
!function ($) {
	$(function(){

		$(".button.like").toggle(
			function(){
				//$(this).text("Dislike");
				$(this).addClass("active").parent().addClass("active");
				$(this).parent().parent().parent().addClass("liked");
				alert("Sign up to activate this feature.")
			}, 
			function(){
				//$(this).text("Like");
				$(this).removeClass("active").parent().removeClass("active");
				$(this).parent().parent().parent().removeClass("liked");
			}
		);

		$('.spch-bub-inside').click(function() {
			$(this).parent().next().slideToggle();
			return false;
		});

	})
}(window.jQuery)
</script>