<style>
body { background: #eee; }
.navbar.navbar-fixed-top { display: none; }
</style>

<div id="page-login" class="container">

	<div class="row">
		<hgroup id="top-welcome" class="span12">
			<h1>Get ready to be <em>FAZZLE'd</em></h1>
			<h2>Service for storing and sharing your closet</h2>
		</hgroup>
	</div>

	<hr/>

	<div class="hero-unit">
		<h2>So, there you have it!</h2>
		<p>Sign up, invite your friends, create new looks, share with others and gossip about everything that's going on in the fashion world.</p>
	</div>

</div>

<script>
!function ($) {
	$(function(){



	})
}(window.jQuery)
</script>