<link rel="stylesheet" href="css/carausel.css">

<div class="container marge">

	<div class="content">
		<div class="page-header">
			<a class="ur-sm-avatar" href="#profile" rel="tip" data-placement="right" data-original-title="Mister Fabulous (You)"><img class="thumbnail" src="/img/ruso.png" style="width:36px; height:36px;" alt=""></a>
			<h1>BUZZ <small>Your activity (too simple)..</small></h1>
		</div>

		<div class="row">
			<div class="span4 sidebar">
				<!--<h3 id="tour-tabs">Sidebar</h3>-->
				<div class="alert-message block-message notice fade in" data-alert="alert" >
					<a class="close" href="#">&times;</a>
					<p><span class="label success">Noob alert</span> <strong>Oh snap! First time here?</strong> Would you like to run a site tour to familirize yourself with the interface options?</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
					<div class="alert-actions">
						<a class="btn small" href="#">Yeah!</a> <a class="btn small" href="#">Next time..</a>
					</div>
				</div>
				&nbsp;
			</div>

			<div class="span12">
			
				<section id="buzz-comments">

					<div class="comment well">
						<a href="#" class="avatar"><img class="thumbnail" src="http://placehold.it/42x42" alt="Frank Lastname"></a>
						<label class="poster">Frank Lastname</label>
						<time class="time">posted 6 hours ago</time>
						<p class="body">OMG OMG I WANT ONE!!!</p>
						<button class="action btn">View look</button>
					</div>

					<div class="comment well">
						<a href="#" class="avatar"><img class="thumbnail" src="http://placehold.it/42x42" alt="Fred"></a>
						<label class="poster">Fred Lastname</label>
						<time class="time">posted 5 hours, 59 min ago</time>
						<p class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<button class="action btn">View piece</button>
					</div>

				</section>

			</div>
		</div>

	</div>

	<!-- Site tour guide -->
	<ol id="tourContent">
		<li data-id="tour-roundabout" data-text="Next: Tabs">
			<p>Roundabout can contain any content</p>
		</li>
		<li data-id="tour-tabs" data-text="Next: Forms">
			<p>Tabs are versilite and easy to use</p>
		</li>
		<li data-id="tour-forms" data-text="Next: Alerts">
			<p>all controls for the current table</p>
		</li>
		<li data-id="tour-alerts" data-text="Finish!">
			<p>table pager</p>
		</li>
	</ol>

</div> <!-- /container -->