<div id="closet-edit-view" class="container marge">

	<div class="content">

		<div class="row">
			<div class="span12 edit ar">

				<input type="text" class="input span8" placeholder="Item description" rel="tip" title="Item description" data-placement="above" value="Strawberry with whipcream" />

			</div>
		</div>

		<div class="row">
			<div class="span3 sidebar">
				<h3>Tools</h3>
				<select id="edit-privacy" class="span3 chzn-select" data-placeholder="Set privacy..">
					<option selected>Private</option>
					<option>Friends</option>
					<option>Public</option>
				</select>

				<select id="edit-category" class="span3 chzn-select" data-placeholder="Move to..">
					<option selected>Shelf 1</option>
					<option>Shelf 2</option>
					<option>Shelf 3</option>
					<option>Shelf 4</option>
				</select>

				<select id="edit-size" class="span3 chzn-select" data-placeholder="Resize to..">
					<option>25%</option>
					<option>50%</option>
					<option>75%</option>
					<option selected>100%</option>
				</select>

				<button class="btn span3" rel="pop" data-content="Once activated, select an area you wish to crop in the image." data-original-title="Crop tool" data-placement="right" data-toggle="toggle">Crop</button>
				<button class="btn span3" data-controls-modal="modal-upload-items" data-backdrop="true" data-keyboard="true">Upload more..</button>

				<hr class="separator"/>
				<button class="btn btn-danger" data-controls-modal="modal-delete-items" data-backdrop="true" data-keyboard="true">Delete</button>
			</div>

			<div class="span9">

				<figure id="edit-image-wrap">
					<img src="./assets/img/tmp_share.jpg" width="100%" height="auto" />
				</figure>

			</div>
		</div>

	</div>
</div> <!-- /container -->
<script>
!function ($) {
	$(function(){

		$(".chzn-select").chosen();

	})
}(window.jQuery)
</script>