<div id="closet-edit-view" class="container marge">

	<section id="closet-item-wrap" class="row">

		<div class="span7">
			<figure id="edit-image-wrap">
				<img id="crop-target" src="/assets/img/viewing/view5.jpg"/>
			</figure>
		</div>

		<div class="span5 sidebar">

			<label class="edit-label">Title</label>
			<div id="item-edit-description" contenteditable="true" class="uneditable-input editable" rel="tip" title="Item description" data-placement="left">Pink top and Tomato summer skirt</div>

			<label class="edit-label">URL</label>
			<div id="item-edit-url" class="uneditable-input editable" contenteditable="true" rel="tip" title="Item Url" data-placement="left">http://localhost/assets/...</div>

			<label class="edit-label">Privacy</label>
			<select id="edit-privacy" class="chzn-select" data-placeholder="Set privacy..">
				<option selected>Private</option>
				<option>Friends</option>
				<option>Public</option>
			</select>

			<label class="edit-label">Categorize</label>
			<select id="edit-category" class="chzn-select" data-placeholder="Move to..">
				<option selected>Shelf 1</option>
				<option>Shelf 2</option>
				<option>Shelf 3</option>
				<option>Shelf 4</option>
			</select>

			<label class="edit-label">Resize</label>
			<select id="edit-size" class="chzn-select" data-placeholder="Resize to..">
				<option>25%</option>
				<option>50%</option>
				<option>75%</option>
				<option selected>100%</option>
			</select>

			<hr class="separator"/>

			<button id="item-edit-crop-init" class="btn" rel="pop" data-content="Once activated, select an area you wish to crop in the image." data-original-title="Crop tool" data-placement="right" data-toggle="toggle">Crop</button>
			<button class="btn" data-toggle="modal" href="#modal-upload-items">Replace</button>
			<a class="btn btn-danger" data-toggle="modal" href="#modal-delete-confirm">Delete</a>

		</div>

	</section>

</div> <!-- /container -->
<script>
!function ($) {
	$(function(){

		$('[rel=tip]').tooltip();
		$(".chzn-select").chosen();

		var jcrop;
		$('#crop-target').Jcrop({bgColor: 'silver'}, function(){ jcrop = this });
		jcrop.disable();
		$("#item-edit-crop-init").toggle(
			function(){
				$(this).addClass("active").text("Finish");
				alert("Crop tool is active");
				jcrop.enable();
			}, 
			function(){
				$(this).removeClass("active").text("Crop");
				alert("Finished cropping");
				jcrop.disable();
			}
		);

	})
}(window.jQuery)
</script>