<div id="closet-view" class="container marge">

	<div class="content">
		<div class="page-header">
			<a class="ur-sm-avatar" href="#profile" rel="tip" data-placement="right" data-original-title="Mister Fabulous (You)"><img class="thumbnail" src="./assets/img/ruso.png" style="width:36px; height:36px;" alt=""></a>
			<h1>Closet <small class="closet-ei" contenteditable="false">OMG So much glittery stuff..</small>
			</h1>
		</div>

		<div class="row">
			<div class="span3 sidebar">
				<div id="side-box">
					<!-- <h3>Options</h3> -->

					<button id="btn-create-new-look" class="btn btn-primary btn-large" data-toggle="toggle">Create a look</button>
					<fieldset id="closet-create-look">
						<input type="text" placeholder="Name new look.." style="width: auto;"/>
						<div class="ac well droppable" style="margin-top: 9px; margin-bottom: 9px;" rel="pop" data-content="Drop items from the right into this area. Click on the item to remove it.  Press Clear to empty entire box." data-original-title="Drag n Drop" data-placement="top"></div>
						<button class="btn success">Save</button>
						<button class="btn" data-controls-modal="modal-universal-share" data-backdrop="true" data-keyboard="true">Share</button>
						<button class="btn" onclick="$('.droppable').html(''); alert('New look creator cleared', 'success')">Clear</button>
					</fieldset>
				</div>
				&nbsp;
			</div>
			<!-- END SIDEBAR -->

			<!-- MAIN CONTENT -->
			<div id="closet-shelves" class="span9">

				<div id="edit-closet-well" class="closet btn-toolbar ar">

					<select id="closet-categories-filter" class="span3 chzn-select" multiple data-placeholder="Display only..">
						<option value=".wishlist">Wishlist</option>
						<option value=".shelf-head-asses">Head Assesories</option>
						<option value=".shelf-head">Head</option>
						<option value=".shelf-torso">Tops</option>
						<option value=".shelf-bottoms">Bottoms</option>
						<option value=".shelf-foot">Footing</option>
						<option value=".shelf-6">Assesories</option>
					</select>

					<div class="btn-group">
						<a class="btn" id="closet-edit" href="/closet">Edit</a>
						<a class="btn" data-toggle="modal" href="#modal-upload-items">Upload</a>
						<a class="btn" id="closet-new-shelf" href="/closet">New shelf</a>
						<a class="btn" href="/closet">Share</a>
						<a class="btn btn-danger" id="closet-delete-shelf" href="/closet">Delete</a>
					</div>
				</div>

				<div class="accordion" id="closet-shelf-list">
					<div class="accordion-group wishlist">
						<a class="close hide" rel="tip" data-placement="left" title="delete this shelf">&times;</a>
						<div class="accordion-heading">
							<span class="label">32 items</span>
							<a class="accordion-toggle closet-ei" contenteditable="false" data-toggle="collapse" data-parent="#accordion2" href="#shelfWishlist">
								<em class="wish-heart">H</em>Wishlist
							</a>
						</div>
						<div id="shelfWishlist" class="accordion-body collapse" style="height: 0px; ">
							<div class="accordion-inner">
								<div class="accordion-sub">
									<a class="close hide" rel="tip" data-placement="left" title="delete this sub">&times;</a>

									<div class="accordion-sub-header">
										<span class="label info">6 items</span>
										<h2 class="accordion-inner-title closet-ei" contenteditable="false">From Bill Bbq's shelf title 3</h2>
									</div>
									
									<ul class="thumbnails">
										<li class="span4">
											<a href="#editing" class="thumbnail">
												<img src="http://placehold.it/360x268" alt="">
											</a>
										</li>
										<li class="span2">
											<a href="#editing" class="thumbnail">
												<img src="http://placehold.it/160x120" alt="">
											</a>
										</li>
										<li class="span2">
											<a href="#editing" class="thumbnail">
												<img src="http://placehold.it/160x120" alt="">
											</a>
										</li>
										<li class="span2">
											<a href="#editing" class="thumbnail">
												<img src="http://placehold.it/160x120" alt="">
											</a>
										</li>
										<li class="span2">
											<a href="#editing" class="thumbnail">
												<img src="http://placehold.it/160x120" alt="">
											</a>
										</li>
										<li class="span2">
											<a href="#editing" class="thumbnail">
												<img src="http://placehold.it/160x120" alt="">
											</a>
										</li>
									</ul>
									<hr class="separator-shelf"/>
								</div>

								<div class="accordion-sub">
									<a class="close hide" rel="tip" data-placement="left" title="delete this sub">&times;</a>

									<div class="accordion-sub-header">
										<span class="label info">4 items</span>
										<h2 class="accordion-inner-title closet-ei" contenteditable="false">from Franks Lastname shelf title 1</h2>
									</div>

									<ul class="thumbnails">
										<li class="span3">
											<a href="#editing" class="thumbnail">
												<img src="http://placehold.it/260x180" alt="">
											</a>
										</li>
										<li class="span3">
											<a href="#editing" class="thumbnail">
												<img src="http://placehold.it/260x180" alt="">
											</a>
										</li>
										<li class="span3">
											<a href="#editing" class="thumbnail">
												<img src="http://placehold.it/260x180" alt="">
											</a>
										</li>
										<li class="span3">
											<a href="#editing" class="thumbnail">
												<img src="http://placehold.it/260x180" alt="">
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="accordion-group shelf-head-asses">
						<a class="close hide" rel="tip" data-placement="left" title="delete this shelf">&times;</a>
						<div class="accordion-heading">
							<span class="label">16 items</span>
							<a class="accordion-toggle closet-ei" contenteditable="false" data-toggle="collapse" data-parent="#accordion2" href="#shelfOne">
								Head Assessories drawer
							</a>
						</div>
						<div id="shelfOne" class="accordion-body collapse" style="height: 0px; ">
							<div class="accordion-inner">
								<div class="accordion-sub">
									<a class="close hide" rel="tip" data-placement="left" title="delete this sub">&times;</a>
									<div class="accordion-sub-header">
										<span class="label info">6 items</span>
										<h2 class="accordion-inner-title closet-ei" contenteditable="false">Earings</h2>
									</div>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<hr class="separator-shelf"/>
								</div>

								<div class="accordion-sub">
									<a class="close hide" rel="tip" data-placement="left" title="delete this sub">&times;</a>
									<div class="accordion-sub-header">
										<span class="label info">4 items</span>
										<h2 class="accordion-inner-title closet-ei" contenteditable="false">Glasses</h2>
									</div>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<hr class="separator-shelf"/>
								</div>

								<div class="accordion-sub">
									<a class="close hide" rel="tip" data-placement="left" title="delete this sub">&times;</a>
									<div class="accordion-sub-header">
										<span class="label info">2 items</span>
										<h2 class="accordion-inner-title closet-ei" contenteditable="false">Teeth grill'e</h2>
									</div>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<hr class="separator-shelf"/>
								</div>

								<div class="accordion-sub">
									<a class="close hide" rel="tip" data-placement="left" title="delete this sub">&times;</a>
									<div class="accordion-sub-header">
										<span class="label info">4 items</span>
										<h2 class="accordion-inner-title closet-ei" contenteditable="false">Wigs</h2>
									</div>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								</div>
							</div>
						</div>
					</div>

					<div class="accordion-group shelf-head">
						<a class="close hide" rel="tip" data-placement="left" title="delete this shelf">&times;</a>
						<div class="accordion-heading">
							<span class="label">6 items</span>
							<a class="accordion-toggle closet-ei" contenteditable="false" data-toggle="collapse" data-parent="#accordion2" href="#shelfTwo">
								Head drawer
							</a>
						</div>
						<div id="shelfTwo" class="accordion-body collapse" style="height: 0px; ">
							<div class="accordion-inner">
								<div class="accordion-sub">
									<a class="close hide" rel="tip" data-placement="left" title="delete this sub">&times;</a>
									<div class="accordion-sub-header">
										<span class="label info">3 items</span>
										<h2 class="accordion-inner-title closet-ei" contenteditable="false">Baseball Caps</h2>
									</div>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<hr class="separator-shelf"/>
								</div>

								<div class="accordion-sub">
									<a class="close hide" rel="tip" data-placement="left" title="delete this sub">&times;</a>
									<div class="accordion-sub-header">
										<span class="label info">4 items</span>
										<h2 class="accordion-inner-title closet-ei" contenteditable="false">Hip-Hop wannabe</h2>
									</div>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<hr class="separator-shelf"/>
								</div>
							</div>
						</div>
					</div>

					<div class="accordion-group shelf-torso">
						<a class="close hide" rel="tip" data-placement="left" title="delete this shelf">&times;</a>
						<div class="accordion-heading">
							<span class="label">4 items</span>
							<a class="accordion-toggle closet-ei" contenteditable="false" data-toggle="collapse" data-parent="#accordion2" href="#shelfThree">
								Tops drawer
							</a>
						</div>
						<div id="shelfThree" class="accordion-body collapse" style="height: 0px; ">
							<div class="accordion-inner">
								<div class="accordion-sub">
									<a class="close hide" rel="tip" data-placement="left" title="delete this sub">&times;</a>
									<div class="accordion-sub-header">
										<span class="label info">3 items</span>
										<h2 class="accordion-inner-title closet-ei" contenteditable="false">V Tees</h2>
									</div>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<hr class="separator-shelf"/>
								</div>

								<div class="accordion-sub">
									<a class="close hide" rel="tip" data-placement="left" title="delete this sub">&times;</a>
									<div class="accordion-sub-header">
										<span class="label info">4 items</span>
										<h2 class="accordion-inner-title closet-ei" contenteditable="false">Silky-cotton wife-beaters</h2>
									</div>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<hr class="separator-shelf"/>
								</div>
							</div>
						</div>
					</div>

					<div class="accordion-group shelf-bottoms">
						<a class="close hide" rel="tip" data-placement="left" title="delete this shelf">&times;</a>
						<div class="accordion-heading">
							<span class="label">2 items</span>
							<a class="accordion-toggle closet-ei" contenteditable="false" data-toggle="collapse" data-parent="#accordion2" href="#shelfFour">
								Bottoms drawer
							</a>
						</div>
						<div id="shelfFour" class="accordion-body collapse" style="height: 0px; ">
							<div class="accordion-inner">
								<div class="accordion-sub">
									<a class="close hide" rel="tip" data-placement="left" title="delete this sub">&times;</a>
									<div class="accordion-sub-header">
										<span class="label info">3 items</span>
										<h2 class="accordion-inner-title closet-ei" contenteditable="false">Tuxedo pants</h2>
									</div>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<hr class="separator-shelf"/>
								</div>

								<div class="accordion-sub">
									<a class="close hide" rel="tip" data-placement="left" title="delete this sub">&times;</a>
									<div class="accordion-sub-header">
										<span class="label info">4 items</span>
										<h2 class="accordion-inner-title closet-ei" contenteditable="false">Skirts</h2>
									</div>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<hr class="separator-shelf"/>
								</div>
							</div>
						</div>
					</div>

					<div class="accordion-group shelf-foot">
						<a class="close hide" rel="tip" data-placement="left" title="delete this shelf">&times;</a>
						<div class="accordion-heading">
							<span class="label">6 items</span>
							<a class="accordion-toggle closet-ei" contenteditable="false" data-toggle="collapse" data-parent="#accordion2" href="#shelfFive">
								Footwear drawer
							</a>
						</div>
						<div id="shelfFive" class="accordion-body collapse" style="height: 0px; ">
							<div class="accordion-inner">
								<div class="accordion-sub">
									<a class="close hide" rel="tip" data-placement="left" title="delete this sub">&times;</a>
									<div class="accordion-sub-header">
										<span class="label info">3 items</span>
										<h2 class="accordion-inner-title closet-ei" contenteditable="false">Party shoes</h2>
									</div>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<hr class="separator-shelf"/>
								</div>

								<div class="accordion-sub">
									<a class="close hide" rel="tip" data-placement="left" title="delete this sub">&times;</a>
									<div class="accordion-sub-header">
										<span class="label info">4 items</span>
										<h2 class="accordion-inner-title closet-ei" contenteditable="false">Sandals</h2>
									</div>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<a href="#editing"><img src="http://placehold.it/120x120" /></a>
									<hr class="separator-shelf"/>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div> <!-- /container -->
<script>
!function ($) {
	$(function(){


		$('[rel=tip]').tooltip();
		$("[rel=pop]").popover();

		$('.accordion-inner img').draggable({ revert: true });
		$( ".droppable" ).droppable({
			tolerance: 'touch',
			over: function() {
				$(this).removeClass('out').addClass('over');
			},
			out: function() {
				$(this).removeClass('over').addClass('out');
			},
			drop: function( event, ui ) {
				var answer = alert('Added xxxx to the Look', 'success');
				$( this ).addClass( "received" );
				$( "<img>" ).attr( "src", ui.draggable.attr("src") ).appendTo( this );
				//ui.draggable.remove();
			}
		});

		$("#closet-view .droppable").delegate("img", "click", function() {
			$(this).remove();
			alert('Item removed', 'success');
		});

		//Make sidebar sticky and come with the shelves
		//$('#side-box').stickySidebar({padding: 42});
    // fix sub nav on scroll
    var $win = $(window)
      , $side = $('#side-box')
      , navSide = $('#side-box').length && $('#side-box').offset().top - 49
      , isFixed = 0;

    processScroll();

    $win.on('scroll', processScroll);

    function processScroll() {
      var i, scrollTop = $win.scrollTop()
      if (scrollTop >= navSide && !isFixed) {
        isFixed = 1
        $side.addClass('sidebar-fixed')
      } else if (scrollTop <= navSide && isFixed) {
        isFixed = 0
        $side.removeClass('sidebar-fixed')
      }
    }



    //Toggle Create new look panel
		$('#btn-create-new-look').toggle(function() {
				$(this).addClass('active');
				$('#closet-create-look').show();
			}, function() {
				$(this).removeClass('active');
				$('#closet-create-look').hide();
		});

		$('#closet-edit').toggle(function() {
				$(this).addClass('active btn-success');
				$(this).text('Save closet');
				$('.closet-ei').addClass('editing').attr('contenteditable', 'true');
				alert("Editing closet");
			}, function() {
				$(this).removeClass('active btn-success');
				$(this).text('Edit');
				$('.closet-ei').removeClass('editing').attr('contenteditable', 'false');
				alert("Finished editing");
		});


		//Delete individual shelves toggle
		$('#closet-delete-shelf').toggle(function() {
				$(this).addClass('active');
				$(this).text('Finish');
				$('.accordion-group .close').removeClass('hide');
				alert("Delete shelves activated");
			}, function() {
				$(this).removeClass('active');
				$(this).text('Delete');
				$('.accordion-group .close').addClass('hide');
		});
		$('.accordion-group .close').click(function() {
			$(this).parent().hide();
			alert("Shelf deleted", "success");
		});


		$(".chzn-select").chosen().change(function(){
			var filter = $(this).val();
			var list = $('#closet-shelf-list');
			//alert( filter );
			$(list).find("div.accordion-group:not(" + filter + ")").addClass("hide");
			$(list).find("div.accordion-group" + filter).removeClass("hide");
			alert('selected: ' + filter, 'success');
			if (filter === null) {
				$(list).find("div.accordion-group").removeClass("hide");
			}
		});


	})
}(window.jQuery)
</script>