<div id="closet-view" class="container marge">

	<div class="content">
		<div class="page-header">
			<a class="ur-sm-avatar" href="#profile" rel="tip" data-placement="right" data-original-title="Mister Fabulous (You)"><img class="thumbnail" src="./assets/img/ruso.png" style="width:36px; height:36px;" alt=""></a>
			<h1>Closet <small class="closet-ei" contenteditable="false">OMG So much glittery stuff..</small>
			</h1>
		</div>

		<div class="row">
			<div class="span3 sidebar">
				<div id="side-box">
					<!-- <h3>Options</h3> -->

					<button id="btn-create-new-look" class="btn btn-primary btn-large" data-toggle="toggle">Create a look</button>
					<fieldset id="closet-create-look">
						<input type="text" placeholder="Name new look.." style="width: auto;"/>
						<div class="ac well droppable" style="margin-top: 9px; margin-bottom: 9px;" rel="pop" data-content="Drop items from the right into this area. Click on the item to remove it.  Press Clear to empty entire box." data-original-title="Drag n Drop" data-placement="top"></div>
						<button class="btn success">Save</button>
						<button class="btn" data-controls-modal="modal-universal-share" data-backdrop="true" data-keyboard="true">Share</button>
						<button class="btn" onclick="$('.droppable').html(''); alert('New look creator cleared', 'success')">Clear</button>
					</fieldset>
				</div>
				&nbsp;
			</div>
			<!-- END SIDEBAR -->

			<!-- MAIN CONTENT -->
			<div id="closet-shelves" class="span9">

				<div id="edit-closet-well" class="closet btn-toolbar ar">

					<select id="closet-categories-filter" class="span3 chzn-select" multiple data-placeholder="Display only..">
						<option value=".wishlist">Wishlist</option>
						<option value=".shelf-1">Shelf 1</option>
						<option value=".shelf-2">Shelf 2</option>
						<option value=".shelf-3">Shelf 3</option>
						<option value=".shelf-4">Shelf 4</option>
						<option value=".shelf-5">Shelf 5</option>
					</select>

					<div class="btn-group">
						<a class="btn" id="closet-edit" href="/closet">Edit</a>
						<button class="btn" data-controls-modal="modal-upload-items" data-backdrop="true" data-keyboard="true">Upload</button>
						<a class="btn" href="/closet">New shelf</a>
						<a class="btn" href="/closet">Share</a>
						<a class="btn btn-danger" href="/closet">Delete</a>
					</div>
				</div>

				<div class="accordion" id="closet-shelf-list">
					<div class="accordion-group wishlist">
						<div class="accordion-heading">
							<span class="label">32 items</span>
							<a class="accordion-toggle closet-ei" contenteditable="false" data-toggle="collapse" data-parent="#accordion2" href="#shelfWishlist">
								<em class="wish-heart">H</em>Wishlist
							</a>
						</div>
						<div id="shelfWishlist" class="accordion-body collapse" style="height: 0px; ">
							<div class="accordion-inner">
								<span class="label info">6 items</span>
								<h2 class="accordion-inner-title closet-ei" contenteditable="false">From Bill Bbq's shelf title 3</h2>
								<ul class="thumbnails">
									<li class="span4">
										<a href="#editing" class="thumbnail">
											<img src="http://placehold.it/360x268" alt="">
										</a>
									</li>
									<li class="span2">
										<a href="#editing" class="thumbnail">
											<img src="http://placehold.it/160x120" alt="">
										</a>
									</li>
									<li class="span2">
										<a href="#editing" class="thumbnail">
											<img src="http://placehold.it/160x120" alt="">
										</a>
									</li>
									<li class="span2">
										<a href="#editing" class="thumbnail">
											<img src="http://placehold.it/160x120" alt="">
										</a>
									</li>
									<li class="span2">
										<a href="#editing" class="thumbnail">
											<img src="http://placehold.it/160x120" alt="">
										</a>
									</li>
									<li class="span2">
										<a href="#editing" class="thumbnail">
											<img src="http://placehold.it/160x120" alt="">
										</a>
									</li>
								</ul>

								<hr class="separator-shelf"/>

								<span class="label info">4 items</span>
								<h2 class="accordion-inner-title closet-ei" contenteditable="false">from Frank Lastname's shelf title 1</h2>
								<ul class="thumbnails">
									<li class="span3">
										<a href="#editing" class="thumbnail">
											<img src="http://placehold.it/260x180" alt="">
										</a>
									</li>
									<li class="span3">
										<a href="#editing" class="thumbnail">
											<img src="http://placehold.it/260x180" alt="">
										</a>
									</li>
									<li class="span3">
										<a href="#editing" class="thumbnail">
											<img src="http://placehold.it/260x180" alt="">
										</a>
									</li>
									<li class="span3">
										<a href="#editing" class="thumbnail">
											<img src="http://placehold.it/260x180" alt="">
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="accordion-group shelf-1">
						<div class="accordion-heading">
							<span class="label">16 items</span>
							<a class="accordion-toggle closet-ei" contenteditable="false" data-toggle="collapse" data-parent="#accordion2" href="#shelfOne">
								Shelf title 1
							</a>
						</div>
						<div id="shelfOne" class="accordion-body collapse" style="height: 0px; ">
							<div class="accordion-inner">
								<span class="label info">6 items</span>
								<h2 class="accordion-inner-title closet-ei" contenteditable="false">80's style</h2>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>

								<hr class="separator-shelf"/>

								<span class="label info">4 items</span>
								<h2 class="accordion-inner-title closet-ei" contenteditable="false">90's style</h2>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>

								<hr class="separator-shelf"/>

								<span class="label info">2 items</span>
								<h2 class="accordion-inner-title closet-ei" contenteditable="false">2K's style</h2>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>

								<hr class="separator-shelf"/>

								<span class="label info">4 items</span>
								<h2 class="accordion-inner-title closet-ei" contenteditable="false">2010's style</h2>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
							</div>
						</div>
					</div>

					<div class="accordion-group shelf-2">
						<div class="accordion-heading">
							<span class="label">6 items</span>
							<a class="accordion-toggle closet-ei" contenteditable="false" data-toggle="collapse" data-parent="#accordion2" href="#shelfTwo">
								Shelf title 2
							</a>
						</div>
						<div id="shelfTwo" class="accordion-body collapse" style="height: 0px; ">
							<div class="accordion-inner">
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
							</div>
						</div>
					</div>

					<div class="accordion-group shelf-3">
						<div class="accordion-heading">
							<span class="label">4 items</span>
							<a class="accordion-toggle closet-ei" contenteditable="false" data-toggle="collapse" data-parent="#accordion2" href="#shelfThree">
								Shelf title 3
							</a>
						</div>
						<div id="shelfThree" class="accordion-body collapse" style="height: 0px; ">
							<div class="accordion-inner">
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
							</div>
						</div>
					</div>

					<div class="accordion-group shelf-4">
						<div class="accordion-heading">
							<span class="label">2 items</span>
							<a class="accordion-toggle closet-ei" contenteditable="false" data-toggle="collapse" data-parent="#accordion2" href="#shelfFour">
								Shelf title 4
							</a>
						</div>
						<div id="shelfFour" class="accordion-body collapse" style="height: 0px; ">
							<div class="accordion-inner">
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
							</div>
						</div>
					</div>

					<div class="accordion-group shelf-5">
						<div class="accordion-heading">
							<span class="label">6 items</span>
							<a class="accordion-toggle closet-ei" contenteditable="false" data-toggle="collapse" data-parent="#accordion2" href="#shelfFive">
								Shelf title 5
							</a>
						</div>
						<div id="shelfFive" class="accordion-body collapse" style="height: 0px; ">
							<div class="accordion-inner">
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
								<a href="#editing"><img src="http://placehold.it/120x120" /></a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div> <!-- /container -->
<script>
!function ($) {
	$(function(){

		console.log("loaded Closet");

		$("[rel=pop]").popover();

			$('.accordion-inner img').draggable({ revert: true });
			$( ".droppable" ).droppable({
				tolerance: 'touch',
				over: function() {
					$(this).removeClass('out').addClass('over');
				},
				out: function() {
					$(this).removeClass('over').addClass('out');
				},
				drop: function( event, ui ) {
					var answer = alert('Added xxxx to the Look', 'success');
					$( this ).addClass( "received" );
					$( "<img>" ).attr( "src", ui.draggable.attr("src") ).appendTo( this );
					//ui.draggable.remove();
				}
			});

			$("#closet-view .droppable").delegate("img", "click", function() {
				$(this).remove();
				alert('Item removed', 'success');
			});

			//$('#side-box').stickySidebar({padding: 42});


			$('#btn-create-new-look').toggle(function() {
					$(this).addClass('active');
					$('#closet-create-look').show();
				}, function() {
					$(this).removeClass('active');
					$('#closet-create-look').hide();
			});

			$('#closet-edit').toggle(function() {
					$(this).addClass('active btn-success');
					$(this).text('Save closet');
					//$('#edit-closet-well .btn-group').show();
					$('.closet-ei').addClass('editing').attr('contenteditable', 'true');
				}, function() {
					$(this).removeClass('active btn-success');
					$(this).text('Edit closet');
					//$('#edit-closet-well .btn-group').hide();
					$('.closet-ei').removeClass('editing').attr('contenteditable', 'false');
			});

			$(".chzn-select").chosen().change(function(){
				var filter = $(this).val();
				var list = $('#closet-shelf-list');
				//alert( filter );
				$(list).find("div.accordion-group:not(" + filter + ")").addClass("hide");
				$(list).find("div.accordion-group" + filter).removeClass("hide");
				alert('selected: ' + filter, 'success');
				if (filter === null) {
					$(list).find("div.accordion-group").removeClass("hide");
				}
			});

			//$('#st-accordion').accordion({oneOpenedItem	: true});

	})
}(window.jQuery)
</script>