<style>
html, body { overflow: hidden; }
</style>
<div id="closet-item-view" class="container fullscreen">

	<div class="content">
		<div class="page-header">
			<a class="ur-sm-avatar" href="#profile" rel="tip" data-placement="right" data-original-title="Mister Fabulous (You)"><img class="thumbnail" src="./img/ruso.png" style="width:36px; height:36px;" alt=""></a>
			<h1>Stwabewwy with whipcream <small>from Shelf Title 1..</small></h1>
			<button id="fullscreen-sb-toggle" class="btn small" data-toggle="toggle"><span>e</span> 4 Comments</button>
			<a id="fullscreen-close" href="#profile" class="btn small"><span>X</span></a>
		</div>

		<div id="fullscreen-poster" class="row main-image-view">
			<!-- <figure id="view-image-wrap">
				<img src="./img/tmp_share.jpg" width="auto" height="auto" />
			</figure> -->

			<nav id="fullscreen-thumbs" class="main-image-related">
				<img class="thumbnail" src="http://placehold.it/69x69" alt="">
				<img class="thumbnail" src="http://placehold.it/69x69" alt="">
				<img class="thumbnail" src="http://placehold.it/69x69" alt="">
				<img class="thumbnail" src="http://placehold.it/69x69" alt="">
				<img class="thumbnail" src="http://placehold.it/69x69" alt="">
				<img class="thumbnail" src="http://placehold.it/69x69" alt="">
				<img class="thumbnail" src="http://placehold.it/69x69" alt="">
				<img class="thumbnail" src="http://placehold.it/69x69" alt="">
				<img class="thumbnail" src="http://placehold.it/69x69" alt="">
				<img class="thumbnail" src="http://placehold.it/69x69" alt="">
				<img class="thumbnail" src="http://placehold.it/69x69" alt="">
				<img class="thumbnail" src="http://placehold.it/69x69" alt="">
				<img class="thumbnail" src="http://placehold.it/69x69" alt="">
			</nav>
		</div>

		<div id="fullscreen-sidebar" class="hide">

			<div id="sidebar-comment-input-wrap">
				<textarea name="sidebar-comment-input" id="sidebar-comment-input" placeholder="Enter comment.."></textarea>
				<button id="sidebar-comment-post" class="btn small">Post</button>
			</div>

			<div id="sidebar-comments" class="al">

				<div class="comment-body-wrap">
					<div class="comment-wrap">
						<div class="comment-header">
							<span role="button" class="a-j Mo bg" title="Options menu"></span>
							<a href="#profile" class="comment-author"><img src="http://placehold.it/48x48" width="48px" height="48px" alt="H Juggernaut's profile photo" class="comment-author-image"></a>
							<div class="Ex">
								<span class="eE">
									<a href="#profile" class="comment-author-link">Frank Lastname</a>
								</span>
								<span class="comment-meta">
									&nbsp;-&nbsp;
									<a href="#" class="" title="Jan 5, 2012 11:29:03 PM">Jan 5, 2012</a>
									&nbsp;-&nbsp;
									<a href="#" class="" title="Sharing details">Public</a>
								</span>
							</div>
						</div>
						<div>
							<p class="comment-content">Lorem ipsum dolor sit amet.</p>
							<div class="comment-actions">
								<a href="#" class="runway-reply-show">Comment</a> &nbsp;-&nbsp; <a href="#">Share</a>
							</div>
						</div>
						<div class="runway-reply-wrap hide">
							<textarea class="runway-comment-input" placeholder="Enter comment"></textarea>
							<button class="btn primary runway-comment-post">Post comment</button>
							<button class="btn runway-comment-cancel">Cancel</button>
						</div>
					</div>
				</div>

				<div class="comment-body-wrap">
					<div class="comment-wrap">
						<div class="comment-header">
							<span role="button" class="a-j Mo bg" title="Options menu"></span>
							<a href="#profile" class="comment-author"><img src="http://placehold.it/48x48" width="48px" height="48px" alt="H Juggernaut's profile photo" class="comment-author-image"></a>
							<div class="Ex">
								<span class="eE">
									<a href="#profile" class="comment-author-link">Frank Lastname</a>
								</span>
								<span class="comment-meta">
									&nbsp;-&nbsp;
									<a href="#" class="" title="Jan 5, 2012 11:29:03 PM">Jan 5, 2012</a>
									&nbsp;-&nbsp;
									<a href="#" class="" title="Sharing details">Public</a>
								</span>
							</div>
						</div>
						<div>
							<p class="comment-content">Lorem ipsum dolor sit amet.</p>
							<div class="comment-actions">
								<a href="#" class="runway-reply-show">Comment</a> &nbsp;-&nbsp; <a href="#">Share</a>
							</div>
						</div>
						<div class="runway-reply-wrap hide">
							<textarea class="runway-comment-input" placeholder="Enter comment"></textarea>
							<button class="btn primary runway-comment-post">Post comment</button>
							<button class="btn runway-comment-cancel">Cancel</button>
						</div>
					</div>
				</div>

				<div class="comment-body-wrap">
					<div class="comment-wrap">
						<div class="comment-header">
							<span role="button" class="a-j Mo bg" title="Options menu"></span>
							<a href="#profile" class="comment-author"><img src="http://placehold.it/48x48" width="48px" height="48px" alt="H Juggernaut's profile photo" class="comment-author-image"></a>
							<div class="Ex">
								<span class="eE">
									<a href="#profile" class="comment-author-link">Frank Lastname</a>
								</span>
								<span class="comment-meta">
									&nbsp;-&nbsp;
									<a href="#" class="" title="Jan 5, 2012 11:29:03 PM">Jan 5, 2012</a>
									&nbsp;-&nbsp;
									<a href="#" class="" title="Sharing details">Public</a>
								</span>
							</div>
						</div>
						<div>
							<p class="comment-content">Lorem ipsum dolor sit amet.</p>
							<div class="comment-actions">
								<a href="#" class="runway-reply-show">Comment</a> &nbsp;-&nbsp; <a href="#">Share</a>
							</div>
						</div>
						<div class="runway-reply-wrap hide">
							<textarea class="runway-comment-input" placeholder="Enter comment"></textarea>
							<button class="btn primary runway-comment-post">Post comment</button>
							<button class="btn runway-comment-cancel">Cancel</button>
						</div>
					</div>
				</div>

				<div class="comment-body-wrap">
					<div class="comment-wrap">
						<div class="comment-header">
							<span role="button" class="a-j Mo bg" title="Options menu"></span>
							<a href="#profile" class="comment-author"><img src="http://placehold.it/48x48" width="48px" height="48px" alt="H Juggernaut's profile photo" class="comment-author-image"></a>
							<div class="Ex">
								<span class="eE">
									<a href="#profile" class="comment-author-link">Frank Lastname</a>
								</span>
								<span class="comment-meta">
									&nbsp;-&nbsp;
									<a href="#" class="" title="Jan 5, 2012 11:29:03 PM">Jan 5, 2012</a>
									&nbsp;-&nbsp;
									<a href="#" class="" title="Sharing details">Public</a>
								</span>
							</div>
						</div>
						<div>
							<p class="comment-content">Lorem ipsum dolor sit amet.</p>
							<div class="comment-actions">
								<a href="#" class="runway-reply-show">Comment</a> &nbsp;-&nbsp; <a href="#">Share</a>
							</div>
						</div>
						<div class="runway-reply-wrap hide">
							<textarea class="runway-comment-input" placeholder="Enter comment"></textarea>
							<button class="btn primary runway-comment-post">Post comment</button>
							<button class="btn runway-comment-cancel">Cancel</button>
						</div>
					</div>
				</div>

				<div class="comment-body-wrap">
					<div class="comment-wrap">
						<div class="comment-header">
							<span role="button" class="a-j Mo bg" title="Options menu"></span>
							<a href="#profile" class="comment-author"><img src="http://placehold.it/48x48" width="48px" height="48px" alt="H Juggernaut's profile photo" class="comment-author-image"></a>
							<div class="Ex">
								<span class="eE">
									<a href="#profile" class="comment-author-link">Frank Lastname</a>
								</span>
								<span class="comment-meta">
									&nbsp;-&nbsp;
									<a href="#" class="" title="Jan 5, 2012 11:29:03 PM">Jan 5, 2012</a>
									&nbsp;-&nbsp;
									<a href="#" class="" title="Sharing details">Public</a>
								</span>
							</div>
						</div>
						<div>
							<p class="comment-content">Lorem ipsum dolor sit amet.</p>
							<div class="comment-actions">
								<a href="#" class="runway-reply-show">Comment</a> &nbsp;-&nbsp; <a href="#">Share</a>
							</div>
						</div>
						<div class="runway-reply-wrap hide">
							<textarea class="runway-comment-input" placeholder="Enter comment"></textarea>
							<button class="btn primary runway-comment-post">Post comment</button>
							<button class="btn runway-comment-cancel">Cancel</button>
						</div>
					</div>
				</div>

				<div class="more ac tour_5">
					<a id="last_comment_3" class="load-more" href="#">more</a>
				</div>

			</div>
		</div>

	</div>
</div> <!-- /container -->
<script>
!function ($) {
	$(function(){



	})
}(window.jQuery)
</script>