<div id="closet-item-view" class="container marge">

	<section id="closet-item-wrap" class="row">

		<div class="span9">
			<section id="item-primary" class="rw-thumbnail-wrap">
				<figure id="view-image-wrap">
					<img src="/assets/img/viewing/view5.jpg" width="auto" height="auto">
					<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
					<figcation>Title of the image</figcation>
					<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
					<span class="rw-item-liked">liked by 99999</span>
					<a class="spch-bub-inside" href="#runway"><em>999+</em></a>
				</figure>

				<!-- comments -->
				<section class="comments comments-list">
					<ol class="unstyled">
						<li>
							<a href="#profile" class="profile url">
								<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
							</a>
							<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
						</li>
						
						<li>
							<a href="#profile" class="profile url">
								<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
							</a>
							<p>Beautifil!</p>
						</li>

						<li class="you">
							<a href="#profile" class="profile url">
								<img src="/assets/img/ruso.png" rel="tip" title="misterfabulous" class="photo">
							</a>
							<a href="#"  class="delete-comment">Delete</a>
							<p>that piece of string hanging off her right leg is really bothering me</p>
						</li>
					</ol>
					
					<div class="comment-entree">
						<img src="/assets/img/ruso.png" alt="" class="photo" />
						<div class="entree-wrap">
							<textarea name="comment-msg" rows="1" class="text" placeholder="comment.." rel="tip" data-placement="down" data-title="Press enter to post your comment"></textarea>
						</div>
					</div>
				</section>
				<!-- / comments -->
			</section>

			<hr/>

			<section id="related-items">

				<h3>Related items</h3>

				<article class="rw-thumbnail-wrap related-items">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/344x420" alt="">
						</a>
						<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#runway"><em>23</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
							</li>
							
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Beautifil!</p>
							</li>

							<li class="you">
								<a href="#profile" class="profile url">
									<img src="/assets/img/ruso.png" rel="tip" title="misterfabulous" class="photo">
								</a>
								<a href="#"  class="delete-comment">Delete</a>
								<p>that piece of string hanging off her right leg is really bothering me</p>
							</li>
						</ol>
						
						<div class="comment-entree">
							<img src="/assets/img/ruso.png" alt="" class="photo" />
							<div class="entree-wrap">
								<textarea name="comment-msg" rows="1" class="text" placeholder="comment.." rel="tip" data-placement="down" data-title="Press enter to post your comment"></textarea>
							</div>
						</div>
					</section>
					<!-- / comments -->
				</article>

				<article class="rw-thumbnail-wrap related-items">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/344x420" alt="">
						</a>
						<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#runway"><em>3</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
							</li>
							
							<li>
								<a href="#profile" class="profile url">
									<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
								</a>
								<p>Beautifil!</p>
							</li>

							<li class="you">
								<a href="#profile" class="profile url">
									<img src="/assets/img/ruso.png" rel="tip" title="misterfabulous" class="photo">
								</a>
								<a href="#"  class="delete-comment">Delete</a>
								<p>that piece of string hanging off her right leg is really bothering me</p>
							</li>
						</ol>
						
						<div class="comment-entree">
							<img src="/assets/img/ruso.png" alt="" class="photo" />
							<div class="entree-wrap">
								<textarea name="comment-msg" rows="1" class="text" placeholder="comment.." rel="tip" data-placement="down" data-title="Press enter to post your comment"></textarea>
							</div>
						</div>
					</section>
					<!-- / comments -->
				</article>
			</section>

			<hr/>

			<section id="related-tofollow">

				<h3>Other with similar interests</h3>

				<ol id="item-tofollow-list" class="unstyled follow-list">

					<li class="follow-list-item">
						<a href="#profile" class="url vcard">
							<img src="//placehold.it/69x69" class="photo">
							<strong class="nickname">username</strong>
						</a>
						<a href="#" class="follow-user-link">follow</a>
						<ul class="latest-liked">
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
						</ul>		
					</li>

					<li class="follow-list-item">
						<a href="#profile" class="url vcard">
							<img src="//placehold.it/69x69" class="photo">
							<strong class="nickname">username</strong>
						</a>
						<a href="#" class="follow-user-link">follow</a>
						<ul class="latest-liked">
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
						</ul>		
					</li>

					<li class="follow-list-item">
						<a href="#profile" class="url vcard">
							<img src="//placehold.it/69x69" class="photo">
							<strong class="nickname">username</strong>
						</a>
						<a href="#" class="follow-user-link">follow</a>
						<ul class="latest-liked">
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
						</ul>		
					</li>

				</ol>
			</section>
		</div>

		<div class="span3 sidebar">
			<div id="single-item-options">
				<ul class="nav nav-list">
					<li class="nav-header">List header</li>
					<li><a data-toggle="modal" href="#modal-shelves"><i class="iconic plus"></i> Add to shelf</a></li>
					<li><a id="viewing-towishlist-click" href="#"><i class="iconic box"></i> Add to wishlist</a></li>
					<li><a id="viewing-haveit-click" href="#"><i class="iconic check"></i> I have it</a></li>
					<li class="nav-header">Another list header</li>
					<li><a id="viewing-feature-click" href="#"><i class="iconic star"></i> Feature on my page</a></li>
					<li><a data-toggle="modal" href="#modal-share"><i class="iconic share"></i> Share</a></li>
					<li><a id="viewing-buy-click" href="#"><i class="iconic tag_fill"></i> BUY</a></li>
				</ul>

				<div class="well" id="item-social">
					<a href="#" class="btn btn-small">G+1</a>
					<a href="#" class="btn btn-small">Tweet</a>
					<a href="#" class="btn btn-small">FB Like</a>
				</div>

				<hr/>
			</div>

			<!-- <p><strong>Lorem</strong> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
		</div>


	</section>
</div> <!-- /container -->
<script>
!function ($) {
	$(function(){

		$(".button.like").toggle(
			function(){
				$(this).text("Dislike");
				$(this).addClass("active").parent().addClass("active");
				$(this).parent().parent().parent().addClass("liked");
				$('#modal-shelves').modal('show');
			}, 
			function(){
				$(this).text("Like");
				$(this).removeClass("active").parent().removeClass("active");
				$(this).parent().parent().parent().removeClass("liked");
			}
		);

		$("#viewing-towishlist-click").toggle(
			function(){
				$(this).children('.iconic').addClass("active");
				alert("Added Title of this item to Wishlist", "success");
			}, 
			function(){
				$(this).children('.iconic').removeClass("active");
				alert("This item has been removed from your Wishlist");
			}
		);

		$("#viewing-haveit-click").toggle(
			function(){
				$(this).children('.iconic').addClass("active");
			}, 
			function(){
				$(this).children('.iconic').removeClass("active");
				alert("You no longer own this item");
			}
		);

		$("#viewing-feature-click").toggle(
			function(){
				$(this).children('.iconic').addClass("active");
				alert("This item is now Featured on your profile");
			}, 
			function(){
				$(this).children('.iconic').removeClass("active");
				alert("This item is no longer featured on your profile");
			}
		);

		$(".follow-user-link").toggle(
			function(){
				$(this).text("following").addClass("following active");
				alert("You are now following Persons Name", "success");
			}, 
			function(){
				$(this).text("follow").removeClass("following active");
				alert("You are no longer following Persons Name", "error");
			}
		);

		$('.spch-bub-inside').click(function() {
			$(this).parent().next().fadeToggle();
			return false;
		});

		$(".entree-wrap .text").focus(function() {
			$(this).parent().parent().addClass('focused');
		});
		$(".entree-wrap .text").blur(function() {
			$(this).parent().parent().removeClass('focused');
		});


		// fix sub nav on scroll
		var $win = $(window)
			, $nav = $('#single-item-options')
			, navTop = $('#single-item-options').length && $('#single-item-options').offset().top - 40
			, isFixed = 0;
		processScroll();
		$win.on('scroll', processScroll);
		function processScroll() {
			var i, scrollTop = $win.scrollTop()
			if (scrollTop >= navTop && !isFixed) {
				isFixed = 1
				$nav.addClass('side-fixed')
			} else if (scrollTop <= navTop && isFixed) {
				isFixed = 0
				$nav.removeClass('side-fixed')
			}
		};


	})
}(window.jQuery)
</script>