<div id="closet-item-view" class="container marge">

	<section id="closet-item-wrap" class="row">

		<div class="span9 clearfix">
			<section id="item-primary" class="rw-thumbnail-wrap">
				<figure id="view-image-wrap">
					<figcation>Title of the image</figcation>
					<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
					<span class="rw-item-liked">liked by 99999</span>
					<a class="spch-bub-inside" href="#runway"><em>999+</em></a>
					<img src="/assets/img/viewing/view5.jpg" width="auto" height="auto">
					<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
				</figure>

				<!-- comments -->
				<section class="comments comments-list">
					<ol class="unstyled">
						<li>
							<p><a href="#profile" class="profile url"><strong>some user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
						</li>
						
						<li>
							<p><a href="#profile" class="profile url"><strong>another user</strong></a> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</li>

						<li class="you">
							<a href="#"  class="delete-comment">Delete</a>
							<p><a href="#profile" class="profile url"><strong>mister fabulous</strong></a> OMG I just made a comment, and since it's my comment I can delete it</p>
						</li>
					</ol>
					
					<div class="comment-entree">
						<textarea name="comment-msg" rows="1" class="text" placeholder="comment.."></textarea>
					</div>
				</section>
				<!-- / comments -->
			</section>

			<hr/>

			<!-- Related items -->
			<section id="related-items" class="clearfix">

				<h3>Related items</h3>

				<article class="rw-thumbnail-wrap related-items">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/336x420" alt="">
						</a>
						<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#runway"><em>23</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
							</li>
							
							<li>
								<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
							</li>
							
							<li>
								<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
							</li>
						</ol>
					</section>
					<!-- / comments -->
				</article>

				<article class="rw-thumbnail-wrap related-items">
					<figure>
						<a href="#viewing" class="rw-thumbnail">
							<img src="http://placehold.it/336x420" alt="">
						</a>
						<div class="big-like-button-wrapper" rel="tip" data-placement="left" title="Like it"><em class="like">H</em></div>
					</figure>
					<aside class="rw-thumbnail-detail">
						<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
						<a href="#profile" class="rw-item-postedby">Mister Fabulous</a>
						<span class="rw-item-liked">liked by 99999</span>
						<a class="spch-bub-inside" href="#runway"><em>3</em></a>
					</aside>
					<!-- comments -->
					<section class="comments comments-list">
						<ol class="unstyled">
							<li>
								<p><a href="#profile" class="profile url"><strong>username user</strong></a> Beautifil Omg so cool, uspeli vibrasit' tavar v ulitsu...</p>
							</li>
							
							<li>
								<p><a href="#profile" class="profile url"><strong>nickname yours</strong></a> What is this stuff? and how did it get here? I have no clue, tell someone else!</p>
							</li>
							
							<li>
								<p><a href="#profile" class="profile url"><strong>username</strong></a> Beautifil!</p>
							</li>
						</ol>
					</section>
					<!-- / comments -->
				</article>
			</section>

			<hr/>

			<!-- Other with similar interest -->
			<section id="related-tofollow">

				<h3>Other with similar interests</h3>

				<ol id="item-tofollow-list" class="unstyled follow-list">

					<li class="follow-list-item">
						<div class="user-card">
							<a href="#profile" class="url vcard" rel="tip" data-placement="right" title="Users Full name or Username">
								<img src="//placehold.it/69x69" class="photo">
							</a>
							<a href="#" class="follow-user-link">follow</a>
						</div>
						<ul class="latest-liked">
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
						</ul>		
					</li>

					<li class="follow-list-item">
						<div class="user-card">
							<a href="#profile" class="url vcard" rel="tip" data-placement="right" title="Users Full name or Username">
								<img src="//placehold.it/69x69" class="photo">
							</a>
							<a href="#" class="follow-user-link">follow</a>
						</div>
						<ul class="latest-liked">
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
						</ul>		
					</li>

					<li class="follow-list-item">
						<div class="user-card">
							<a href="#profile" class="url vcard" rel="tip" data-placement="right" title="Users Full name or Username">
								<img src="//placehold.it/69x69" class="photo">
							</a>
							<a href="#" class="follow-user-link">follow</a>
						</div>
						<ul class="latest-liked">
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
							<li><a href="#closet/item"><img src="//placehold.it/111x111" alt=""></a></li>
						</ul>		
					</li>

				</ol>
			</section>
		</div>

		<div class="span3 sidebar">
			<div id="single-item-options">
				<ul class="nav nav-list">
					<li class="nav-header">UR Eyes only</li>
					<li><a id="viewing-my-edit" href="#editing"><i class="iconic pen"></i> Edit</a></li>
					<li><a id="viewing-my-delete" data-toggle="modal" href="#modal-delete-confirm"><i class="iconic denied"></i> Delete</a></li>
					<li class="nav-header">Primary</li>
					<li><a id="viewing-feature-click" href="#"><i class="iconic star"></i> Feature on my page</a></li>
					<li><a data-toggle="modal" href="#modal-shelves"><i class="iconic plus"></i> Add to shelf</a></li>
					<li><a data-toggle="modal" href="#modal-share"><i class="iconic share"></i> Share</a></li>
					
					<li class="nav-header">Additional</li>
					<li><a id="viewing-towishlist-click" href="#"><i class="iconic box"></i> Add to wishlist</a></li>
					<li><a id="viewing-haveit-click" href="#"><i class="iconic check"></i> I have it</a></li>
					<li><a id="viewing-buy-click" href="#"><i class="iconic tag_fill"></i> BUY</a></li>
				</ul>

				<div class="well" id="item-social">
			    <a href="https://twitter.com/intent/tweet?url=CURRENT_IMAGE_URL&amp;via=Fazzle.Me&amp;text=NICE" class="share-btn" target="_blank">
			      <span class="share-btn-action share-btn-tweet">Tweet</span>
			      <span class="share-btn-count">481</span>
			    </a>
			    <a href="https://www.facebook.com/sharer/sharer.php?u=CURRENT_IMAGE_URL" class="share-btn" target="_blank">
			      <span class="share-btn-action share-btn-like">Like</span>
			      <span class="share-btn-count">516</span>
			    </a>
			    <a href="https://plus.google.com/share?url=CURRENT_IMAGE_URL" class="share-btn" target="_blank">
			      <span class="share-btn-action share-btn-plus">+1</span>
			      <span class="share-btn-count">234</span>
			    </a>
				</div>

				<hr/>
			</div>

			<!-- <p><strong>Lorem</strong> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
		</div>
	</section>
</div> <!-- /container -->
<script>
!function ($) {
	$(function(){

		$('[rel=tip]').tooltip();

		$(".like").toggle(
			function(){
				$(this).parent().addClass("active").attr("data-original-title", "Dislike it");
				$(this).parent().parent().parent().addClass("liked");
				$('#modal-shelves').modal('show');
				$('<a href="#" class="btn like-edit" rel="tip" title="Edit">S</a>').click(function(e) {
					e.preventDefault();
					$('#modal-shelves').modal('show');
				}).insertAfter( $(this) );
			}, 
			function(){
				$(this).parent().removeClass("active").attr("data-original-title", "Like it");
				$(this).parent().parent().parent().removeClass("liked");
				$(this).next('.like-edit').remove();
			}
		);


		$("#viewing-towishlist-click").toggle(
			function(){
				$(this).children('.iconic').addClass("active");
				alert("Added Title of this item to Wishlist", "success");
			}, 
			function(){
				$(this).children('.iconic').removeClass("active");
				alert("This item has been removed from your Wishlist");
			}
		);

		$("#viewing-haveit-click").toggle(
			function(){
				$(this).children('.iconic').addClass("active");
			}, 
			function(){
				$(this).children('.iconic').removeClass("active");
				alert("You no longer own this item");
			}
		);

		$("#viewing-feature-click").toggle(
			function(){
				$(this).children('.iconic').addClass("active");
				alert("This item is now Featured on your profile");
			}, 
			function(){
				$(this).children('.iconic').removeClass("active");
				alert("This item is no longer featured on your profile");
			}
		);

		$(".follow-user-link").toggle(
			function(){
				$(this).text("following").addClass("following active");
				alert("You are now following Persons Name", "success");
			}, 
			function(){
				$(this).text("follow").removeClass("following active");
				alert("You are no longer following Persons Name", "error");
			}
		);


		// fix sub nav on scroll
		var $win = $(window)
			, $nav = $('#single-item-options')
			, navTop = $('#single-item-options').length && $('#single-item-options').offset().top - 40
			, isFixed = 0;
		processScroll();
		$win.on('scroll', processScroll);
		function processScroll() {
			var i, scrollTop = $win.scrollTop()
			if (scrollTop >= navTop && !isFixed) {
				isFixed = 1
				$nav.addClass('side-fixed')
			} else if (scrollTop <= navTop && isFixed) {
				isFixed = 0
				$nav.removeClass('side-fixed')
			}
		};


	})
}(window.jQuery)
</script>