<div class="container marge">

	<div class="content">
		<div class="page-header">
			<a class="ur-sm-avatar" href="#profile" rel="tip" data-placement="right" data-original-title="Mister Fabulous (You)"><img class="thumbnail" src="/img/ruso.png" style="width:36px; height:36px;" alt=""></a>
			<h1>Settings <small>Protect your privacy..</small></h1>
		</div>

		<div class="row">
			<div class="span4 sidebar">
				<h3 id="tour-tabs">Info</h3>
				<div class="well">
					<p>We take your privacy super seriously, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>

			<div class="span12">

				<div class="alert-message block-message notice fade in" data-alert="alert" >
					<a class="close" href="#">&times;</a>
					<p><span class="label success">Noob alert</span> <strong>Oh snap! First time here?</strong> Would you like to run a site tour to familirize yourself with the interface options?</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
					<div class="alert-actions">
						<a class="btn small" href="#">Yeah!</a> <a class="btn small" href="#">Next time..</a>
					</div>
				</div>
				
				<ul class="tabs" data-tabs="tabs">
					<li><a href="#settings-account">Account</a></li>
					<li class="active"><a href="#settings-privacy">Privacy</a></li>
				</ul>

				<div id="settings-tab-content" class="tab-content">
					<div class="tab-pane" id="settings-account">
						<h4>Account</h4>
						<form>
						  <fieldset>
						    <legend>fazzle.me profile</legend>
						    <div class="clearfix">
						      <label for="prependedInput">Profile information</label>
						      <div class="input">
						        <select class="medium" name="mediumSelect" id="mediumSelect1">
						          <option>Public</option>
						          <option>Friends</option>
						          <option>Me</option>
						        </select>
						        <span class="help-block">Who gets to see the information in your profile</span>
						      </div>
						    </div><!-- /clearfix -->
						    <div class="clearfix">
						      <label for="prependedInput">Closet</label>
						      <div class="input">
						        <select class="medium" name="mediumSelect" id="mediumSelect2">
						          <option>Public</option>
						          <option>Friends</option>
						          <option>Me</option>
						        </select>
						        <span class="help-block">Share your closet with</span>
						      </div>
						    </div><!-- /clearfix -->
						    <div class="clearfix">
						      <label for="prependedInput">Buzz</label>
						      <div class="input">
						        <select class="medium" name="mediumSelect" id="mediumSelect3">
						          <option>Public</option>
						          <option>Friends</option>
						          <option>Me</option>
						        </select>
						        <span class="help-block">Share your buzz with</span>
						      </div>
						    </div><!-- /clearfix -->
						  </fieldset>
						</form>
					</div>

					<div class="tab-pane active" id="settings-privacy">
						<h4>Privacy</h4>
						<form>
						  <fieldset>
						    <legend>Sharing</legend>
						    <div class="clearfix">
						      <label for="prependedInput">Groups</label>
						      <div class="input">
						        <button class="btn primary large">Manage groups</button>
						        <span class="help-block">Groups are a collection of friends. By default, your groups and their members are only visible to you, although you can specify whether your group members are visible in your public profile.</span>
						      </div>
						    </div><!-- /clearfix -->
						    <div class="clearfix">
						      <label id="optionsCheckboxes">List of options</label>
						      <div class="input">
						        <ul class="inputs-list">
						          <li>
						            <label>
						              <input type="checkbox" name="optionsCheckboxes" value="option1">
						              <span>Option one is this and that—be sure to include why it’s great</span>
						            </label>
						          </li>
						          <li>
						            <label>
						              <input type="checkbox" name="optionsCheckboxes" value="option2">
						              <span>Option two can also be checked and included in form results</span>
						            </label>
						          </li>
						          <li>
						            <label>
						              <input type="checkbox" name="optionsCheckboxes" value="option2">
						              <span>Option three can—yes, you guessed it—also be checked and included in form results. Let's make it super long so that everyone can see how it wraps, too.</span>
						            </label>
						          </li>
						          <li>
						            <label class="disabled">
						              <input type="checkbox" name="optionsCheckboxes" value="option2" disabled="">
						              <span>Option four cannot be checked as it is disabled.</span>
						            </label>
						          </li>
						        </ul>
						        <span class="help-block">
						          <strong>Note:</strong> Labels surround all the options for much larger click areas and a more usable form.
						        </span>
						      </div>
						    </div><!-- /clearfix -->
						    <div class="clearfix">
						      <label id="optionsRadio">List of options</label>
						      <div class="input">
						        <ul class="inputs-list">
						          <li>
						            <label>
						              <input type="radio" checked="" name="optionsRadios" value="option1">
						              <span>Option one is this and that—be sure to include why it’s great</span>
						            </label>
						          </li>
						          <li>
						            <label>
						              <input type="radio" name="optionsRadios" value="option2">
						              <span>Option two can is something else and selecting it will deselect options 1</span>
						            </label>
						          </li>
						        </ul>
						      </div>
						    </div><!-- /clearfix -->
						    <div class="actions">
						      <input type="submit" class="btn primary" value="Save changes">&nbsp;<button type="reset" class="btn">Cancel</button>
						    </div>
						  </fieldset>
						</form>
					</div><!-- /profile privacy -->
				</div><!-- /profile tab content -->
			</div>
		</div>

	</div>

	<!-- Site tour guide -->
	<ol id="tourContent">
		<li data-id="tour-roundabout" data-text="Next: Tabs">
			<p>Roundabout can contain any content</p>
		</li>
		<li data-id="tour-tabs" data-text="Next: Forms">
			<p>Tabs are versilite and easy to use</p>
		</li>
		<li data-id="tour-forms" data-text="Next: Alerts">
			<p>all controls for the current table</p>
		</li>
		<li data-id="tour-alerts" data-text="Finish!">
			<p>table pager</p>
		</li>
	</ol>

</div> <!-- /container -->