/* CLOSET PAGE */
#closet-shelves.sidebar { position: relative; }
#closet-view #overview.sidebar {  }
#closet-view.sidebar { width: auto; margin-left: 369px; }
#closet-create-look {
border: 1px dotted #eee;
border-width: 0 1px 0 0;
padding: 0;
background: #2c2c2c;
display: none;
position: fixed;
top: 41px;
left: 0;
right: auto;
bottom: 0;
width: 369px;
overflow-y: auto;
overflow-x: hidden;
z-index: 1100;
margin: 0;
}
#create-look-wrap { margin: 22px 9px 13px 9px; position: relative; }
#create-look-name {
width: 100%;
padding-left: 0;
padding-right: 0;
box-shadow: 0 0 0;
border: 0;
text-indent: 9px;
margin-bottom: 0;
}
#create-look-wrap .alert { margin-top: 2em; }
#btn-create-new-look {  }
#btn-create-new-look.active {  }
#closet-categories-filter,
#closet-categories-filter_chzn {
vertical-align: bottom;
top: 3px;
width: auto !important;
min-width: 200px;
max-width: 666px;
margin-right: 9px;
}

#create-look-dropzone {
padding: 9px;
margin-top: 6px;
margin-bottom: 9px;
min-height: 111px;
position: relative;
}
#create-look-dropzone:before {
display: block;
content: "Drop Zone";
font-size: 1.6em;
font-weight: bold;
color: rgba(222, 222, 222, 0.6);
position: absolute;
top: 50%;
left: 50%;
margin: -13px 0 0 -50px;
}
#create-look-dropzone img { max-width: 56px; margin: 1px; }
#closet-shelves .wishlist { border-right: 1px solid pink; }
.wish-heart { display: inline-block; margin: 0; font-family: 'SignifyLite'; color: pink; line-height: 1; margin-left: -0.6em; }
#closet-shelf-list .accordion-heading { position: relative; padding-right: 132px;}
#closet-shelf-list .accordion-heading .label {margin: 0 1em; position: absolute; top: 22px; right: 0; } 
#closet-shelf-list .accordion-toggle {
font-size: 32px;
display: inline-block;
position: relative;
line-height: 42px;
outline: none;
text-decoration: none;
-webkit-transition: color 0.2s ease-in-out;
-moz-transition: color 0.2s ease-in-out;
-o-transition: color 0.2s ease-in-out;
-ms-transition: color 0.2s ease-in-out;
transition: color 0.2s ease-in-out;
vertical-align: middle;
}
#closet-shelves .accordion-group {
border-left: 0;
border-radius: 0;
border-bottom-color: #c7deef;
border-top: 0;
}
#closet-shelves .accordion-inner {
border-top-style: dashed;
border-top-color: #f3f3f3;
}

.accordion-sub a {display: inline-block;margin: 2px 0;vertical-align: top;}
.accordion-sub-header a {vertical-align: middle; visibility: hidden;}
.accordion-sub-header:hover .shelf-share-btn {visibility: visible;}