/* CLOSET PAGE */
#closet-shelves.sidebar { margin-left: 353px; position: relative; }
#closet-view #overview.sidebar { margin-left: 342px; }
#closet-create-look {
border: 1px dotted #eee;
border-width: 0 1px 0 0;
padding: 0;
background: #2c2c2c;
display: none;
position: fixed;
top: 41px;
left: 0;
right: auto;
bottom: 0;
width: 369px;
overflow-y: auto;
overflow-x: hidden;
z-index: 99;
margin: 0;
}
#create-look-wrap { margin: 22px 9px 13px 9px; position: relative; }
#create-look-name {
width: 100%;
padding-left: 0;
padding-right: 0;
box-shadow: 0 0 0;
border: 0;
text-indent: 9px;
margin-bottom: 0;
}
#create-look-wrap .alert { margin-top: 2em; }
#btn-create-new-look {  }
#btn-create-new-look.active {  }
#closet-categories-filter,
#closet-categories-filter_chzn {
vertical-align: bottom;
top: -3px;
width: auto !important;
min-width: 200px;
max-width: 666px;
margin-right: 9px;
}

#create-look-dropzone {
padding: 9px;
margin-top: 6px;
margin-bottom: 9px;
min-height: 111px;
position: relative;
}
#create-look-dropzone:before {
display: block;
content: "Drop Zone";
font-size: 1.6em;
font-weight: bold;
color: rgba(222, 222, 222, 0.6);
position: absolute;
top: 50%;
left: 50%;
margin: -13px 0 0 -50px;
}
#create-look-dropzone img { max-width: 56px; margin: 1px; }
#closet-shelves .wishlist { border-right: 1px solid pink; }
.wish-heart { display: inline-block; margin: 0; font-family: 'SignifyLite'; color: pink; line-height: 1; margin-left: -0.6em; }
#closet-shelf-list .accordion-heading .label { margin: 0 1em; }
#closet-shelf-list .accordion-toggle {
font-size: 32px;
display: inline-block;
position: relative;
line-height: 42px;
outline: none;
text-decoration: none;
-webkit-transition: color 0.2s ease-in-out;
-moz-transition: color 0.2s ease-in-out;
-o-transition: color 0.2s ease-in-out;
-ms-transition: color 0.2s ease-in-out;
transition: color 0.2s ease-in-out;
vertical-align: middle;
}
#closet-shelves .accordion-group {
border-left: 0;
border-radius: 0;
border-bottom-color: #c7deef;
border-top: 0;
}
#closet-shelves .accordion-inner {
border-top-style: dashed;
border-top-color: #f3f3f3;
}
#closet-edit-view.marge { margin-top: 60px; }





/* ITEM VIEWING PAGE */
#single-item-options.side-fixed {
background: #fff;
width: 220px;
position: fixed;
top: 42px;
}
#item-social {
padding: 0;
text-align: center;
margin-top: 9px;
background: #FBFBFB;
border-left: 0;
border-right: 0;
}
#viewing-haveit-click .iconic.active {  }
#viewing-feature-click .iconic.active { color: orange; font-size: 18px; }
#viewing-towishlist-click .iconic.active { color: red; }

/* ITEM EDITING PAGE */
#closet-edit-view .editable { width: 100%; max-width: 370px; }
#closet-edit-view .edit-label { margin-top: 1em; font-weight: bold; }
#closet-edit-view #edit-image-wrap { margin: 0; }