/* Comments */
.comments { padding: 11px; border-top: 1px dashed lavender; display: none; position: absolute; background: rgba(250, 250, 250, 0.96); z-index: 1; top: 0; bottom: 47px; left: 0; right: 0; overflow-y: auto; }
 .comments.show { display: block; }
.photo .comments { padding-bottom: 0; }
.comments .text { }

.comments .you:hover .delete-comment { display: inline-block; }
.comments .delete-comment { display: none; position: absolute; right: 3px; font-size: 9px; color: tomato; top: 3px; }
.comments li.you { position: relative; }
.comments-more {
text-align: center;
font-size: 11px;
background: #EEE;
line-height: 23px;
cursor: pointer;
}




/* Comments :listing */
.comments-list li { padding: 3px 0 0 0; display: block; overflow: hidden; position: relative; }
.comments-list li:first-child { padding-top: 0; }
.comments-list li p { font-size: 11px; line-height: 13px; }
.comments-list li.you p { margin-right: 42px; }

.double .comments-list {  }
.large .comments-list {  }
.large-side .comments-list {  }
.single .comments-list {  }
.two-col .comments-list {  }

.comments .profile.url { display: inline-block; }
.comment-entree .photo,
.comments .profile.url img { max-height: 42px; max-width: 42px; width: 42px; }

.entree-wrap { margin-left: 50px; }
.comment-entree { position: relative; margin-top: 13px; }
.comment-entree .photo { float: left; display: inline-block; visibility: hidden; }
.comment-entree.focused .photo { visibility: visible; }
.comment-entree .text { display: block; width: 100%; padding-right: 0; padding-left: 0; margin: 0; text-indent: 9px; }
.comment-entree.active .photo { visibility: hidden; }





/* SORT OUT */
.comment-body-wrap {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background-color: #fff;
clear: both;
font-size: 13px;
line-height: 1.4;
outline: none;
padding: 16px 21px;
position: relative;
word-wrap: break-word;
border-bottom: 1px solid #ddd;
border-left: 1px solid #ccc;
border-top: 1px solid #ddd;
border-right: 1px solid #ccc;
-webkit-transition:  border-left-color 0.42s ease-in-out;
-moz-transition:  border-left-color 0.42s ease-in-out;
-o-transition:  border-left-color 0.42s ease-in-out;
-ms-transition:  border-left-color 0.42s ease-in-out;
transition:  border-left-color 0.42s ease-in-out;
}
.comment-body-wrap:hover {
border-left-color: #39F;
}
.comment-wrap {
margin-left: 60px;
margin-right: 44px;
vertical-align: top;
}
.comment-author-link { font-weight: bold; }
.comment-author-image {
border: 0;
float: left;
display: inline-block;
height: 48px;
margin-left: -60px;
width: 48px;
}
.comment-meta a { color: #999; }
.comment-content { padding-top: 3px; text-overflow: ellipsis; }
.runway-comment-input { width: 98%; margin-bottom: 0.6em; }
.comment-actions { padding-bottom: 9px; }
.runway-reply-wrap { padding-top: 0.6em; }

.comment-gallery-wrap {padding-bottom: 12px; padding-top: 3px; text-overflow: ellipsis; }
.comment-gallery-body { margin-bottom: 9px; margin-top: 5px; }
.comment-gallery-poster {
border-width: 0;
cursor: pointer;
max-width: 402px;
overflow: hidden;
position: relative;
margin-bottom: 5px;
max-height: 301px;
}
.comment-gallery-thumb {
display: inline-block;
margin-right: 5px;
max-height: 46px;
max-width: 62px;
border-width: 0;
cursor: pointer;
float: left;
}
.load-more {
background-color:#FFFFFF;
border-color:#DDDDDD #AAAAAA #AAAAAA #DDDDDD;
border-style:solid;
border-width:1px;
display:block;
font-size:14px;
font-weight:bold;
height:22px;
line-height:1.5em;
margin-bottom:6px;
outline:medium none;
padding:6px 0;
text-align:center;
text-shadow:1px 1px 1px #FFFFFF;
}
.load-more:hover { border:1px solid #39F; text-decoration: none; }
.load-more:active { color:#666666; }
.comment-gallery-wrap .thumbnails { margin: 1em 0 0 0; }



/**** Speech Bubble Icons *****/
.spch-bub-inside, .spch-bub-outside { text-decoration: none; position: relative; }
a.spch-bub-inside, a.spch-bub-outside { color: #999; }
.spch-bub-inside em, .spch-bub-outside em { font-style: normal; }

.spch-bub-inside.active em { background: tomato; }
.spch-bub-inside.active em::before { border-left: 0.45em solid tomato; }

.spch-bub-inside em {
background: #bbb;
color: #FFF;
padding: 0 0.42em;
border-radius: 0.25em;
position: relative;
font-size: 11px;
}
.spch-bub-inside em::before {
width: 0;
height: 0;
position: absolute;
top: 13px;
left: 0;
display: block;
border-left: 0.45em solid #bbb;
border-bottom: 0.45em solid #FFF;
border-bottom: 0.45em solid rgba(0,0,0,0);
overflow: hidden;
content: ' ';
}
a.spch-bub-inside:hover { color: #777; text-decoration: none; }
a.spch-bub-inside:hover em { cursor: pointer; background: #777; color: #fff; text-decoration: none; }
a.spch-bub-inside:hover em::before { border-left: 0.45em solid #777; }