::-webkit-scrollbar {
width: 13px;
}

::-webkit-scrollbar-track {
background: #111;
border-radius: 3px;
}

::-webkit-scrollbar-thumb {
border-radius: 3px;
background: #666;
}

 /* Base styles for icons provided by web fonts
 * ------------------------------------------------------------- */
@font-face {
  font-family: 'SignifyLite';
  src: url("../fonts/signifylite-webfont.eot");
  src: url("../fonts/signifylite-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/signifylite-webfont.woff") format("woff"), url("../fonts/signifylite-webfont.ttf") format("truetype"), url("../fonts/signifylite-webfont.svg#SignifyLite") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon:before {
  margin-right: 6px; }
.icon.up:before {
  content: "1";
  font-family: 'SignifyLite'; }
.icon.right:before {
  content: "2";
  font-family: 'SignifyLite'; }
.icon.down:before {
  content: "3";
  font-family: 'SignifyLite'; }
.icon.left:before {
  content: "4";
  font-family: 'SignifyLite'; }
.icon.play:before {
  content: "5";
  font-family: 'SignifyLite'; }
.icon.pause:before {
  content: "6";
  font-family: 'SignifyLite'; }
.icon.stop:before {
  content: "7";
  font-family: 'SignifyLite'; }
.icon.repeat:before {
  content: "8";
  font-family: 'SignifyLite'; }
.icon.jumpback:before {
  content: "9";
  font-family: 'SignifyLite'; }
.icon.rewind:before {
  content: "<";
  font-family: 'SignifyLite'; }
.icon.forward:before {
  content: ">";
  font-family: 'SignifyLite'; }
.icon.action:before {
  content: "A";
  font-family: 'SignifyLite'; }
.icon.box:before {
  content: "B";
  font-family: 'SignifyLite'; }
.icon.copyright:before {
  content: "C";
  font-family: 'SignifyLite'; }
.icon.delete:before {
  content: "D";
  font-family: 'SignifyLite'; }
.icon.email:before {
  content: "E";
  font-family: 'SignifyLite'; }
.icon.folder:before {
  content: "F";
  font-family: 'SignifyLite'; }
.icon.collection:before {
  content: "G";
  font-family: 'SignifyLite'; }
.icon.heart:before {
  content: "H";
  font-family: 'SignifyLite'; }
.icon.eye:before {
  content: "I";
  font-family: 'SignifyLite'; }
.icon.file:before {
  content: "J";
  font-family: 'SignifyLite'; }
.icon.chart:before {
  content: "K";
  font-family: 'SignifyLite'; }
.icon.locked:before {
  content: "L";
  font-family: 'SignifyLite'; }
.icon.music:before {
  content: "M";
  font-family: 'SignifyLite'; }
.icon.news:before {
  content: "N";
  font-family: 'SignifyLite'; }
.icon.world:before {
  content: "O";
  font-family: 'SignifyLite'; }
.icon.print:before {
  content: "P";
  font-family: 'SignifyLite'; }
.icon.playvideo:before {
  content: "Q";
  font-family: 'SignifyLite'; }
.icon.original:before {
  content: "R";
  font-family: 'SignifyLite'; }
.icon.search:before {
  content: "S";
  font-family: 'SignifyLite'; }
.icon.tel:before {
  content: "T";
  font-family: 'SignifyLite'; }
.icon.user:before {
  content: "U";
  font-family: 'SignifyLite'; }
.icon.video:before {
  content: "V";
  font-family: 'SignifyLite'; }
.icon.wifi:before {
  content: "W";
  font-family: 'SignifyLite'; }
.icon.cross:before {
  content: "X";
  font-family: 'SignifyLite'; }
.icon.settings:before {
  content: "Y";
  font-family: 'SignifyLite'; }
.icon.lightning:before {
  content: "Z";
  font-family: 'SignifyLite'; }
.icon.link:before {
  content: "~";
  font-family: 'SignifyLite'; }

@font-face {
  font-family: 'WebSymbolsRegular';
  src: url("../fonts/websymbols-regular-webfont.eot");
  src: url("../fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/websymbols-regular-webfont.woff") format("woff"), url("../fonts/websymbols-regular-webfont.ttf") format("truetype"), url("../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg"); }

.ico-btn {
  font-family: 'WebSymbolsRegular';
  padding: 3px;
  margin-right: 3px;
  text-decoration: none;
  cursor: pointer; }
.ico-count { padding: 0 3px; font-size: smaller; }



/* jquery.Jcrop.css v0.9.9 - MIT License */

/*
  The outer-most container in a typical Jcrop instance
  If you are having difficulty with formatting related to styles
  on a parent element, place any fixes here or in a like selector

  You can also style this element if you want to add a border, etc
  A better method for styling can be seen below with .jcrop-light
  (Add a class to the holder and style elements for that extended class)
*/
.jcrop-holder {
  direction: ltr;
  text-align: left;
}
.jcrop-holder img { max-width: initial !important;}

/* These styles define the border lines */
.jcrop-vline,.jcrop-hline{background:#FFF url(../img/Jcrop.gif) top left repeat;font-size:0;position:absolute;}
.jcrop-vline{height:100%;width:1px!important;}
.jcrop-hline{height:1px!important;width:100%;}
.jcrop-vline.right{right:0;}
.jcrop-hline.bottom{bottom:0;}

/* Handle style - size is set by Jcrop handleSize option (currently) */
.jcrop-handle{background-color:#333;border:1px #eee solid;font-size:1px;}

/* This style is used for invisible click targets */
.jcrop-tracker
{
  height: 100%; 
  width: 100%;
  -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
  -webkit-touch-callout: none;              /* disable callout, image save panel */
  -webkit-user-select: none;                /* disable cut copy paste */
}

/* Positioning of handles and drag bars */
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px;}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%;}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%;}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0;}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0;}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px;}
.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%;}
.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px;}
.jcrop-dragbar.ord-n{margin-top:-4px;}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px;}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0;}
.jcrop-dragbar.ord-w{margin-left:-4px;}

/* The "jcrop-light" class/extension */
.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline
{
  background:#FFF;
  filter:Alpha(opacity=70)!important;
  opacity:.70!important;
}
.jcrop-light .jcrop-handle
{
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  background-color:#000;
  border-color:#FFF;
  border-radius:3px;
}

/* The "jcrop-dark" class/extension */
.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline
{
  background:#000;
  filter:Alpha(opacity=70)!important;
  opacity:.7!important;
}
.jcrop-dark .jcrop-handle
{
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  background-color:#FFF;
  border-color:#000;
  border-radius:3px;
}



#console {
position: fixed;
height: 200px;
bottom: -200px;
left: 0;
right: 0;
top: auto;
background: rgba(0,0,0,0.96);
z-index: 9999;
}
#console_output { 
position: absolute;
left: 3px;
right: 3px;
bottom: 3px;
top: 3px;
padding: 3px;
background: rgba(0,0,0,0.3);
color: #39c;
outline: 0;
border: 0;
resize:none;
overflow: auto;
}

.loading {
z-index: 9999;
position: fixed;
background: #fff;
top: 0;
bottom: 0;
left: 0;
right: 0;
text-align: center;
vertical-align: super;
}
.loading span {
position: absolute;
top: 50%;
left: 48%;
background: transparent url(../img/loader.gif);
height: 48px;
width: 48px;
text-indent: -9999px;
}


/*
ROUNDABOUT
*/
.roundabout {
  overflow: hidden;
  min-height: 360px;
  width: 100%; }
  .roundabout li {
    height: 240px;
    width: 220px;
    padding: 0; margin: 0;
    background-color: #ccc;
    text-align: center;
    cursor: pointer; }
    .roundabout li.roundabout-in-focus {
      cursor: default; }
    .roundabout li img {
      width: auto;
      max-width: 100%;
      height: 100%; }
  .roundabout span {
    display: block; }
.roundabout .caption { display: none; max-height: 87px; overflow-y: auto; text-align: left; }
/*.roundabout .roundabout-in-focus:hover .caption { display: block; }*/
.roundabout .roundabout-in-focus .caption {
display: block;
position: absolute;
bottom: -8em;
left: -17em;
right: -17em;
}

/*
AWESOME LIKE BUTTON
*/
.double-btn {
background-color: #3bb3e0;
width: 150px;
display: inline-block;
border: 0;
font-family: 'Open Sans', sans-serif;
font-size: 1.3em;
text-decoration: none;
color: #fff;
position: relative;
margin-top: 42px;
padding-bottom: 9px;
padding-top: 9px;
background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(44,160,202)), color-stop(1, rgb(62,184,229)) );
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.double-btn:active {
top:0px;
background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
background-image: -webkit-gradient(
linear,
left bottom,
left top,
color-stop(0, rgb(62,184,229)),
color-stop(1, rgb(44,160,202))
);
-webkit-box-shadow: inset 0px 4px 1px #0b698b, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
-moz-box-shadow: 0px 2px 0px 1px #156785, 0px 5px 3px #999;
-o-box-shadow: 0px 2px 0px 1px #156785, 0px 5px 3px #999;
box-shadow: inset 0px 4px 1px #0b698b, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}
.double-btn::before {
background-color: #eee;
content: "H";
text-align: center;
vertical-align: super;
width: 150px;
height: 40px;
position: absolute;
top: -30px;
left: 0px;
margin-top: -10px;
z-index: -1;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
font-family: 'SignifyLite';
font-size: 1.9em;
color: pink;
line-height: 30px;
}
.double-btn:active::before {
top: -30px;	
-webkit-box-shadow: 0px 3px 0px #ccc;
-moz-box-shadow: 0px 3px 0px #ccc;
-o-box-shadow: 0px 3px 0px #ccc;
box-shadow: 0px 3px 0px #ccc;
}




/* SITE TOUR (NEW) */
/*.tooltip{
position:absolute;
width:250px;
left:0;
top:0;
z-index:999999;
border:2px solid #000 !important;
}
.tooltip p{
padding:10px;
font-size:14px;
text-shadow:none;
font-style:italic;
}
.tooltip_arrow{
position:absolute;
background-color:transparent;
background-repeat:no-repeat;
}
.tooltip_arrow_T,
.tooltip_arrow_B,
.tooltip_arrow_TL,
.tooltip_arrow_TR,
.tooltip_arrow_BL,
.tooltip_arrow_BR{
background-image:url(../img/tour/topbottom.png);
width:13px;
height:7px;
}
.tooltip_arrow_L,
.tooltip_arrow_R,
.tooltip_arrow_LT,
.tooltip_arrow_LB,
.tooltip_arrow_RT,
.tooltip_arrow_RB{
background-image:url(../img/tour/leftright.png);
width:7px;
height:13px;
}
.tooltip_arrow_T{
background-position:0px -7px;
top:-7px;
left:50%;
margin-left:-3.5px;
}
.tooltip_arrow_TL{
background-position:0px -7px;
top:-7px;
left:5px;
}
.tooltip_arrow_TR{
background-position:0px -7px;
top:-7px;
right:5px;
}
.tooltip_arrow_B{
background-position:0px 0px;
bottom:-7px;
left:50%;
margin-left:-3.5px;
}
.tooltip_arrow_BL{
background-position:0px 0px;
bottom:-7px;
left:5px;
}
.tooltip_arrow_BR{
background-position:0px 0px;
bottom:-7px;
right:5px;
}
.tooltip_arrow_L{
background-position:-7px 0px;
top:50%;
margin-top:-6.5px;
left:-7px;
}
.tooltip_arrow_LT{
background-position:-7px 0px;
top:5px;
left:-7px;
}
.tooltip_arrow_LB{
background-position:-7px 0px;
bottom:5px;
left:-7px;
}
.tooltip_arrow_R{
background-position:0px 0px;
top:50%;
margin-top:-6.5px;
right:-7px;
}
.tooltip_arrow_RT{
background-position:0px 0px;
top:5px;
right:-7px;
}
.tooltip_arrow_RB{
background-position:0px 0px;
bottom:5px;
right:-7px;
}
.overlay{
position:fixed;
width:100%;
height:100%;
top:0px;
left:0px;
background:#fff;
opacity:0.5;
z-index:99999;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.tourcontrols {
position: fixed;
top: 20px;
right: -300px;
width: 300px;
padding: 13px;
z-index: 999999;
}
.tourcontrols a {
font-size:11px;
margin:10px;
cursor: pointer;
}
.tourcontrols .close{
position:absolute;
top:6px;
right:7px;
width:10px;
height:10px;
background:#000;
cursor:pointer;
}
.tourcontrols p {
padding:9px;
}
.tourcontrols .nav {
display: block;
width: 100%;
}*/










/* Carousel Styles
**************************************************************************/
#carousel {margin: 22px 0 42px 0; overflow: hidden; }
#carousel img { max-height: 266px; max-width: 213px; }
#carousel ul li { width: 213px; height: 266px; padding: 10px; }

#carousel .arrow {
position: absolute;
top: 0px;
width: 232px;
height: 275px;
background: url(/assets/img/arrow.png) no-repeat 0 0;
text-indent: -999px;
cursor: pointer;
background-color: rgba(255, 255, 255, 0.7);
}

#carousel .back { background-position: -33px 0; top: 6px; left: 0; }
#carousel .back:hover { background-position: -33px -299px; }
#carousel .forward { background-position: -357px 0; top: 6px; right: 0; }
#carousel .forward:hover { background-position: -357px -299px; }

a.thumbnail-frame { position: absolute; width: 213px; height: 266px; }
a.thumbnail-frame:hover { background: rgba(255, 255, 255, 0.1); }