.follow-list { position: relative; }
.follow-list-item {
position: relative;
min-height: 69px;
margin-bottom: 3px;
display: block;
overflow: hidden;
}
.follow-list .vcard {
position: relative;
min-height: 69px;
display: inline-block;
vertical-align: top;
}
.follow-user-link { display: block; }
.user-card {display: inline-block; text-align: center;}
.follow-list .vcard .nickname,
.follow-list .vcard .given-name { margin-top: 6px; display: inline-block; }
.follow-list .vcard .photo { display: inline-block; }
.follow-list .vcard .given-name { color: #666; }
.follow-list .latest-liked {
float: right;
margin: 0;
display: block;
padding: 0;
text-align: right;
}
.follow-list .latest-liked li {
display: inline-block;
max-width: 111px;
max-height: 111px;
padding: 0;
border: 0;
overflow: hidden;
text-align: center;
vertical-align: middle;
margin: 0;
}
.follow-list .latest-liked li a {  }
.follow-list .latest-liked img { padding: 0; margin: 0; display: block; }

/* profile page */
#profile-view .follow-user-link {  }