.brand em { color: violet; }
.brand.active em { color: orange; }
#header-user-menu .btn {
background: transparent;
border: 0;
color: white;
text-shadow: 0 0 0;
}
#header-user-menu .caret { border-top: 4px solid #fff; }
#header-user-menu .btn.user-link { }
#header-user-controls .user-img { padding: 0 0.6em 0 0; }
#header-user-controls .user-img img {
width: auto;
height: 32px;
padding: 0;
display: inline-block;
vertical-align: middle;
border: 0;
}
#header-user-menu {
float: right;
display: inline-block;
margin: 0;
position: relative;
top: 7px;
}
#header-user-menu .dropdown-menu { min-width: 133px; }
#header-user-controls {
display: inline-block;
margin: 0;
position: relative;
top: 3px;
}
#header-user-controls .btn {
line-height: 24px;
vertical-align: middle;

color: #ccc;
text-shadow: 0 1px 1px rgba(0, 0, 55, 0.75);
background-color: #222;
background-image: none;
border-color: #111 #222 #333;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
border: 1px solid #111;
border-bottom-color: #000;
-webkit-box-shadow: 0 0 0;
-moz-box-shadow: 0 0 0;
box-shadow: 0 0 0;
}
#header-user-controls .btn.active,
#header-user-controls .btn:active {
background-image: none;
-webkit-box-shadow: 0 0 0;
-moz-box-shadow: 0 0 0;
box-shadow: 0 0 0;
background-color: #111;
outline: 0;
}
#header-user-controls .btn .caret { color: white; margin-top: 11px; border-top: 4px solid white; }
#header-user-controls .dropdown-toggle {
/*height: 25px;*/
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
#header-user-controls .user-img {  }

/* search input */
#header-find { padding: 0; line-height: 32px !important; } 
#header-find-input {
margin: -2px 0.6em 0 0;
width: 169px;
height: 20px;
line-height: 24px;
display: none;
}
#header-find-input.active { display: inline-block; }
