/*
AWESOME LIKE BUTTON
*/
.rw-thumbnail-wrap figure:hover .big-like-button-wrapper { display: block; }
#closet-item-view #item-primary .big-like-button-wrapper {  }
.big-like-button-wrapper {
display: none;
position: absolute;
bottom: 6px;
right: 6px;
text-align: left;
outline: none;
background: 
rgba(0, 0, 0, 0.32);
border-radius: 3px;
height: 32px;
}
.big-like-button-wrapper.active { background: rgba(255,255,255,0.93); }
.big-like-button-wrapper.active em { color: red;  }
.big-like-button-wrapper em { 
color: pink;
margin: 0;
padding: 0 3px;
font-style: normal;
font-size: 32px;
line-height: 22px;
font-family: 'SignifyLite';
cursor: pointer;
}
.btn.like.active { }
.btn.like {
position: relative;
top: 0px;
right: 3px;
left: 6px;
text-decoration: none;
font-weight: bold;
line-height: 22px;
}
.btn.like.active:hover { }
.btn.like:hover {  }
.liked .rw-thumbnail-detail::before {
content: "H";
position: absolute;
bottom: 3px;
right: 2px;
font-style: normal;
font-size: 16px;
line-height: 16px;
display: inline-block;
font-family: 'SignifyLite';
color: rgba(255, 192, 203, 0.666);
z-index: 3;
}
.like-edit {
position: relative;
right: 2px;
margin: 0;
font-family: 'WebSymbolsRegular';
padding: 0 3px;
color: #333 !important;
background-image: none;
box-shadow: 0 0 0;
border: 0;
background-color: transparent;
bottom: 9px;
}
.like-edit:hover {
color: #111 !important;
background-image: none;
box-shadow: 0 0 0;
border: 0;
background-color: transparent;
}

.wished .rw-thumbnail-detail::after {
content: "B";
position: absolute;
bottom: 32px;
right: 2px;
font-style: normal;
font-size: 16px;
line-height: 16px;
display: inline-block;
font-family: 'SignifyLite';
color: rgba(255, 0, 0, 0.32);
z-index: 3;
}