#app-logo {
	display: block;
	margin: 0;
	padding: 6px 13px;
	font-size: 32px;
	color: #999;
	font-weight: bold;
}
#app-logo a:hover { text-decoration: none; }
#app-logo em { color: violet; }

#app-brand {
display: block;
position: fixed;
z-index: 9999;
top: 32px;
right: 32px;
width: 269px;
background: rgba(255, 255, 255, 0.69);
padding: 9px;
}

#btn-login { margin-top: 5px; width: 160px; text-align: left; }
#btn-facebook { margin-bottom: 9px; }
#btn-signup { margin-top: 13px; }
#login-register { margin-bottom: 1em; }

#page-login hgroup { text-align: center; margin-top: 3em; margin-bottom: 2em; }
#page-login hgroup h2 { font-size: 1.3em; color: #39F; }
#page-login hgroup h1 { font-size: 3em; color: #348; }
#login-features h1 { color: #39F; }
#login-features .row { margin: 3em 0 0 0; }
#login-tabs { margin-bottom: 0; }
#login-tab-content { background: #fff; border: 1px solid #ddd; border-top: 0; text-align: center; }
#login-tab-content input { width: auto; margin: 3px 0; }
#login-tab-content .tab-pane { padding: 1em 0 0; }
#login-features .span6 p { font-size: 18px; font-weight: 200; line-height: 27px; }

#page-login .hero-unit { margin-top: 6em; }

/* Register Interestest */
#reg-interest-selections .thumbnail { display: inline-block; }
.register-actions { margin: 0 3em 1em 3em; }
.register-actions .btn-primary { margin-right: 1em; }
#page-register-interest #top-welcome,
#page-register-suggest #top-welcome { margin: 22px 96px 0; }
#page-register-interest #top-welcome h2,
#page-register-suggest #top-welcome h2 { font-size: 17px; }