/* RUNWAY PAGE 
==================*/
.rw-global-item { position: relative; overflow: hidden; }
.user-runway { display: inline-block; padding: 0 0 0 90px; margin: 0; }
.user-icon {
display: inline-block;
margin-right: 1em;
position: absolute;
top: 0;
left: 0;
}
.user-icon::before {
content: '';
display: inline-block;
border-bottom: 7px solid transparent;
border-top: 7px solid transparent;
border-left: 7px solid #ccc;
border-left-color: rgba(0, 0, 0, 0.2);
position: absolute;
top: 31px;
right: -7px;
}
.user-icon::after {
content: '';
display: inline-block;
border-bottom: 6px solid transparent;
border-top: 6px solid transparent;
border-left: 6px solid #ffffff;
position: absolute;
top: 32px;
right: -5px;
}

.rw-thumbnail-wrap { position: relative; display: inline-block; border: 1px solid #eee; vertical-align: top; }
.rw-thumbnail-wrap.liked, #page-register-interest .liked  { border-color: rgba(255, 192, 203, 0.6); }
.rw-thumbnail-wrap.liked a { color: #B50360; }
.rw-thumbnail-wrap figure { position: relative; margin: 0; padding: 0; }
.rw-thumbnail-detail { padding-left: 1em; }
.rw-thumbnail { display: block; }

.rw-item-title {
display: block;
font-size: 123%;
line-height: normal;
}
.rw-item-liked {
color: #999;
font-size: smaller;
}


.page-controls {
top: 4px;
right: 4px;
margin: 0;
position: relative;
}


/* TAKE CARE OF IT OPEN SCOPE */
.page-controls .dropdown-menu::before {
content: '';
display: inline-block;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-bottom: 7px solid #ccc;
border-bottom-color: rgba(0, 0, 0, 0.2);
position: absolute;
top: -7px;
left: 9px;
}
.page-controls .dropdown-menu::after {
content: '';
display: inline-block;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-bottom: 6px solid #ffffff;
position: absolute;
top: -6px;
left: 10px;
}

.subnav-fixed .page-controls { width: 940px; margin-left: auto; margin-right: auto; }

/* runway page */
.user-runway.tripple .rw-thumbnail-wrap { max-width: 278px; }
.user-runway.doubleb .large { max-width: 522px; }
.user-runway.doubleb .large-side { max-width: 320px; }
.user-runway.double .rw-thumbnail-wrap { max-width: 421px; }
.user-runway.single .rw-thumbnail-wrap { max-width: 848px; }
/* profile page */
.rw-thumbnail-wrap.ff-first { max-width: 698px; }
.rw-thumbnail-wrap.two-col { max-width: 346px; }
#profile-new-liked-stuff .rw-thumbnail-wrap { width: 170px; }
/* single item page */
.rw-thumbnail-wrap.related-items { max-width: 346px; }
