@import url(fonts.css);
@import url(modals.css);
@import url(notifications.css);
@import url(chosen.css);
@import url(custom.css);
@import url(header.css);
@import url(subnav.css);
@import url(comments.css);
@import url(runway.css);
@import url(profile.css);
@import url(brand.css);
@import url(closet.css);
@import url(buzz.css);
@import url(following.css);
@import url(achievements.css);
@import url(listnav.css);
@import url(top.css);
@import url(item.css);
@import url(sidebar.css);
@import url(login.css);
@import url(like.css);


.ac { text-align: center; }
.ar { text-align: right; }
.al { text-align: left; }

.inlined { display: inline-block; vertical-align: top;}
.relative { position: relative; }
.editing { border: 1px solid #39F; padding-left: 6px; }
.marge { margin-top: 42px; }

.toolbar-fixed {
position: fixed;
top: 42px;
background: white;
width: 700px;
z-index: 9;
padding: 0.3em 0;
border-bottom: 2px solid #ddd;
}

.accordion-sub-header h2 { display: inline-block; vertical-align: middle; }
.thumbnail { line-height: 0; }


/* APP FOOTER
*********************
*/
#app-footer { margin-top: 42px; }