/* Subnav */



/* Profile page subnav */
#profile-tabs.subnav {
height: 33px;
border-top: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;
}
#profile-tabs.toolbar-fixed {
position: fixed;
top: 41px;
background: #eee;
width: 698px;
z-index: 9;
padding: 0;
border-bottom: 1px solid #aaa;
}

/* closet page subnav */
#buzz-view .subnav-fixed, 
#wishlist-view .subnav-fixed, 
#closet-view .subnav-fixed, 
#runway-view .subnav-fixed {
position: fixed;
top: 39px;
left: 0;
right: 0;
z-index: 1020;
}
#closet-view .sidebar .subnav-fixed { left: 370px; }
#closet-view .sidebar .subnav-fixed .page-controls { width: auto; margin-left: auto; margin-right: auto; }