<div id="profile-view" class="container marge">

	<div class="row">
		<div class="span9">

			<ul id="profile-tabs" class="nav nav-tabs subnav">
				<li class="active"><a href="#profile-runway" data-toggle="tab">Runway</a></li>
				<li><a href="#profile-shelves" data-toggle="tab"><em>999</em> Shelves</a></li>
				<li><a href="#profile-followers" data-toggle="tab"><em>999999</em> Followers</a></li>
				<li><a href="#profile-stats" data-toggle="tab">Statistics</a></li>
			</ul>
							
			<div id="profile-tab-content" class="tab-content">

				<!-- Runway Tab -->
				<div class="tab-pane fade active in" id="profile-runway">

					<section id="profile-featured-wrap" class="clearfix">
						<h1>MeowFashion's featured items</h1>
						<article class="rw-thumbnail-wrap ff-first">
							<figure>
								<a href="#viewing" class="rw-thumbnail">
									<img src="http://placehold.it/698x698" alt="">
								</a>
								<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
							</figure>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<span class="rw-item-liked">liked by 9999+</span>
								<a class="spch-bub-inside" href="#runway"><em>999+</em></a>
							</aside>
							<!-- comments -->
							<section class="comments comments-list">
								<ol class="unstyled">
									<li>
										<a href="#profile" class="profile url">
											<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
										</a>
										<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
									</li>
									
									<li>
										<a href="#profile" class="profile url">
											<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
										</a>
										<p>Beautifil!</p>
									</li>

									<li class="you">
										<a href="#profile" class="profile url">
											<img src="/assets/img/ruso.png" rel="tip" title="misterfabulous" class="photo">
										</a>
										<a href="#"  class="delete-comment">Delete</a>
										<p>that piece of string hanging off her right leg is really bothering me</p>
									</li>
								</ol>
								
								<div class="comment-entree">
									<img src="/assets/img/ruso.png" alt="" class="photo" />
									<div class="entree-wrap">
										<textarea name="comment-msg" rows="1" class="text" placeholder="comment.." rel="tip" data-placement="down" data-title="Press enter to post your comment"></textarea>
									</div>
								</div>
							</section>
							<!-- / comments -->
						</article>
						
						<article class="rw-thumbnail-wrap ff-second two-col">
							<figure>
								<a href="#viewing" class="rw-thumbnail">
									<img src="http://placehold.it/346x346" alt="">
								</a>
								<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
							</figure>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<span class="rw-item-liked">liked by 9999+</span>
								<a class="spch-bub-inside" href="#runway"><em>999+</em></a>
							</aside>
							<!-- comments -->
							<section class="comments comments-list">
								<ol class="unstyled">
									<li>
										<a href="#profile" class="profile url">
											<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
										</a>
										<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
									</li>
									
									<li>
										<a href="#profile" class="profile url">
											<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
										</a>
										<p>Beautifil!</p>
									</li>

									<li class="you">
										<a href="#profile" class="profile url">
											<img src="/assets/img/ruso.png" rel="tip" title="misterfabulous" class="photo">
										</a>
										<a href="#"  class="delete-comment">Delete</a>
										<p>that piece of string hanging off her right leg is really bothering me</p>
									</li>
								</ol>
								
								<div class="comment-entree">
									<img src="/assets/img/ruso.png" alt="" class="photo" />
									<div class="entree-wrap">
										<textarea name="comment-msg" rows="1" class="text" placeholder="comment.." rel="tip" data-placement="down" data-title="Press enter to post your comment"></textarea>
									</div>
								</div>
							</section>
							<!-- / comments -->
						</article>

						<article class="rw-thumbnail-wrap ff-third two-col">
							<figure>
								<a href="#viewing" class="rw-thumbnail">
									<img src="http://placehold.it/346x346" alt="">
								</a>
								<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
							</figure>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<span class="rw-item-liked">liked by 9999+</span>
								<a class="spch-bub-inside" href="#runway"><em>999+</em></a>
							</aside>
							<!-- comments -->
							<section class="comments comments-list">
								<ol class="unstyled">
									<li>
										<a href="#profile" class="profile url">
											<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
										</a>
										<p>Defining a function does not execute it. Defining the function simply names the function and specifies what to do when the function is called. Calling the function actually performs the specified actions with the indicated parameters. For example, if you define the function square, you could call it as follows</p>
									</li>
									
									<li>
										<a href="#profile" class="profile url">
											<img src="//placehold.it/42x42" rel="tip" title="someotheruser" class="photo" />
										</a>
										<p>Beautifil!</p>
									</li>

									<li class="you">
										<a href="#profile" class="profile url">
											<img src="/assets/img/ruso.png" rel="tip" title="misterfabulous" class="photo">
										</a>
										<a href="#"  class="delete-comment">Delete</a>
										<p>that piece of string hanging off her right leg is really bothering me</p>
									</li>
								</ol>
								
								<div class="comment-entree">
									<img src="/assets/img/ruso.png" alt="" class="photo" />
									<div class="entree-wrap">
										<textarea name="comment-msg" rows="1" class="text" placeholder="comment.." rel="tip" data-placement="down" data-title="Press enter to post your comment"></textarea>
									</div>
								</div>
							</section>
							<!-- / comments -->
						</article>
					</section>

					<section id="brand-catalog">
						<h1>MeowFashion Catalog</h1>
						<article class="rw-thumbnail-wrap">
							<figure>
								<a href="#viewing" class="rw-thumbnail">
									<img src="http://placehold.it/228x228" alt="">
								</a>
								<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
							</figure>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<span class="rw-item-liked">liked by 9999+</span>
								<a class="spch-bub-inside" href="#runway"><em>999+</em></a>
							</aside>
							<!-- comments -->
							<!-- / comments -->
						</article>

						<article class="rw-thumbnail-wrap">
							<figure>
								<a href="#viewing" class="rw-thumbnail">
									<img src="http://placehold.it/228x228" alt="">
								</a>
								<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
							</figure>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<span class="rw-item-liked">liked by 9999+</span>
								<a class="spch-bub-inside" href="#runway"><em>999+</em></a>
							</aside>
							<!-- comments -->
							<!-- / comments -->
						</article>
						
						<article class="rw-thumbnail-wrap">
							<figure>
								<a href="#viewing" class="rw-thumbnail">
									<img src="http://placehold.it/228x228" alt="">
								</a>
								<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
							</figure>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<span class="rw-item-liked">liked by 9999+</span>
								<a class="spch-bub-inside" href="#runway"><em>999+</em></a>
							</aside>
							<!-- comments -->
							<!-- / comments -->
						</article>
						
						<article class="rw-thumbnail-wrap">
							<figure>
								<a href="#viewing" class="rw-thumbnail">
									<img src="http://placehold.it/228x228" alt="">
								</a>
								<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
							</figure>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<span class="rw-item-liked">liked by 9999+</span>
								<a class="spch-bub-inside" href="#runway"><em>999+</em></a>
							</aside>
							<!-- comments -->
							<!-- / comments -->
						</article>
						
						<article class="rw-thumbnail-wrap">
							<figure>
								<a href="#viewing" class="rw-thumbnail">
									<img src="http://placehold.it/228x228" alt="">
								</a>
								<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
							</figure>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<span class="rw-item-liked">liked by 9999+</span>
								<a class="spch-bub-inside" href="#runway"><em>999+</em></a>
							</aside>
							<!-- comments -->
							<!-- / comments -->
						</article>
						
						<article class="rw-thumbnail-wrap">
							<figure>
								<a href="#viewing" class="rw-thumbnail">
									<img src="http://placehold.it/228x228" alt="">
								</a>
								<div class="big-like-button-wrapper"><em>H</em><a href="#" class="button like">Like</a></div>
							</figure>
							<aside class="rw-thumbnail-detail">
								<a href="#profile/item-view" class="rw-item-title">Title for this item</a>
								<span class="rw-item-liked">liked by 9999+</span>
								<a class="spch-bub-inside" href="#runway"><em>999+</em></a>
							</aside>
							<!-- comments -->
							<!-- / comments -->
						</article>
					</section>
				</div>

				<!-- Shelves Tab -->
				<div class="tab-pane fade" id="profile-shelves">
					<div class="photo-stacks">
						<!-- Single photo -->
						<div class="single_photo">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 1</label>
								<label class="stack-desc-itemcount">1 item</label>
							</div>
							<a href="#closet"><img src="http://placehold.it/200x200" alt="picture"></a>
						</div>
						<!--Stack 1  -->
						<div class="image_stack">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 2</label>
								<label class="stack-desc-itemcount">12 items</label>
							</div>
							<a href="#closet">
								<img id="photo1" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo2" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo3" class="stackphotos"  src="http://placehold.it/200x200">
								</a>
						</div>
						<!--Stack 2  -->
						<div class="image_stack">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 3</label>
								<label class="stack-desc-itemcount">42 items</label>
							</div>
							<a href="#closet">
								<img id="photo1" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo2" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo3" class="stackphotos"  src="http://placehold.it/200x200">
							</a>
						</div>
						<!--Stack 3  -->
						<div class="image_stack">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 4</label>
								<label class="stack-desc-itemcount">32 items</label>
							</div>
							<a href="#closet">
								<img id="photo1" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo2" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo3" class="stackphotos"  src="http://placehold.it/200x200">
							</a>
						</div>
						<!--Stack 4  -->
						<div class="image_stack">
							<div class="stack-desc-wrap">
								<label class="stack-desc">Shelf title 5</label>
								<label class="stack-desc-itemcount">33 items</label>
							</div>
							<a href="#closet">
								<img id="photo1" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo2" class="stackphotos" src="http://placehold.it/200x200">
								<img id="photo3" class="stackphotos"  src="http://placehold.it/200x200">
							</a>
						</div>
					</div>
				</div>

				<!-- Followers Tab -->
				<div class="tab-pane fade" id="profile-followers">


					<ol id="profile-followers-list" class="unstyled follow-list">
						<li class="follow-list-item">
							<a href="#profile" class="url vcard">
								<img src="//placehold.it/69x69" class="photo">
								<strong class="nickname">username</strong>
							</a>
							<a href="#" class="follow-user-link">follow</a>
							<ul class="latest-liked">
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
							</ul>		
						</li>

						<li class="follow-list-item">
							<a href="#profile" class="url vcard">
								<img src="//placehold.it/69x69" class="photo">
								<strong class="nickname">username</strong>
							</a>
							<a href="#" class="follow-user-link">follow</a>
							<ul class="latest-liked">
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
							</ul>		
						</li>

						<li class="follow-list-item">
							<a href="#profile" class="url vcard">
								<img src="//placehold.it/69x69" class="photo">
								<strong class="nickname">username</strong>
							</a>
							<a href="#" class="follow-user-link">follow</a>
							<ul class="latest-liked">
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
								<li><a href="#closet/item"><img src="//placehold.it/69x69" alt=""></a></li>
							</ul>		
						</li>
					</ol>
				</div>

				<!-- Stats Tab -->
				<div class="tab-pane fade" id="profile-stats">
					<!--  -->
					<div id="brand-stats-overview" class="stats-overview">
						<div id="brand-stats-counters" class="stats-counters">
							<div class="well inlined">
								<h3><em>99</em> Shelves</h3>
							</div>

							<div class="well inlined">
								<h3><em>99999</em> Items</h3>
							</div>
						</div>

						<div id="brand-stats-tops" class="row stats-tops">
							<div class="span3">
								<h4>Most commented</h4>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
							</div>

							<div class="span3">
								<h4>Most liked</h4>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
							</div>
							
							<div class="span3">
								<h4>Most used</h4>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
								<a href="#viewing"><img class="thumbnail" src="http://placehold.it/59x59"></a>
							</div>
						</div>

						<!-- <img src="https://chart.googleapis.com/chart?
											chs=230x230&cht=gom&chd=t:70&
											chco=0000FF,FFFF00,FF0000&
											chxt=x,y&chxl=0:|YOU|1:|cold|warm|hot"> -->

						<img src="https://chart.googleapis.com/chart?
											cht=v&chs=222x222&
											chd=t:100,80,60,30,30,30,10&
											chco=FF6342,ADDE63,63C6DE&
											chdl=Popularity|Clothing|Activity" >

						<img src="https://chart.googleapis.com/chart?
											cht=p&chd=s:Uf9a&
											chs=460x230&
											chdl=Tops|Bottoms|Footwear|Asessories">

						<img src="https://chart.googleapis.com/chart?
											cht=lc&amp;
											chco=FF6342,ADDE63,63C6DE&amp;
											chs=700x169&amp;
											chd=s:FOETHECat,lkjtf3asv,KATYPSNXJ&amp;
											chxt=x,y&amp;
											chxl=0:|Oct|Nov|Dec|1:||20K||60K||100K" >
					</div>
				</div><!-- /profile shelves -->
			</div><!-- /profile tab content -->
		</div><!-- /span9 -->
		
		<!-- SIDEBAR -->
		<div class="span3 sidebar">
			<figure>
				<figcaption class="hide">MeowFashion LLC</figcaption>
				<img src="./assets/img/kitty.gif" alt="">
				<a href="//MeowFashion.biz" class="sb-control web">MeowFashion.biz</a>
			</figure>

			<div id="profile-sb-controls">
				<button class="btn btn-large btn-primary" data-toggle="button"><span class="ico-btn">+</span> Follow</button>
			</div>

			<hr/>
			<!-- Some other injected content -->
		</div>
	</div><!-- /row -->


</div> <!-- /container -->




<script>
!function ($) {
	$(function(){


		// fix sub nav on scroll
		var $win = $(window)
			, $nav = $('.subnav')
			, navTop = $('.subnav').length && $('.subnav').offset().top - 40
			, isFixed = 0;
		processScroll();
		$win.on('scroll', processScroll);
		function processScroll() {
			var i, scrollTop = $win.scrollTop()
			if (scrollTop >= navTop && !isFixed) {
				isFixed = 1
				$nav.addClass('toolbar-fixed')
			} else if (scrollTop <= navTop && isFixed) {
				isFixed = 0
				$nav.removeClass('toolbar-fixed')
			}
		};

	})
}(window.jQuery)
</script>