<div id="closet-edit-view" class="container marge">

	<div class="content">

		<div class="row">
			<div class="span16 edit ar">

				<input type="text" class="input span12" placeholder="Item description" rel="tip" title="Item description" data-placement="above" value="Strawberry with whipcream" />

			</div>
		</div>

		<div class="row">
			<div class="span4 sidebar">
				<h3>Tools</h3>
				<select id="edit-category" class="span4 chzn-select">
					<option selected>Shelf 1</option>
					<option>Shelf 2</option>
					<option>Shelf 3</option>
					<option>Shelf 4</option>
				</select>

				<select id="edit-size" class="span4 chzn-select">
					<option>25%</option>
					<option>50%</option>
					<option>75%</option>
					<option selected>100%</option>
				</select>

				<button class="btn span4">Crop</button>
				<button class="btn span4">Share</button>
				<button class="btn span4" data-controls-modal="modal-upload-items" data-backdrop="true" data-keyboard="true">Upload new items</button>
				<button class="btn span4">Download</button>

				<h4>Tags</h4>
				<input type="text" placeholder="Tags for this item" />
				<button class="btn">clear</button>

				<hr class="separator"/>
				<button class="btn danger" data-controls-modal="modal-delete-items" data-backdrop="true" data-keyboard="true">Delete</button>
			</div>

			<div class="span12">

				<figure id="edit-image-wrap">
					<img src="./img/tmp_share.jpg" width="100%" height="auto" />
				</figure>

			</div>
		</div>

	</div>
</div> <!-- /container -->