<div id="closet-view" class="container marge">

	<div class="content">
		<div class="page-header">
			<a class="ur-sm-avatar" href="#profile" rel="tip" data-placement="right" data-original-title="Mister Fabulous (You)"><img class="thumbnail" src="./img/ruso.png" style="width:36px; height:36px;" alt=""></a>
			<h1>Closet <small>OMG So much glittery stuff..</small></h1>
		</div>

		<div class="row">
			<div class="span16 closet">


			</div>
		</div>

		<div class="row">
			<div class="span4 sidebar">
				<div id="side-box">
					<h3>Options</h3>

						<select id="closet-categories-filter" class="span4 chzn-select" multiple>
							<option>Shelf 1</option>
							<option>Shelf 2</option>
							<option>Shelf 3</option>
							<option>Shelf 4</option>
						</select>

					<button id="btn-create-new-look" class="btn primary large span4" data-toggle="toggle">Create a look</button>
					<fieldset id="closet-create-look">
						<input type="text" class="span3" placeholder="Look title.."/>
						<div class="ac well" style="margin-top: 9px; margin-bottom: 9px;">Drop area</div>
						<button class="btn primary">Save</button>
						<button class="btn">Share</button>
						<button class="btn">Clear</button>
					</fieldset>

					<button class="btn span4" data-controls-modal="modal-upload-items" data-backdrop="true" data-keyboard="true">Upload new items</button>
				</div>
				&nbsp;
			</div>

			<div class="span12">

				<div id="st-accordion" class="st-accordion">
					<ul>
						<li>
							<a href="#"><b class="label">16 items</b>Shelf title 1<span class="st-arrow">Open/Close</span></a>
							<div class="st-content">
								<h2 class="st-content-title">80's style
									<span class="label info">6 items</span>
								</h2>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>

								<hr class="separator-shelf"/>

								<h2 class="st-content-title">90's style
									<span class="label info">4 items</span>
								</h2>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>

								<hr class="separator-shelf"/>

								<h2 class="st-content-title">2K's style
									<span class="label info">2 items</span>
								</h2>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>

								<hr class="separator-shelf"/>

								<h2 class="st-content-title">2010's style
									<span class="label info">4 items</span>
								</h2>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
							</div>
						</li>
						<li>
							<a href="#"><b class="label">6 items</b>Shelf title 2<span class="st-arrow">Open/Close</span></a>
							<div class="st-content">
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
							</div>
						</li>
						<li>
							<a href="#"><b class="label">6 items</b>Shelf title 3<span class="st-arrow">Open/Close</span></a>
							<div class="st-content">
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
							</div>
						</li>
						<li>
							<a href="#"><b class="label">6 items</b>Shelf title 4<span class="st-arrow">Open/Close</span></a>
							<div class="st-content">
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
							</div>
						</li>
						<li>
							<a href="#"><b class="label">5 items</b>Shelf title 5<span class="st-arrow">Open/Close</span></a>
							<div class="st-content">
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
								<a href="#edit"><img src="http://placehold.it/120x120" /></a>
							</div>
						</li>
					</ul>
				</div>

			</div>
		</div>

	</div>
</div> <!-- /container -->