<div class="container marge">

	<div class="content">
		<div class="page-header">
			<a class="ur-sm-avatar" href="#profile" rel="tip" data-placement="right" data-original-title="Mister Fabulous (You)"><img class="thumbnail" src="/img/ruso.png" style="width:36px; height:36px;" alt=""></a>
			<h1>Closet <small>OMG So much glittery stuff..</small></h1>
		</div>

		<div class="row">
			<div class="span16 closet">

				<div id="wardrobe" class="accordion"> 
				
					<ol>
						<li>
							<h2><span>Headwear</span></h2>
							<div>
							<div class="accordion-subgroup">
								<h3>Super-Duper Head bang <label class="closet-group-item-count">7 Items</label></h3>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
							</div>
							</div>
						</li>
						<li>
							<h2><span>Tops</span></h2>
							<div>
							<div class="accordion-subgroup">
								<h3>Prom stuff, wear once and forget <label class="closet-group-item-count">7 Items</label></h3>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
							</div>
							<div class="accordion-subgroup">
								<h3>Party Baby. Party! <label class="closet-group-item-count">13 Items</label></h3>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
							</div>
							</div>
						</li>
						<li>
							<h2><span>Bottoms</span></h2>
							<div>
							<div class="accordion-subgroup">
								<h3>Stuff can't live without. <label class="closet-group-item-count">6 Items</label></h3>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
							</div>
							<div class="accordion-subgroup">
								<h3>Chrismas presents from Mom. <label class="closet-group-item-count">11 Items</label></h3>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
							</div>
							</div>
						</li>
						<li>
							<h2><span>Footwear</span></h2>
							<div>
							<div class="accordion-subgroup">
								<h3>Starter Shoe Kit <label class="closet-group-item-count">18 Items</label></h3>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
							</div>
							<div class="accordion-subgroup">
								<h3>Evening Classy Stuff OMG OMG OMG &hearts; <label class="closet-group-item-count">5 Items</label></h3>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
							</div>
							<div class="accordion-subgroup">
								<h3>Daily, Casual <label class="closet-group-item-count">11 Items</label></h3>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
							</div>
							</div>
						</li>
						<li>
							<h2><span>Accessories</span></h2>
							<div>
							<div class="accordion-subgroup">
								<h3>OMG, It's my bling bling <label class="closet-group-item-count">5 Items</label></h3>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
								<figure class="closet-item"><span class="closet-item-comments-counter">0</span><a href="#overlay-runway"><img class="closet-item-image" alt="Photo" src="http://placehold.it/69x69" ></a></figure>
							</div>
							</div>
						</li>
					</ol>
					<noscript>
						<p>Please enable JavaScript to get the full experience.</p>
					</noscript>
						
				</div>

			</div>
		</div>

		<div class="row">
			<div class="span4 sidebar">
				<h3 id="tour-tabs">Quick menu</h3>
				<button class="btn primary large span4" data-toggle="toggle" data-controls-modal="modal-upload-items" data-backdrop="true" data-keyboard="true">Upload new items</button>
				<button class="btn span4" data-toggle="toggle">Share a look</button>
			</div>

			<div class="span12">

				<div class="alert-message block-message notice fade in" data-alert="alert" >
					<a class="close" href="#">&times;</a>
					<p><span class="label success">Noob alert</span> <strong>Oh snap! First time in the closet?</strong> Would you like to run a site tour to familirize yourself with the interface options?</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
					<div class="alert-actions">
						<a class="btn small" href="#">Yeah!</a> <a class="btn small" href="#">Next time..</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Site tour guide -->
	<ol id="tourContent">
		<li data-id="tour-roundabout" data-text="Next: Tabs">
			<p>Roundabout can contain any content</p>
		</li>
		<li data-id="tour-tabs" data-text="Next: Forms">
			<p>Tabs are versilite and easy to use</p>
		</li>
		<li data-id="tour-forms" data-text="Next: Alerts">
			<p>all controls for the current table</p>
		</li>
		<li data-id="tour-alerts" data-text="Finish!">
			<p>table pager</p>
		</li>
	</ol>

</div> <!-- /container -->