<style>
/*html, body { overflow: hidden; }*/
</style>
<div class="container fullscreen">

	<div class="content">
		<div class="page-header">
			<a class="ur-sm-avatar" href="#profile" rel="tip" data-placement="right" data-original-title="Mister Fabulous (You)"><img class="thumbnail" src="./img/ruso.png" style="width:36px; height:36px;" alt=""></a>
			<h1>Item Title <small>+ Description?..</small></h1>
		</div>

		<div class="row">
			<div class="span12">
				<figure id="view-image-wrap">
					<img src="./img/tmp_share.jpg" width="auto" height="auto" />
				</figure>

				<nav class="well">
					thumbnail carausel for related items
				</nav>
			</div>

			<div class="span4 sidebar">
				<h3>sidebar</h3>
								<p>hide-able panel, comments here</p>
			</div>
		</div>

	</div>
</div> <!-- /container -->